In [4]:
import os
os.chdir('../../')

In [5]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [28]:
df_train = pd.read_csv('data/middle/for_not_gbdt/train_for_not_gbdt_encoded.csv')
df_test = pd.read_csv('data/middle/for_not_gbdt/test_for_not_gbdt_encoded.csv')

In [29]:
# Age, DurationOfPitch, MonthlyIncomeを、数値変換の前の値に戻す

columns = ['Age', 'DurationOfPitch', 'MonthlyIncome']
for col in columns:
    df_train[col] = np.expm1(df_train[col])
    df_test[col] = np.expm1(df_test[col])

In [30]:
columns = [
    'Age',
    'DurationOfPitch',
    'NumberOfPersonVisiting',
    'NumberOfFollowups',
    'NumberOfTrips',
    'MonthlyIncome',
    'Motivation',
    'EconomicPower',
    'TripEasier',
    'LivingCost',
    'EconomicStability',
    'NumberOfTrips_log',
    'TravelCost',
    'PackageMatch',
    'Monetary',
    'ContractRate_FM',
    'ContractRate_G1',
    'ContractRate_G2',
    'ContractRate_G3',
    'ContractRate_G4',
    'ContractRate_G5',
    'ContractRate_G6'
]

In [31]:
for col in columns:
    scaler = StandardScaler()
    df_concat = pd.concat([df_train[[col]], df_test[[col]]])
    scaler.fit(df_concat)
    df_train[col] = scaler.transform(df_train[[col]])
    df_test[col] = scaler.transform(df_test[[col]])

In [32]:
display(df_train.iloc[:5, :16])
display(df_test.iloc[:5, :16])

,id,Age,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,NumberOfTrips,MonthlyIncome,ProdTaken,Motivation,EconomicPower,TripEasier,SalesPerformance,LivingCost,EconomicStability,NumberOfTrips_log,TravelCost
0,0,-0.106774,0.074192,-1.908669,0.370919,0.094337,-1.336333,1,0.823598,-0.257555,4.396581,2.351729,0.921125,0.255018,0.475627,-0.260912
1,1,0.020246,-0.070297,-1.908669,0.370919,-0.561977,0.646687,0,0.823598,1.365686,-0.027643,2.375794,-0.087798,1.050617,-0.727726,-0.927696
2,2,-0.107089,-0.648256,-1.908669,-0.669802,-0.124434,-1.017090,1,-1.427745,0.216175,1.742046,1.875412,-0.527451,0.302080,0.159104,-0.436299
3,3,-0.107089,0.507661,-1.908669,-0.669802,-0.780749,-0.376234,0,-1.427745,-0.885597,-0.027643,2.147262,0.722437,-0.359401,-1.431642,-0.503365
4,4,-0.107046,0.363172,-1.908669,-0.669802,-0.124434,-1.276672,1,-1.427745,-2.052175,4.396581,1.731967,2.604916,-1.343887,0.159104,0.818796

,id,Age,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,NumberOfTrips,MonthlyIncome,Motivation,EconomicPower,TripEasier,SalesPerformance,LivingCost,EconomicStability,NumberOfTrips_log,TravelCost,EconomicSegment
0,3489,-0.107046,-0.214787,-1.908669,0.370919,0.531880,1.864591,-1.223078,-0.100052,-0.912488,1.801646,0.334865,0.293900,0.975063,0.015828,10
1,3490,-0.107089,-0.359277,-1.908669,0.370919,-0.124434,-0.729258,0.823598,-0.901038,-0.027643,1.823531,0.368488,-0.398552,0.159104,-0.436299,3
2,3491,-0.107089,-0.792746,-1.908669,0.370919,-0.780749,-1.256061,-1.223078,0.197918,1.742046,1.430065,-0.003284,-0.269009,-1.431642,-1.317740,13
3,3492,-0.107089,-1.081725,-1.908669,0.370919,-0.780749,-1.257708,-1.223078,-0.252104,1.742046,1.489417,0.599323,0.803263,-1.431642,-0.503365,20
4,3493,-0.107089,-1.081725,-1.908669,0.370919,-0.780749,-1.139769,-1.223078,1.221965,4.396581,1.985889,-0.278003,-0.253208,-1.431642,-1.317740,13

In [33]:
display(df_train.iloc[:5, 17:32])
display(df_test.iloc[:5, 16:31])

,PackageMatch,Monetary,ContractRate_FM,ContractRate_G1,ContractRate_G2,ContractRate_G3,ContractRate_G4,ContractRate_G5,ContractRate_G6,TypeofContact_No,TypeofContact_Self Enquiry,CityTier_2,CityTier_3,Occupation_Salaried,Occupation_Small Business
0,1.106236,0.395944,-0.024652,0.740316,2.302328,2.121263,0.380589,2.064126,0.408270,0,1,1,0,0,0
1,1.106236,-0.703462,-0.490538,-0.261262,0.690447,0.391626,-0.363314,0.347560,-0.367516,0,0,0,0,1,0
2,1.106236,0.108415,0.301973,0.503550,0.184758,0.550507,0.923725,0.568493,0.934662,0,1,0,0,0,0
3,-0.609549,-1.432719,2.889280,-0.826939,-0.843754,-0.572644,-0.586695,-0.575930,-0.591938,0,1,1,0,0,1
4,-0.609549,0.092389,0.301973,-0.439253,-0.556480,0.290960,0.667515,0.292144,0.671668,0,0,0,1,0,1

,PackageMatch,Monetary,ContractRate_FM,ContractRate_G1,ContractRate_G2,ContractRate_G3,ContractRate_G4,ContractRate_G5,ContractRate_G6,TypeofContact_No,TypeofContact_Self Enquiry,CityTier_2,CityTier_3,Occupation_Salaried,Occupation_Small Business
0,-2.325333,1.070199,-0.024652,-1.065204,-0.921435,-0.967374,-1.121157,-0.646147,-0.711146,0,1,1,0,0,1
1,1.106236,0.124909,0.301973,-0.826939,0.368070,0.268081,-0.586695,0.259531,-0.591938,0,1,1,0,0,1
2,1.106236,-1.454195,2.889280,1.236298,0.920715,1.641030,2.128990,1.646616,2.115311,0,1,0,0,1,0
3,-0.609549,-1.454241,2.889280,2.493610,1.986960,1.641030,2.128990,-0.228198,0.084629,0,0,1,0,1,0
4,1.106236,-1.451059,2.889280,1.150661,0.675659,0.290960,0.667515,0.292144,0.671668,0,0,0,0,1,0

In [34]:
display(df_train.iloc[:5, 32:45])
display(df_test.iloc[:5, 31:45])

,Gender_male,ProductPitched_Deluxe,ProductPitched_King,ProductPitched_Standard,ProductPitched_Super Deluxe,PreferredPropertyStar_4,PreferredPropertyStar_5,Passport_1,PitchSatisfactionScore_2,PitchSatisfactionScore_3,PitchSatisfactionScore_4,PitchSatisfactionScore_5,Designation_Executive
0,1,0,0,0,0,0,0,1,0,0,1,0,1
1,1,0,0,1,0,0,0,1,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,1,0,1
3,0,0,0,1,0,1,0,0,0,0,0,1,0
4,0,0,0,0,0,1,0,0,0,0,1,0,1

,Gender_male,ProductPitched_Deluxe,ProductPitched_King,ProductPitched_Standard,ProductPitched_Super Deluxe,PreferredPropertyStar_4,PreferredPropertyStar_5,Passport_1,PitchSatisfactionScore_2,PitchSatisfactionScore_3,PitchSatisfactionScore_4,PitchSatisfactionScore_5,Designation_Executive,Designation_Manager
0,1,0,0,0,1,0,0,0,0,1,0,0,0,0
1,0,0,0,1,0,0,0,1,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,1,0
3,1,0,0,0,0,1,0,0,0,1,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,1,0,1,0

In [35]:
display(df_train.iloc[:5, 45:])
display(df_test.iloc[:5, 45:])

,Designation_Manager,Designation_Senior Manager,Designation_VP,Marry_Married,Marry_Single,Car_No Car,Child_1_child,Child_2_child,Child_3_child,AgeGroup_20s,...,AgeGroup_50s,AgeGroup_60s,TypeofContactNULL_1,Child01_1,IsFamily_1,FreaqencySeg_1,FreaqencySeg_2,MonetarySeg_2,MonetarySeg_3,MonetarySeg_4
0,0,0,0,0,1,1,0,0,0,0,...,1,0,0,0,0,1,0,0,1,0
1,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
2,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

,Designation_Senior Manager,Designation_VP,Marry_Married,Marry_Single,Car_No Car,Child_1_child,Child_2_child,Child_3_child,AgeGroup_20s,AgeGroup_30s,...,AgeGroup_50s,AgeGroup_60s,TypeofContactNULL_1,Child01_1,IsFamily_1,FreaqencySeg_1,FreaqencySeg_2,MonetarySeg_2,MonetarySeg_3,MonetarySeg_4
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,1,0
1,1,0,1,0,1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0
2,0,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
df_train.to_csv('data/feature_engineered/null_cat/train_scaled_for_not_gbdt.csv', index=False)
df_test.to_csv('data/feature_engineered/null_cat/test_scaled_for_not_gbdt.csv', index=False)