In [1]:
import os
os.chdir('../../')

In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [13]:
df_train = pd.read_csv('data/middle/for_not_gbdt/train_null_mean_for_not_gbdt_encoded.csv')
df_test = pd.read_csv('data/middle/for_not_gbdt/test_null_mean_for_not_gbdt_encoded.csv')

In [14]:
# Age, DurationOfPitch, MonthlyIncomeを、数値変換の前の値に戻す

columns = ['Age', 'DurationOfPitch', 'MonthlyIncome']
for col in columns:
    df_train[col] = np.expm1(df_train[col])
    df_test[col] = np.expm1(df_test[col])

In [15]:
columns = [
    'Age',
    'DurationOfPitch',
    'NumberOfPersonVisiting',
    'NumberOfFollowups',
    'NumberOfTrips',
    'MonthlyIncome',
    'Motivation',
    'EconomicPower',
    'TripEasier',
    'LivingCost',
    'EconomicStability',
    'NumberOfTrips_log',
    'TravelCost',
    'PackageMatch',
    'Monetary',
    'ContractRate_FM',
    'ContractRate_G1',
    'ContractRate_G2',
    'ContractRate_G3',
    'ContractRate_G4',
    'ContractRate_G5',
    'ContractRate_G6'
]

In [16]:
for col in columns:
    scaler = StandardScaler()
    df_concat = pd.concat([df_train[[col]], df_test[[col]]])
    scaler.fit(df_concat)
    df_train[col] = scaler.transform(df_train[[col]])
    df_test[col] = scaler.transform(df_test[[col]])

In [17]:
display(df_train.iloc[:5, :16])
display(df_test.iloc[:5, :16])

,id,Age,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,NumberOfTrips,MonthlyIncome,ProdTaken,Motivation,EconomicPower,TripEasier,SalesPerformance,LivingCost,EconomicStability,NumberOfTrips_log,TravelCost
0,0,-0.106774,0.077154,-1.908669,0.370919,0.094069,-1.352764,1,0.823598,-0.258113,4.396581,2.351729,0.919991,0.254113,0.473143,-0.262398
1,1,0.020246,-0.067486,-1.908669,0.370919,-0.562343,0.639735,0,0.823598,1.364649,-0.027643,2.375794,-0.088916,1.050145,-0.729951,-0.928875
2,2,-0.107089,-0.646043,-1.908669,-0.669802,-0.124735,-1.031995,1,-1.427745,0.215477,1.742046,1.875412,-0.528561,0.301200,0.156688,-0.437704
3,3,-0.107089,0.511072,-1.908669,-0.669802,-0.781147,-0.388075,0,-1.427745,-0.885971,-0.027643,2.147262,0.721306,-0.360641,-1.433715,-0.504739
4,4,-0.107046,0.366432,-1.908669,-0.669802,-0.124735,-1.292818,1,-1.427745,-2.052204,4.396581,1.731967,2.603753,-1.345663,0.156688,0.816815

,id,Age,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,NumberOfTrips,MonthlyIncome,Motivation,EconomicPower,TripEasier,SalesPerformance,LivingCost,EconomicStability,NumberOfTrips_log,TravelCost,EconomicSegment
0,3489,-0.107046,-0.212125,-1.908669,0.370919,0.531676,1.863460,-1.223078,-0.100656,-0.912488,1.801646,0.333740,0.293016,0.972472,0.014216,10
1,3490,-0.107089,-0.356765,-1.908669,0.370919,-0.124735,-0.742787,0.823598,-0.901407,-0.027643,1.823531,0.367363,-0.399813,0.156688,-0.437704,3
2,3491,-0.107089,-0.790683,-1.908669,0.370919,-0.781147,-1.272108,-1.223078,0.197226,1.742046,1.430065,-0.004403,-0.270199,-1.433715,-1.318740,13
3,3492,-0.107089,-1.079962,-1.908669,0.370919,-0.781147,-1.273762,-1.223078,-0.252664,1.742046,1.489417,0.598194,0.802657,-1.433715,-0.504739,20
4,3493,-0.107089,-1.079962,-1.908669,0.370919,-0.781147,-1.155261,-1.223078,1.220971,4.396581,1.985889,-0.279117,-0.254390,-1.433715,-1.318740,13

In [18]:
display(df_train.iloc[:5, 17:32])
display(df_test.iloc[:5, 16:31])

,PackageMatch,Monetary,ContractRate_FM,ContractRate_G1,ContractRate_G2,ContractRate_G3,ContractRate_G4,ContractRate_G5,ContractRate_G6,AgeNull,DurationOfPitchNull,NumberOfTripsNull,MonthlyIncomeNull,TypeofContact_No,TypeofContact_Self Enquiry
0,1.106236,0.392761,0.078726,0.744879,2.321620,2.136967,0.382713,2.079504,0.410673,0,0,0,0,0,1
1,1.106236,-0.705959,-0.546159,-0.264132,0.695745,0.393638,-0.367132,0.349432,-0.371010,0,0,0,0,0,0
2,1.106236,0.105411,0.368799,0.543576,0.226743,0.613024,0.994411,0.629469,1.003059,1,0,0,0,0,1
3,-0.609549,-1.434762,2.836845,-0.834008,-0.851774,-0.578265,-0.592298,-0.581324,-0.597139,0,0,0,0,0,1
4,-0.609549,0.089394,0.368799,-0.443445,-0.562007,0.292174,0.671930,0.293580,0.676073,0,0,0,0,0,0

,PackageMatch,Monetary,ContractRate_FM,ContractRate_G1,ContractRate_G2,ContractRate_G3,ContractRate_G4,ContractRate_G5,ContractRate_G6,AgeNull,DurationOfPitchNull,NumberOfTripsNull,MonthlyIncomeNull,TypeofContact_No,TypeofContact_Self Enquiry
0,-2.325333,1.066595,0.078726,-1.074041,-0.930129,-0.976121,-1.131029,-0.648686,-0.713387,0,0,0,0,0,1
1,1.106236,0.121895,0.368799,-0.834008,0.370570,0.269114,-0.592298,0.260710,-0.597139,0,0,0,0,0,1
2,1.106236,-1.456225,2.836845,1.202695,0.882321,1.586507,2.080887,1.594083,2.068679,0,0,0,0,0,1
3,-0.609549,-1.456270,2.836845,2.437851,1.924184,1.586507,2.080887,-0.230855,0.084572,0,0,0,0,0,0
4,1.106236,-1.453090,2.836845,1.158270,0.680829,0.292174,0.671930,0.293580,0.676073,0,0,0,0,0,0

In [19]:
display(df_train.iloc[:5, 32:45])
display(df_test.iloc[:5, 31:44])

,CityTier_2,CityTier_3,Occupation_Salaried,Occupation_Small Business,Gender_male,ProductPitched_Deluxe,ProductPitched_King,ProductPitched_Standard,ProductPitched_Super Deluxe,PreferredPropertyStar_4,PreferredPropertyStar_5,Passport_1,PitchSatisfactionScore_2
0,1,0,0,0,1,0,0,0,0,0,0,1,0
1,0,0,1,0,1,0,0,1,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,1,0,0,0,1,0,1,0,0,0
4,0,1,0,1,0,0,0,0,0,1,0,0,0

,CityTier_2,CityTier_3,Occupation_Salaried,Occupation_Small Business,Gender_male,ProductPitched_Deluxe,ProductPitched_King,ProductPitched_Standard,ProductPitched_Super Deluxe,PreferredPropertyStar_4,PreferredPropertyStar_5,Passport_1,PitchSatisfactionScore_2
0,1,0,0,1,1,0,0,0,1,0,0,0,0
1,1,0,0,1,0,0,0,1,0,0,0,1,0
2,0,0,1,0,0,0,0,0,0,0,0,0,0
3,1,0,1,0,1,0,0,0,0,1,0,0,0
4,0,0,1,0,1,0,0,0,0,0,0,0,0

In [20]:
display(df_train.iloc[:5, 45:])
display(df_test.iloc[:5, 44:])

,PitchSatisfactionScore_3,PitchSatisfactionScore_4,PitchSatisfactionScore_5,Designation_Executive,Designation_Manager,Designation_Senior Manager,Designation_VP,Marry_Married,Marry_Single,Car_No Car,...,AgeGroup_50s,AgeGroup_60s,TypeofContactNULL_1,Child01_1,IsFamily_1,FreaqencySeg_1,FreaqencySeg_2,MonetarySeg_2,MonetarySeg_3,MonetarySeg_4
0,0,1,0,1,0,0,0,0,1,1,...,1,0,0,0,0,1,0,0,1,0
1,0,1,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
2,0,1,0,1,0,0,0,1,0,1,...,0,0,0,0,1,0,0,0,1,0
3,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0

,PitchSatisfactionScore_3,PitchSatisfactionScore_4,PitchSatisfactionScore_5,Designation_Executive,Designation_Manager,Designation_Senior Manager,Designation_VP,Marry_Married,Marry_Single,Car_No Car,...,AgeGroup_50s,AgeGroup_60s,TypeofContactNULL_1,Child01_1,IsFamily_1,FreaqencySeg_1,FreaqencySeg_2,MonetarySeg_2,MonetarySeg_3,MonetarySeg_4
0,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,1,0,0,1,0
1,1,0,0,0,0,1,0,1,0,1,...,0,0,0,0,1,0,0,0,1,0
2,1,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
df_train.to_csv('data/feature_engineered/null_representative/train_null_mean_scaled.csv', index=False)
df_test.to_csv('data/feature_engineered/null_representative/test_null_mean_scaled.csv', index=False)