In [1]:
import os
os.chdir('../../')

In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [12]:
df_train = pd.read_csv('data/middle/for_not_gbdt/train_null_median_for_not_gbdt_encoded.csv')
df_test = pd.read_csv('data/middle/for_not_gbdt/test_null_median_for_not_gbdt_encoded.csv')

In [13]:
# Age, DurationOfPitch, MonthlyIncomeを、数値変換の前の値に戻す

columns = ['Age', 'DurationOfPitch', 'MonthlyIncome']
for col in columns:
    df_train[col] = np.expm1(df_train[col])
    df_test[col] = np.expm1(df_test[col])

In [14]:
columns = [
    'Age',
    'DurationOfPitch',
    'NumberOfPersonVisiting',
    'NumberOfFollowups',
    'NumberOfTrips',
    'MonthlyIncome',
    'Motivation',
    'EconomicPower',
    'TripEasier',
    'LivingCost',
    'EconomicStability',
    'NumberOfTrips_log',
    'TravelCost',
    'PackageMatch',
    'Monetary',
    'ContractRate_FM',
    'ContractRate_G1',
    'ContractRate_G2',
    'ContractRate_G3',
    'ContractRate_G4',
    'ContractRate_G5',
    'ContractRate_G6'
]

In [15]:
for col in columns:
    scaler = StandardScaler()
    df_concat = pd.concat([df_train[[col]], df_test[[col]]])
    scaler.fit(df_concat)
    df_train[col] = scaler.transform(df_train[[col]])
    df_test[col] = scaler.transform(df_test[[col]])

In [16]:
display(df_train.iloc[:5, :16])
display(df_test.iloc[:5, :16])

,id,Age,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,NumberOfTrips,MonthlyIncome,Motivation,EconomicPower,TripEasier,SalesPerformance,LivingCost,EconomicStability,NumberOfTrips_log,TravelCost,EconomicSegment
0,0,-0.106774,0.084773,-1.908669,0.370919,0.096031,-1.349596,0.823598,-0.257971,4.396581,2.351729,0.920255,0.254360,0.478605,-0.259081,0
1,1,0.020246,-0.059754,-1.908669,0.370919,-0.560074,0.642381,0.823598,1.364923,-0.027643,2.375794,-0.088633,1.050311,-0.724880,-0.925945,1
2,2,-0.107089,-0.637862,-1.908669,-0.669802,-0.122671,-1.028911,-1.427745,0.215658,1.742046,1.875412,-0.528270,0.301442,0.162047,-0.434489,2
3,3,-0.107089,0.518355,-1.908669,-0.669802,-0.778775,-0.385160,-1.427745,-0.885879,-0.027643,2.147262,0.721574,-0.360332,-1.428874,-0.501562,3
4,4,-0.107046,0.373828,-1.908669,-0.669802,-0.122671,-1.289666,-1.427745,-2.052208,4.396581,1.731967,2.603987,-1.345254,0.162047,0.820758,4

,id,Age,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,NumberOfTrips,MonthlyIncome,Motivation,EconomicPower,TripEasier,SalesPerformance,LivingCost,EconomicStability,NumberOfTrips_log,TravelCost,EconomicSegment
0,3489,-0.107046,-0.204281,-1.908669,0.370919,0.533434,1.865785,-1.223078,-0.100501,-0.912488,1.801646,0.334015,0.293259,0.978097,0.017693,10
1,3490,-0.107089,-0.348808,-1.908669,0.370919,-0.122671,-0.739779,0.823598,-0.901317,-0.027643,1.823531,0.367637,-0.399500,0.162047,-0.434489,3
2,3491,-0.107089,-0.782389,-1.908669,0.370919,-0.778775,-1.268961,-1.223078,0.197405,1.742046,1.430065,-0.004122,-0.269900,-1.428874,-1.316036,13
3,3492,-0.107089,-1.071443,-1.908669,0.370919,-0.778775,-1.270615,-1.223078,-0.252521,1.742046,1.489417,0.598464,0.802848,-1.428874,-0.501562,20
4,3493,-0.107089,-1.071443,-1.908669,0.370919,-0.778775,-1.152144,-1.223078,1.221233,4.396581,1.985889,-0.278831,-0.254092,-1.428874,-1.316036,13

In [17]:
display(df_train.iloc[:5, 17:32])
display(df_test.iloc[:5, 16:31])

,Monetary,ContractRate_FM,ContractRate_G1,ContractRate_G2,ContractRate_G3,ContractRate_G4,ContractRate_G5,ContractRate_G6,Car_Child,AgeNull,DurationOfPitchNull,NumberOfTripsNull,MonthlyIncomeNull,TypeofContact_No,TypeofContact_Self Enquiry
0,0.398637,0.011385,0.744879,2.321620,2.136967,0.382713,2.079504,0.410673,No Car_0_child,0,0,0,0,0,1
1,-0.700959,-0.505799,-0.264132,0.695745,0.393638,-0.367132,0.349432,-0.371010,Has Car_0_child,0,0,0,0,0,0
2,0.111059,0.374644,0.543576,0.226743,0.613024,0.994411,0.629469,1.003059,No Car_0_child,1,0,0,0,0,1
3,-1.430343,2.870516,-0.834008,-0.851774,-0.578265,-0.592298,-0.581324,-0.597139,Has Car_0_child,0,0,0,0,0,1
4,0.095029,0.374644,-0.443445,-0.562007,0.292174,0.671930,0.293580,0.676073,Has Car_0_child,0,0,0,0,0,0

,PackageMatch,Monetary,ContractRate_FM,ContractRate_G1,ContractRate_G2,ContractRate_G3,ContractRate_G4,ContractRate_G5,ContractRate_G6,Car_Child,AgeNull,DurationOfPitchNull,NumberOfTripsNull,MonthlyIncomeNull,TypeofContact_No
0,-2.325333,1.073008,0.011385,-1.074041,-0.930129,-0.976121,-1.131029,-0.648686,-0.713387,Has Car_0_child,0,0,0,0,0
1,1.106236,0.127555,0.374644,-0.834008,0.370570,0.269114,-0.592298,0.260710,-0.597139,No Car_0_child,0,0,0,0,0
2,1.106236,-1.451822,2.870516,1.202695,0.882321,1.586507,2.080887,1.594083,2.068679,No Car_0_child,0,0,0,0,0
3,-0.609549,-1.451867,2.870516,2.437851,1.924184,1.586507,2.080887,-0.230855,0.084572,Has Car_0_child,0,0,0,0,0
4,1.106236,-1.448685,2.870516,1.158270,0.680829,0.292174,0.671930,0.293580,0.676073,Has Car_0_child,0,0,0,0,0

In [18]:
display(df_train.iloc[:5, 32:45])
display(df_test.iloc[:5, 31:44])

,CityTier_2,CityTier_3,Occupation_Salaried,Occupation_Small Business,Gender_male,ProductPitched_Deluxe,ProductPitched_King,ProductPitched_Standard,ProductPitched_Super Deluxe,PreferredPropertyStar_4,PreferredPropertyStar_5,Passport_1,PitchSatisfactionScore_2
0,1,0,0,0,1,0,0,0,0,0,0,1,0
1,0,0,1,0,1,0,0,1,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,1,0,0,0,1,0,1,0,0,0
4,0,1,0,1,0,0,0,0,0,1,0,0,0

,TypeofContact_Self Enquiry,CityTier_2,CityTier_3,Occupation_Salaried,Occupation_Small Business,Gender_male,ProductPitched_Deluxe,ProductPitched_King,ProductPitched_Standard,ProductPitched_Super Deluxe,PreferredPropertyStar_4,PreferredPropertyStar_5,Passport_1
0,1,1,0,0,1,1,0,0,0,1,0,0,0
1,1,1,0,0,1,0,0,0,1,0,0,0,1
2,1,0,0,1,0,0,0,0,0,0,0,0,0
3,0,1,0,1,0,1,0,0,0,0,1,0,0
4,0,0,0,1,0,1,0,0,0,0,0,0,0

In [19]:
display(df_train.iloc[:5, 45:])
display(df_test.iloc[:5, 44:])

,PitchSatisfactionScore_3,PitchSatisfactionScore_4,PitchSatisfactionScore_5,Designation_Executive,Designation_Manager,Designation_Senior Manager,Designation_VP,Marry_Married,Marry_Single,Car_No Car,...,Marry_Child_Divorced_2_child,Marry_Child_Divorced_3_child,Marry_Child_Married_0_child,Marry_Child_Married_1_child,Marry_Child_Married_2_child,Marry_Child_Married_3_child,Marry_Child_Single_0_child,Marry_Child_Single_1_child,Marry_Child_Single_2_child,Marry_Child_Single_3_child
0,0,1,0,1,0,0,0,0,1,1,...,0,0,0,0,0,0,1,0,0,0
1,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,1,0,0,0,1,0,1,...,0,0,1,0,0,0,0,0,0,0
3,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0

,PitchSatisfactionScore_2,PitchSatisfactionScore_3,PitchSatisfactionScore_4,PitchSatisfactionScore_5,Designation_Executive,Designation_Manager,Designation_Senior Manager,Designation_VP,Marry_Married,Marry_Single,...,Marry_Child_Divorced_2_child,Marry_Child_Divorced_3_child,Marry_Child_Married_0_child,Marry_Child_Married_1_child,Marry_Child_Married_2_child,Marry_Child_Married_3_child,Marry_Child_Single_0_child,Marry_Child_Single_1_child,Marry_Child_Single_2_child,Marry_Child_Single_3_child
0,0,1,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
1,0,1,0,0,0,0,1,0,1,0,...,0,0,1,0,0,0,0,0,0,0
2,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0

In [20]:
df_train.to_csv('data/feature_engineered/null_representative/train_null_median_scaled.csv', index=False)
df_test.to_csv('data/feature_engineered/null_representative/test_null_median_scaled.csv', index=False)