In [2]:
import os
os.chdir('../../')

In [3]:
import pandas as pd

In [21]:
df_1 = pd.read_csv('submission/submit_1.csv', header=None)
df_2 = pd.read_csv('submission/submit_2.csv', header=None)
df_3 = pd.read_csv('submission/submit_3.csv', header=None)
df_4 = pd.read_csv('submission/submit_4.csv', header=None)
df_5 = pd.read_csv('submission/submit_5.csv', header=None)

In [22]:
id = df_1.iloc[:, 0].values
pred = (df_1.iloc[:, 1] + df_2.iloc[:, 1] + df_3.iloc[:, 1] + df_4.iloc[:, 1] + df_5.iloc[:, 1]) / 5

In [23]:
df = pd.DataFrame({
    'id': id,
    'pred': pred
})

In [24]:
df

        id      pred
0     3489  0.120114
1     3490  0.247621
2     3491  0.296917
3     3492  0.434647
4     3493  0.242408
...    ...       ...
3484  6973  0.170259
3485  6974  0.018474
3486  6975  0.592563
3487  6976  0.282144
3488  6977  0.018062

[3489 rows x 2 columns]

In [25]:
path = 'submission/submit_30_under_sampling.csv'

In [26]:
df.to_csv(path, index=False, header=None)