In [1]:
import os
os.chdir('../')

In [2]:
import pandas as pd

In [35]:
df_1 = pd.read_csv('submission/submit_2.csv', header=None)
df_2 = pd.read_csv('submission/submit_3.csv', header=None)
df_3 = pd.read_csv('submission/submit_4.csv', header=None)

In [37]:
df = pd.concat([df_1, df_2, df_3], axis=1)

In [38]:
df = df.iloc[:, [1, 3, 5]]

In [40]:
df['ensemble'] = (df.iloc[:, 0] + df.iloc[:, 1] + df.iloc[:, 2]) / 3

In [41]:
df

             1         1         1  ensemble
0     0.106707  0.100772  0.131698  0.113059
1     0.267420  0.341966  0.261307  0.290231
2     0.248299  0.380860  0.337750  0.322303
3     0.380568  0.525810  0.531514  0.479297
4     0.202863  0.222709  0.286238  0.237270
...        ...       ...       ...       ...
3484  0.199992  0.139575  0.139276  0.159614
3485  0.025589  0.028467  0.008130  0.020729
3486  0.533829  0.626565  0.648383  0.602926
3487  0.222886  0.376857  0.229808  0.276517
3488  0.023589  0.026264  0.009579  0.019811

[3489 rows x 4 columns]

In [44]:
df['ensemble'].to_csv('submission/submit_2_3_4.csv', index=False, header=None)