In [1]:
import os
os.chdir("../")

In [2]:
import pandas as pd

In [3]:
from scr.util import *

# Base Infomation

In [4]:
df = pd.read_csv("data/train.csv")

In [5]:
df.head()

,id,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,Designation,MonthlyIncome,customer_info,ProdTaken
0,0,50æ­³,Self Enquiry,2,900ç§’,Large Business,male,1.0,4.0,Basic,3.0,5,1,4,Executive,253905.0,æœªå©š è»Šæœªæ‰€æŒ å­ä¾›ãªã—,1
1,1,56æ­³,Company Invited,1,14åˆ†,Salaried,Male,1.0,4.0,Standard,3.0,2,1,4,Senior Manager,404475.0,"é›¢å©šæ¸ˆã¿,è»Šã‚ã‚Š,å­ä¾›ç„¡ã—",0
2,2,NaN,Self Enquiry,1,10åˆ†,Large Business,Female,1.0,3.0,Basic,3.0,4,0,4,Executive,278145.0,"çµå©šæ¸ˆã¿ã€è‡ªå‹•è»Šæœªæ‰€æœ‰,å­ä¾›ãªã—",1
3,3,ä¸‰åä¸ƒæ­³,Self Enquiry,2,1080ç§’,Small Business,female,1.0,3.0,Standard,4.0,1,0,5,Senior Manager,326805.0,é›¢å©šæ¸ˆã¿ã€è»Šæ‰€æŒã€å­ä¾›ç„¡ã—,0
4,4,48æ­³,Company Invited,3,1020ç§’,Small Business,female,1.0,3.0,Basic,4.0,4,0,4,Executive,258435.0,ç‹¬èº«ï¼è»Šæ‰€æŒï¼ç„¡å­,1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3489 entries, 0 to 3488
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      3489 non-null   int64
 1   Age                     3389 non-null   object
 2   TypeofContact           3483 non-null   object
 3   CityTier                3489 non-null   int64
 4   DurationOfPitch         3368 non-null   object
 5   Occupation              3489 non-null   object
 6   Gender                  3489 non-null   object
 7   NumberOfPersonVisiting  3489 non-null   float64
 8   NumberOfFollowups       3456 non-null   float64
 9   ProductPitched          3489 non-null   object
 10  PreferredPropertyStar   3489 non-null   float64
 11  NumberOfTrips           3467 non-null   object
 12  Passport                3489 non-null   int64
 13  PitchSatisfactionScore  3489 non-null   int64
 14  Designation             3489 non-null   object
 15  MonthlyIncome           3433 non-null   object
 16  customer_info           3489 non-null   object
 17  ProdTaken               3489 non-null   int64
dtypes: float64(3), int64(5), object(10)
memory usage: 490.8+ KB

In [7]:
df.describe()

,id,CityTier,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,Passport,PitchSatisfactionScore,ProdTaken
count,3489.000000,3489.000000,3489.000000,3456.000000,3489.000000,3489.000000,3489.000000,3489.000000
mean,1744.000000,1.697048,2.394669,7.765336,3.441101,0.102608,2.513901,0.142448
std,1007.331872,0.671500,0.726612,39.498670,0.599633,0.303490,1.115412,0.349559
min,0.000000,1.000000,1.000000,1.000000,3.000000,0.000000,1.000000,0.000000
25%,872.000000,1.000000,2.000000,3.000000,3.000000,0.000000,2.000000,0.000000
50%,1744.000000,2.000000,2.000000,4.000000,3.000000,0.000000,2.000000,0.000000
75%,2616.000000,2.000000,3.000000,4.000000,4.000000,0.000000,3.000000,0.000000
max,3488.000000,3.000000,4.000000,600.000000,5.000000,1.000000,5.000000,1.000000

In [8]:
df.isna().sum()

id                          0
Age                       100
TypeofContact               6
CityTier                    0
DurationOfPitch           121
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups          33
ProductPitched              0
PreferredPropertyStar       0
NumberOfTrips              22
Passport                    0
PitchSatisfactionScore      0
Designation                 0
MonthlyIncome              56
customer_info               0
ProdTaken                   0
dtype: int64

In [9]:
tmp = ["TypeofContact", "Occupation", "Gender", "ProductPitched", "NumberOfTrips", "Designation", "customer_info"]
for column in tmp:
    print(column)
    print(df[column].unique(), "\n")

TypeofContact
['Self Enquiry' 'Company Invited' nan]

Occupation
['Large Business' 'Salaried' 'Small Business']

Gender
['male' 'Male' 'Female' 'female' 'ï½†ï½…ï½ï½ï½Œï½…' 'FEMALE' 'ï¼­ï½ï½Œï½…' 'Fe Male' 'MALE'
 'ï½†ï½…\u3000ï½ï½ï½Œï½…' 'fe male' 'ï¼¦ï½…ï½ï½ï½Œï½…' 'ï½ï½ï½Œï½…' 'FE MALE' 'ï¼¦ï½…\u3000ï¼­ï½ï½Œï½…'
 'ï¼¦ï¼¥ï¼­ï¼¡ï¼¬ï¼¥' 'ï¼¦ï¼¥\u3000ï¼­ï¼¡ï¼¬ï¼¥' 'ï¼­ï¼¡ï¼¬ï¼¥']

ProductPitched
['Basic' 'Standard' 'Super Deluxe' 'basic' 'SUPER DELUXE' 'super deluxe'
 'BASIC' 'Deluxe' 'deluxe' 'STANá—ARD' 'STANDARD' 'Ğ’asic' 'DELUXE'
 'ê“¢uper De|uxe' 'Ğ…uper Deluxe' 'BAÕIC' 'BasÄ±c' 'King' 'Super De|uxe'
 'king' 'standard' 'KING' 'BÎ‘SIC' 'Bğ–ºsic' 'De|uxe' 'á ELUXE' 'BasiÏ²'
 'de|uÃ—e' 'DeluÃ—e' 'Standarğ”¡' 'Basiğ˜¤' 'Î’asic' 'Õuper Deluxe' 'StaÕ¸dard'
 'BAê“¢IC' 'á—eluxe' 'Õtandard' 'Î’asÄ±ğ˜¤' 'KÄ±ng' 'Baï½“ic' 'basÄ±c' 'super de|uxe'
 'Standğ–ºrd' 'Sğ˜µandard' 'ğŠ¡asic' 'Stğ–ºndard' 'Super á—eluxe' 'de|uxe'
 'ï½“uper deluxe' 'STANDARá ' 'BasiÑ' 'DÎ•LUXÎ•' 'ê“¢uper Deluxe' 'BASÎ™C'
 'ê“¢tandard' 'Ğ’ğ–ºsic' 'Standağ˜³d' 'basiÏ²' 'staÕ¸dard' 'Super á eluxe' 'DELUXÎ•'
 'Ğ…tandard' 'ğŠ¡asiğ˜¤' 'á eluxe' 'KÄ±Õ¸g' 'ğ™³eluxe' 'KiÕ¸g' 'Î’asÄ±c' 'BASIĞ¡'
 'SUPER DÎ•LUXE' 'Bğ–ºsiğ˜¤' 'Î’ASIĞ¡' 'Super ğ™³eluxe' 'Õtandağ˜³d' 'BasÄ±Ï²'
 'Ğ…TANDARD']

NumberOfTrips
['5' '2' '4' '1' 'å¹´ã«1å›' 'å¹´ã«2å›' 'å¹´ã«6å›' '3' 'å¹´ã«5å›' '7' '6' 'åŠå¹´ã«1å›' 'å¹´ã«4å›'
 'å¹´ã«3å›' '8' 'å¹´ã«8å›' nan 'å¹´ã«7å›' 'å››åŠæœŸã«1å›']

Designation
['Executive' 'Senior Manager' 'AVP' 'Manager' 'Senior Manageğ™§' 'Execuï½”ive'
 'Îœanager' 'VP' 'SĞµnior Manager' 'Î‘VP' 'ĞVP' 'EÃ—ecutive' 'MÎ±nageğ™§'
 'ExecutiÑµĞµ' 'Ğ…enior Manager' 'ManagĞµr' 'Ğ•xecutivĞµ' 'Senior ÎœanÎ±ger'
 'Ğ•xecuï½”ive' 'ExĞµcutivĞµ' 'ExĞµcutive' 'Senior ManagĞµğ™§' 'Manageğ™§'
 'Senioğ™§ Manager' 'ManÎ±ger' 'Îœanageğ™§' 'ManÎ±gĞµr' 'Senior ManagĞµr'
 'ExecutivĞµ' 'ExecutiÑµe' 'Ğ•Ã—Ğµcutive' 'Ğ•xecutive' 'Vï¼°' 'Õenior Îœanager'
 'ExĞµcutiÑµĞµ' 'Senior ManÎ±ger' 'MÎ±nager' 'Senior MÎ±nÎ±ger' 'EÃ—ĞµcutiÑµe'
 'Ğ…enior ManÎ±ger' 'ExĞµcï½•tive' 'Execï½•tive' 'MÎ±nÎ±ger' 'ÎœanagĞµr' 'EÃ—ecï½•tive'
 'SĞµnior ManagĞµr' 'Õenior Manager' 'AVï¼°' 'ExĞµcï½•tivĞµ' 'MÎ±nagĞµr' 'Ğ•xĞµcutivĞµ'
 'Senior MÎ±nager' 'Ğ•Ã—ecutive']

customer_info
['æœªå©š è»Šæœªæ‰€æŒ å­ä¾›ãªã—' 'é›¢å©šæ¸ˆã¿,è»Šã‚ã‚Š,å­ä¾›ç„¡ã—' 'çµå©šæ¸ˆã¿ã€è‡ªå‹•è»Šæœªæ‰€æœ‰,å­ä¾›ãªã—' ...
 'çµå©šæ¸ˆã¿,è»Šä¿æœ‰ãªã—,å­ä¾›æœ‰ã‚Š 1äºº' 'çµå©šæ¸ˆã¿/è‡ªå®¶ç”¨è»Šãªã—/1å…' 'ç‹¬èº«ï¼è»Šæ‰€æŒï¼ã“ã©ã‚‚1äºº']

# Preprocessing

## NuLL

### Age -> age

In [10]:
df["Age"].unique()

array(['50æ­³', '56æ­³', nan, 'ä¸‰åä¸ƒæ­³', '48æ­³', '19æ­³', '47æ­³', '49æ­³', '33æ­³',
       'ï¼“ï¼‘æ­³', '51æ­³', '46æ­³', 'ï¼”ï¼™æ­³', '53æ‰', '20æ­³', '25æ­³', 'äº”åä¸‰æ­³', '20ä»£',
       '44æ­³', '30æ­³', '34æ­³', '29æ­³', '30ä»£', '41æ­³', '50ä»£', '52æ­³', '22æ­³',
       'ï¼“ï¼–æ­³', '28æ­³', '25æ‰', 'äº”åä¸€æ­³', '48æ‰', '38æ‰', 'ä¸‰åä¸‰æ­³', '42éš›', 'ï¼•ï¼ä»£',
       '35æ‰', '59æ­³', 'å››åä¸‰æ­³', '32æ­³', 'ï¼”ï¼’æ‰', '53æ­³', '58æ­³', '40ä»£', 'äºŒåå…­æ­³',
       '52éš›', '54æ­³', '59æ‰', '29æ‰', '21æ‰', '57æ­³', '37æ­³', '35æ­³', '36æ‰',
       '38æ­³', 'ï¼“ï¼—æ­³', '50æ‰', '51æ‰', '43æ­³', 'å››åæ­³', '26æ­³', '31æ­³', '27æ­³',
       '40æ­³', 'ï¼“ï¼”æ­³', '40éš›', '21æ­³', '24æ‰', '45æ­³', '36æ­³', '41æ‰', '38éš›',
       '18æ­³', '39æ­³', 'ï¼”ï¼–æ­³', 'ï¼”ï¼ä»£', 'ï¼•ï¼•æ­³', '58éš›', '24æ­³', '41éš›', 'ä¸‰åä¸€æ­³',
       '52æ‰', 'ï¼“ï¼ä»£', '28æ‰', '55éš›', '60ä»£', '27éš›', 'ï¼“ï¼’æ­³', '60æ­³', 'äº”åå››æ­³',
       '29éš›', 'ä¸‰åå››æ­³', 'ï¼”ï¼—æ­³', '37éš›', 'äºŒåå››æ­³', 'å››åä¸ƒæ­³', '58æ‰', '39æ‰', '23æ‰',
       'ï¼“ï¼“æ­³', 'ï¼”ï¼’æ­³', 'ï¼”ï¼•æ­³', 'ï¼“ï¼™æ­³', 'ï¼•ï¼”æ­³', '55æ­³', '42æ­³', 'ï¼“ï¼˜æ­³', '47æ‰',
       'ï¼•ï¼‘æ­³', 'ï¼“ï¼™æ‰', '51éš›', 'äºŒåä¸ƒæ­³', '30æ‰', 'ï¼’ï¼–æ­³', 'ï¼”ï¼æ­³', '36éš›', 'ä¸‰åæ­³',
       '23æ­³', 'äºŒåäºŒæ­³', '37æ‰', 'ï¼“ï¼æ­³', 'ï¼’ï¼˜æ­³', '34æ‰', 'äº”åæ­³', 'å››åä¸€æ­³', 'ï¼•ï¼™æ­³',
       'ï¼“ï¼•æ­³', 'ï¼’ï¼’æ­³', 'ï¼“ï¼—æ‰', 'å››åä¹æ­³', '42æ‰', 'ï¼”ï¼”æ­³', 'ï¼’ï¼•æ­³', '44éš›', '33æ‰',
       '28éš›', 'ï¼’ï¼”æ‰', '55æ‰', 'ï¼”ï¼˜æ­³', 'å››åå››æ­³', '31æ‰', 'ï¼’ï¼ä»£', 'äºŒåæ­³', '22éš›',
       '31éš›', 'äºŒåä¸‰æ­³', '39éš›', '59éš›', 'ï¼“ï¼“æ‰', 'ä¸‰åå…­æ­³', '10ä»£', 'ï¼’ï¼—æ­³', '49æ‰',
       'ï¼”ï¼“æ­³', '32éš›', 'ï¼”ï¼‘æ­³', '33éš›', 'äºŒåäº”æ­³', '27æ‰', '46éš›', 'äºŒåä¹æ­³', '32æ‰',
       '22æ‰', 'ï¼’ï¼™æ‰', '43æ‰', 'å››åå…«æ­³', '30éš›', 'ï¼’ï¼™æ­³', 'ï¼”ï¼“æ‰', 'ä¸‰åå…«æ­³', 'ï¼”ï¼•æ‰',
       '45æ‰', 'äºŒåä¸€æ­³', '57æ‰', '40æ‰', 'ï¼•ï¼’æ­³', 'ï¼‘ï¼™æ­³', 'ï¼•ï¼“æ­³', '35éš›', '61æ­³',
       '34éš›', 'ï¼’ï¼”æ­³', 'å››åäºŒæ­³', 'ï¼•ï¼–æ‰', '26éš›', 'ï¼•ï¼æ­³', 'äº”åå…«æ­³', '20æ‰', '50éš›',
       '57éš›', '23éš›', 'ï¼‘ï¼™æ‰', 'ï¼•ï¼—æ­³', '26æ‰', 'äº”åå…­æ­³', '54æ‰', 'ï¼•ï¼˜æ­³', 'ï¼–ï¼æ­³',
       'ä¸‰åäº”æ­³', '44æ‰', 'ï¼”ï¼æ‰', 'ï¼’ï¼’æ‰', 'ï¼”ï¼”æ‰', 'ï¼’ï¼˜æ‰', 'ï¼“ï¼˜æ‰', 'ä¸‰åä¹æ­³', '54éš›',
       'äºŒåå…«æ­³', '56éš›', 'äº”åäºŒæ­³', 'ï¼“ï¼–æ‰', '46æ‰', '43éš›', 'ï¼’ï¼æ­³', 'ï¼”ï¼‘æ‰', '24éš›',
       '53éš›', '45éš›', '21éš›', '60éš›', 'ï¼’ï¼‘æ­³', 'ï¼“ï¼•æ‰', 'äº”åäº”æ­³', '47éš›', 'ä¸‰åäºŒæ­³',
       '18éš›', 'å››åå…­æ­³', 'ï¼“ï¼”æ‰', '56æ‰', 'ï¼“ï¼’æ‰', 'ï¼•ï¼–æ­³', 'ï¼”ï¼—æ‰', '49éš›', '48éš›',
       'ï¼•ï¼‘æ‰', 'äº”åä¹æ­³', 'å…­åä¸€æ­³', 'ï¼’ï¼‘æ‰'], dtype=object)

In [11]:
# æ—¥æœ¬èªã‚’ã™ã¹ã¦Intå‹ã«å¤‰æ›
df["age"] = df["Age"].astype(str).apply(japanese_to_int)

# æ¬ æå€¤ã‚’ä¸­å¤®å€¤ã§è£œå®Œ
# japanese_to_inté–¢æ•°ã«ã‚ˆã‚Šã€æ¬ æå€¤ã¯0ã¨å‡ºåŠ›ã•ã‚Œã¦ã„ã‚‹ã€‚
tmp = df[~(df["age"] == 0)]
df.loc[df["age"] == 0, "age"] = tmp["age"].median()

In [12]:
df["age"].unique()

array([50, 56, 38, 37, 48, 19, 47, 49, 33, 31, 51, 46, 53, 20, 25, 44, 30,
       34, 29, 41, 52, 22, 36, 28, 42, 35, 59, 43, 32, 58, 40, 26, 54, 21,
       57, 27, 24, 45, 18, 39, 55, 60, 23, 10, 61], dtype=int64)

### DurationOfPitch -> duration

In [13]:
df["DurationOfPitch"].unique()

array(['900ç§’', '14åˆ†', '10åˆ†', '1080ç§’', '1020ç§’', '16åˆ†', '840ç§’', '22åˆ†',
       '20åˆ†', '11åˆ†', '32åˆ†', '17åˆ†', '24åˆ†', '1380ç§’', '35åˆ†', '420ç§’', '5åˆ†',
       '480ç§’', '8åˆ†', '15åˆ†', '960ç§’', nan, '540ç§’', '26åˆ†', '13åˆ†', '12åˆ†',
       '21åˆ†', '25åˆ†', '720ç§’', '9åˆ†', '7åˆ†', '780ç§’', '6åˆ†', '18åˆ†', '31åˆ†',
       '600ç§’', '23åˆ†', '28åˆ†', '2160ç§’', '660ç§’', '1500ç§’', '1920ç§’', '27åˆ†',
       '33åˆ†', '360ç§’', '1320ç§’', '1740ç§’', '1680ç§’', '29åˆ†', '1620ç§’', '1440ç§’',
       '1800ç§’', '30åˆ†', '34åˆ†', '4åˆ†', '19åˆ†', '1860ç§’', '1260ç§’', '2100ç§’',
       '300ç§’', '2040ç§’', '1200ç§’', '1560ç§’', '1980ç§’', '36åˆ†', '1140ç§’'],
      dtype=object)

In [14]:
# å˜ä½ã‚’ã™ã¹ã¦ç§’ã«çµ±ä¸€
df["duration"] = df["DurationOfPitch"].dropna().apply(convert_to_second)

# æ¬ æå€¤ã‚’ä¸­å¤®å€¤ã§è£œå®Œ
df["duration"] = df["duration"].fillna(df["duration"].median())

In [15]:
df["duration"].unique()

array([ 900.,  840.,  600., 1080., 1020.,  960., 1320., 1200.,  660.,
       1920., 1440., 1380., 2100.,  420.,  300.,  480.,  780.,  540.,
       1560.,  720., 1260., 1500.,  360., 1860., 1680., 2160., 1620.,
       1980., 1740., 1800., 2040.,  240., 1140.])

### NumberOfFollowups, MonthlyIncome, TypeofContact

In [16]:
print("NumberOfFollowups : ", df["NumberOfFollowups"].isna().sum())
print("NumberOfTrips : ", df["NumberOfTrips"].isna().sum())
print("MonthlyIncome : ", df["MonthlyIncome"].isna().sum())
print("TypeofContact : ", df["TypeofContact"].isna().sum())

NumberOfFollowups :  33
NumberOfTrips :  22
MonthlyIncome :  56
TypeofContact :  6

In [17]:
df.dropna(subset=["NumberOfFollowups", "NumberOfTrips", "MonthlyIncome", "TypeofContact"], inplace=True)

In [18]:
print("NumberOfFollowups : ", df["NumberOfFollowups"].isna().sum())
print("NumberOfTrips : ", df["NumberOfTrips"].isna().sum())
print("MonthlyIncome : ", df["MonthlyIncome"].isna().sum())
print("TypeofContact : ", df["TypeofContact"].isna().sum())

NumberOfFollowups :  0
NumberOfTrips :  0
MonthlyIncome :  0
TypeofContact :  0

In [19]:
df.isna().sum()

id                          0
Age                        62
TypeofContact               0
CityTier                    0
DurationOfPitch           107
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
Designation                 0
MonthlyIncome               0
customer_info               0
ProdTaken                   0
age                         0
duration                    0
dtype: int64

In [20]:
df.head()

,id,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,Designation,MonthlyIncome,customer_info,ProdTaken,age,duration
0,0,50æ­³,Self Enquiry,2,900ç§’,Large Business,male,1.0,4.0,Basic,3.0,5,1,4,Executive,253905.0,æœªå©š è»Šæœªæ‰€æŒ å­ä¾›ãªã—,1,50,900.0
1,1,56æ­³,Company Invited,1,14åˆ†,Salaried,Male,1.0,4.0,Standard,3.0,2,1,4,Senior Manager,404475.0,"é›¢å©šæ¸ˆã¿,è»Šã‚ã‚Š,å­ä¾›ç„¡ã—",0,56,840.0
2,2,NaN,Self Enquiry,1,10åˆ†,Large Business,Female,1.0,3.0,Basic,3.0,4,0,4,Executive,278145.0,"çµå©šæ¸ˆã¿ã€è‡ªå‹•è»Šæœªæ‰€æœ‰,å­ä¾›ãªã—",1,38,600.0
3,3,ä¸‰åä¸ƒæ­³,Self Enquiry,2,1080ç§’,Small Business,female,1.0,3.0,Standard,4.0,1,0,5,Senior Manager,326805.0,é›¢å©šæ¸ˆã¿ã€è»Šæ‰€æŒã€å­ä¾›ç„¡ã—,0,37,1080.0
4,4,48æ­³,Company Invited,3,1020ç§’,Small Business,female,1.0,3.0,Basic,4.0,4,0,4,Executive,258435.0,ç‹¬èº«ï¼è»Šæ‰€æŒï¼ç„¡å­,1,48,1020.0

## Extract Features

In [21]:
df = df.drop(columns=["id", "Age", "DurationOfPitch"], axis=1)

In [22]:
df.head()

,TypeofContact,CityTier,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,Designation,MonthlyIncome,customer_info,ProdTaken,age,duration
0,Self Enquiry,2,Large Business,male,1.0,4.0,Basic,3.0,5,1,4,Executive,253905.0,æœªå©š è»Šæœªæ‰€æŒ å­ä¾›ãªã—,1,50,900.0
1,Company Invited,1,Salaried,Male,1.0,4.0,Standard,3.0,2,1,4,Senior Manager,404475.0,"é›¢å©šæ¸ˆã¿,è»Šã‚ã‚Š,å­ä¾›ç„¡ã—",0,56,840.0
2,Self Enquiry,1,Large Business,Female,1.0,3.0,Basic,3.0,4,0,4,Executive,278145.0,"çµå©šæ¸ˆã¿ã€è‡ªå‹•è»Šæœªæ‰€æœ‰,å­ä¾›ãªã—",1,38,600.0
3,Self Enquiry,2,Small Business,female,1.0,3.0,Standard,4.0,1,0,5,Senior Manager,326805.0,é›¢å©šæ¸ˆã¿ã€è»Šæ‰€æŒã€å­ä¾›ç„¡ã—,0,37,1080.0
4,Company Invited,3,Small Business,female,1.0,3.0,Basic,4.0,4,0,4,Executive,258435.0,ç‹¬èº«ï¼è»Šæ‰€æŒï¼ç„¡å­,1,48,1020.0

In [23]:
df.to_csv("data/train_non_null.csv", index=False)

## Normalization

In [50]:
df = pd.read_csv("data/train_non_null.csv")

In [51]:
df.head()

,TypeofContact,CityTier,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,Designation,MonthlyIncome,customer_info,ProdTaken,age,duration
0,Self Enquiry,2,Large Business,male,1.0,4.0,Basic,3.0,5,1,4,Executive,253905.0,æœªå©š è»Šæœªæ‰€æŒ å­ä¾›ãªã—,1,50,900.0
1,Company Invited,1,Salaried,Male,1.0,4.0,Standard,3.0,2,1,4,Senior Manager,404475.0,"é›¢å©šæ¸ˆã¿,è»Šã‚ã‚Š,å­ä¾›ç„¡ã—",0,56,840.0
2,Self Enquiry,1,Large Business,Female,1.0,3.0,Basic,3.0,4,0,4,Executive,278145.0,"çµå©šæ¸ˆã¿ã€è‡ªå‹•è»Šæœªæ‰€æœ‰,å­ä¾›ãªã—",1,38,600.0
3,Self Enquiry,2,Small Business,female,1.0,3.0,Standard,4.0,1,0,5,Senior Manager,326805.0,é›¢å©šæ¸ˆã¿ã€è»Šæ‰€æŒã€å­ä¾›ç„¡ã—,0,37,1080.0
4,Company Invited,3,Small Business,female,1.0,3.0,Basic,4.0,4,0,4,Executive,258435.0,ç‹¬èº«ï¼è»Šæ‰€æŒï¼ç„¡å­,1,48,1020.0

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3373 entries, 0 to 3372
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   TypeofContact           3373 non-null   object
 1   CityTier                3373 non-null   int64
 2   Occupation              3373 non-null   object
 3   Gender                  3373 non-null   object
 4   NumberOfPersonVisiting  3373 non-null   float64
 5   NumberOfFollowups       3373 non-null   float64
 6   ProductPitched          3373 non-null   object
 7   PreferredPropertyStar   3373 non-null   float64
 8   NumberOfTrips           3373 non-null   object
 9   Passport                3373 non-null   int64
 10  PitchSatisfactionScore  3373 non-null   int64
 11  Designation             3373 non-null   object
 12  MonthlyIncome           3373 non-null   object
 13  customer_info           3373 non-null   object
 14  ProdTaken               3373 non-null   int64
 15  age                     3373 non-null   int64
 16  duration                3373 non-null   float64
dtypes: float64(4), int64(5), object(8)
memory usage: 448.1+ KB

In [53]:
tmp = ["TypeofContact", "CityTier", "Occupation", "Gender", "NumberOfTrips", "customer_info", "ProductPitched", "Designation"]
for column in tmp:
    print(column)
    print(df[column].unique(), "\n")

TypeofContact
['Self Enquiry' 'Company Invited']

CityTier
[2 1 3]

Occupation
['Large Business' 'Salaried' 'Small Business']

Gender
['male' 'Male' 'Female' 'female' 'ï½†ï½…ï½ï½ï½Œï½…' 'FEMALE' 'ï¼­ï½ï½Œï½…' 'Fe Male' 'MALE'
 'ï½†ï½…\u3000ï½ï½ï½Œï½…' 'fe male' 'ï¼¦ï½…ï½ï½ï½Œï½…' 'ï½ï½ï½Œï½…' 'FE MALE' 'ï¼¦ï½…\u3000ï¼­ï½ï½Œï½…'
 'ï¼¦ï¼¥ï¼­ï¼¡ï¼¬ï¼¥' 'ï¼¦ï¼¥\u3000ï¼­ï¼¡ï¼¬ï¼¥' 'ï¼­ï¼¡ï¼¬ï¼¥']

NumberOfTrips
['5' '2' '4' '1' 'å¹´ã«1å›' 'å¹´ã«2å›' 'å¹´ã«6å›' '3' 'å¹´ã«5å›' '7' '6' 'åŠå¹´ã«1å›' 'å¹´ã«4å›'
 'å¹´ã«3å›' '8' 'å¹´ã«8å›' 'å¹´ã«7å›' 'å››åŠæœŸã«1å›']

customer_info
['æœªå©š è»Šæœªæ‰€æŒ å­ä¾›ãªã—' 'é›¢å©šæ¸ˆã¿,è»Šã‚ã‚Š,å­ä¾›ç„¡ã—' 'çµå©šæ¸ˆã¿ã€è‡ªå‹•è»Šæœªæ‰€æœ‰,å­ä¾›ãªã—' ...
 'çµå©šæ¸ˆã¿,è»Šä¿æœ‰ãªã—,å­ä¾›æœ‰ã‚Š 1äºº' 'çµå©šæ¸ˆã¿/è‡ªå®¶ç”¨è»Šãªã—/1å…' 'ç‹¬èº«ï¼è»Šæ‰€æŒï¼ã“ã©ã‚‚1äºº']

ProductPitched
['Basic' 'Standard' 'Super Deluxe' 'basic' 'SUPER DELUXE' 'super deluxe'
 'BASIC' 'Deluxe' 'deluxe' 'STANá—ARD' 'STANDARD' 'Ğ’asic' 'DELUXE'
 'ê“¢uper De|uxe' 'Ğ…uper Deluxe' 'BAÕIC' 'BasÄ±c' 'King' 'Super De|uxe'
 'king' 'standard' 'KING' 'BÎ‘SIC' 'Bğ–ºsic' 'De|uxe' 'á ELUXE' 'BasiÏ²'
 'de|uÃ—e' 'DeluÃ—e' 'Standarğ”¡' 'Basiğ˜¤' 'Î’asic' 'Õuper Deluxe' 'StaÕ¸dard'
 'BAê“¢IC' 'á—eluxe' 'Õtandard' 'Î’asÄ±ğ˜¤' 'Baï½“ic' 'basÄ±c' 'super de|uxe'
 'Standğ–ºrd' 'Sğ˜µandard' 'ğŠ¡asic' 'Stğ–ºndard' 'Super á—eluxe' 'de|uxe'
 'ï½“uper deluxe' 'STANDARá ' 'BasiÑ' 'DÎ•LUXÎ•' 'ê“¢uper Deluxe' 'BASÎ™C'
 'ê“¢tandard' 'Ğ’ğ–ºsic' 'Standağ˜³d' 'basiÏ²' 'staÕ¸dard' 'Super á eluxe' 'DELUXÎ•'
 'Ğ…tandard' 'ğŠ¡asiğ˜¤' 'á eluxe' 'KÄ±Õ¸g' 'ğ™³eluxe' 'KiÕ¸g' 'Î’asÄ±c' 'BASIĞ¡'
 'SUPER DÎ•LUXE' 'Bğ–ºsiğ˜¤' 'Î’ASIĞ¡' 'Super ğ™³eluxe' 'Õtandağ˜³d' 'Ğ…TANDARD']

Designation
['Executive' 'Senior Manager' 'AVP' 'Manager' 'Senior Manageğ™§' 'Execuï½”ive'
 'Îœanager' 'VP' 'SĞµnior Manager' 'Î‘VP' 'ĞVP' 'EÃ—ecutive' 'MÎ±nageğ™§'
 'ExecutiÑµĞµ' 'Ğ…enior Manager' 'ManagĞµr' 'Ğ•xecutivĞµ' 'Senior ÎœanÎ±ger'
 'Ğ•xecuï½”ive' 'ExĞµcutivĞµ' 'ExĞµcutive' 'Senior ManagĞµğ™§' 'Manageğ™§'
 'Senioğ™§ Manager' 'ManÎ±ger' 'Îœanageğ™§' 'ManÎ±gĞµr' 'Senior ManagĞµr'
 'ExecutivĞµ' 'Ğ•Ã—Ğµcutive' 'Ğ•xecutive' 'Vï¼°' 'Õenior Îœanager' 'ExecutiÑµe'
 'ExĞµcutiÑµĞµ' 'Senior ManÎ±ger' 'MÎ±nager' 'Senior MÎ±nÎ±ger' 'EÃ—ĞµcutiÑµe'
 'Ğ…enior ManÎ±ger' 'ExĞµcï½•tive' 'Execï½•tive' 'MÎ±nÎ±ger' 'ÎœanagĞµr' 'EÃ—ecï½•tive'
 'SĞµnior ManagĞµr' 'Õenior Manager' 'AVï¼°' 'ExĞµcï½•tivĞµ' 'MÎ±nagĞµr' 'Ğ•xĞµcutivĞµ'
 'Senior MÎ±nager' 'Ğ•Ã—ecutive']

### Gender -> gender

In [54]:
df['Gender'].unique()

array(['male', 'Male', 'Female', 'female', 'ï½†ï½…ï½ï½ï½Œï½…', 'FEMALE', 'ï¼­ï½ï½Œï½…',
       'Fe Male', 'MALE', 'ï½†ï½…\u3000ï½ï½ï½Œï½…', 'fe male', 'ï¼¦ï½…ï½ï½ï½Œï½…', 'ï½ï½ï½Œï½…',
       'FE MALE', 'ï¼¦ï½…\u3000ï¼­ï½ï½Œï½…', 'ï¼¦ï¼¥ï¼­ï¼¡ï¼¬ï¼¥', 'ï¼¦ï¼¥\u3000ï¼­ï¼¡ï¼¬ï¼¥', 'ï¼­ï¼¡ï¼¬ï¼¥'],
      dtype=object)

In [55]:
df['gender'] = df['Gender'].apply(normalize_gender)

In [56]:
df['gender'].unique()

array(['male', 'female'], dtype=object)

### ProductPitched -> product_pitched

In [57]:
df['ProductPitched'].unique()

array(['Basic', 'Standard', 'Super Deluxe', 'basic', 'SUPER DELUXE',
       'super deluxe', 'BASIC', 'Deluxe', 'deluxe', 'STANá—ARD',
       'STANDARD', 'Ğ’asic', 'DELUXE', 'ê“¢uper De|uxe', 'Ğ…uper Deluxe',
       'BAÕIC', 'BasÄ±c', 'King', 'Super De|uxe', 'king', 'standard',
       'KING', 'BÎ‘SIC', 'Bğ–ºsic', 'De|uxe', 'á ELUXE', 'BasiÏ²', 'de|uÃ—e',
       'DeluÃ—e', 'Standarğ”¡', 'Basiğ˜¤', 'Î’asic', 'Õuper Deluxe', 'StaÕ¸dard',
       'BAê“¢IC', 'á—eluxe', 'Õtandard', 'Î’asÄ±ğ˜¤', 'Baï½“ic', 'basÄ±c',
       'super de|uxe', 'Standğ–ºrd', 'Sğ˜µandard', 'ğŠ¡asic', 'Stğ–ºndard',
       'Super á—eluxe', 'de|uxe', 'ï½“uper deluxe', 'STANDARá ', 'BasiÑ',
       'DÎ•LUXÎ•', 'ê“¢uper Deluxe', 'BASÎ™C', 'ê“¢tandard', 'Ğ’ğ–ºsic', 'Standağ˜³d',
       'basiÏ²', 'staÕ¸dard', 'Super á eluxe', 'DELUXÎ•', 'Ğ…tandard', 'ğŠ¡asiğ˜¤',
       'á eluxe', 'KÄ±Õ¸g', 'ğ™³eluxe', 'KiÕ¸g', 'Î’asÄ±c', 'BASIĞ¡',
       'SUPER DÎ•LUXE', 'Bğ–ºsiğ˜¤', 'Î’ASIĞ¡', 'Super ğ™³eluxe', 'Õtandağ˜³d',
       'Ğ…TANDARD'], dtype=object)

In [58]:
df['product_pitched'] = df['ProductPitched'].apply(normalize_product_pitched_1)

In [59]:
df['product_pitched'].unique()

array(['Basic', 'Standard', 'Deluxe', 'super deiuxe', 'banic', 'King',
       'deiuxe', 'seluxe', 'basis', 'ntandard', 'iasic', 'standars',
       'basÎ¹c', 'super seluxe', 'Ñ•tandard'], dtype=object)

In [60]:
df['product_pitched'] = df['product_pitched'].apply(normalize_product_pitched_2)

In [61]:
df['product_pitched'].unique()

array(['Basic', 'Standard', 'Deluxe', 'Super Deluxe', 'King'],
      dtype=object)

### NumberOfTrips -> trip_per_year

In [62]:
df['NumberOfTrips'].unique()

array(['5', '2', '4', '1', 'å¹´ã«1å›', 'å¹´ã«2å›', 'å¹´ã«6å›', '3', 'å¹´ã«5å›', '7', '6',
       'åŠå¹´ã«1å›', 'å¹´ã«4å›', 'å¹´ã«3å›', '8', 'å¹´ã«8å›', 'å¹´ã«7å›', 'å››åŠæœŸã«1å›'],
      dtype=object)

In [63]:
df['trip_per_year'] = df['NumberOfTrips'].apply(normalize_trips)

In [64]:
df['trip_per_year'].unique()

array([ 5,  2,  4,  1,  8, 24,  3, 20,  7,  6, 16, 12, 32, 28],
      dtype=int64)

### Designation -> designation

In [65]:
df['Designation'].unique()

array(['Executive', 'Senior Manager', 'AVP', 'Manager', 'Senior Manageğ™§',
       'Execuï½”ive', 'Îœanager', 'VP', 'SĞµnior Manager', 'Î‘VP', 'ĞVP',
       'EÃ—ecutive', 'MÎ±nageğ™§', 'ExecutiÑµĞµ', 'Ğ…enior Manager', 'ManagĞµr',
       'Ğ•xecutivĞµ', 'Senior ÎœanÎ±ger', 'Ğ•xecuï½”ive', 'ExĞµcutivĞµ',
       'ExĞµcutive', 'Senior ManagĞµğ™§', 'Manageğ™§', 'Senioğ™§ Manager',
       'ManÎ±ger', 'Îœanageğ™§', 'ManÎ±gĞµr', 'Senior ManagĞµr', 'ExecutivĞµ',
       'Ğ•Ã—Ğµcutive', 'Ğ•xecutive', 'Vï¼°', 'Õenior Îœanager', 'ExecutiÑµe',
       'ExĞµcutiÑµĞµ', 'Senior ManÎ±ger', 'MÎ±nager', 'Senior MÎ±nÎ±ger',
       'EÃ—ĞµcutiÑµe', 'Ğ…enior ManÎ±ger', 'ExĞµcï½•tive', 'Execï½•tive', 'MÎ±nÎ±ger',
       'ÎœanagĞµr', 'EÃ—ecï½•tive', 'SĞµnior ManagĞµr', 'Õenior Manager', 'AVï¼°',
       'ExĞµcï½•tivĞµ', 'MÎ±nagĞµr', 'Ğ•xĞµcutivĞµ', 'Senior MÎ±nager', 'Ğ•Ã—ecutive'],
      dtype=object)

In [66]:
df['designation'] = df['Designation'].apply(normalize_designation_1)

In [67]:
df['designation'].unique()

array(['Executive', 'Senior Manager', 'AVP', 'Manager', 'Î¼anager', 'VP',
       'eÃ—ecutive', 'senior Î¼anager'], dtype=object)

In [68]:
df['designation'] = df['designation'].apply(normalize_designation_2)

In [69]:
df['designation'].unique()

array(['Executive', 'Senior Manager', 'AVP', 'Manager', 'VP'],
      dtype=object)

### MonthlyIncome -> income

In [70]:
df['MonthlyIncome'].unique()

array(['253905.0', '404475.0', '278145.0', ..., '317340.0', '527910.0',
       '278190.0'], dtype=object)

In [71]:
def normalize_monthly_income(income):
    money = re.search(r'(\d+\.?\d*)ä¸‡å††', income)
    if money:
        return float(money.group(1)) * 10000
    else:
        return float(re.sub(r'[^\d\.]', '', income))

In [72]:
df['income'] = df['MonthlyIncome'].apply(normalize_monthly_income)

In [73]:
df['income'].unique()

array([253905., 404475., 278145., ..., 317340., 527910., 278190.])

### customer_info -> info

In [74]:
df['customer_info'].unique()

array(['æœªå©š è»Šæœªæ‰€æŒ å­ä¾›ãªã—', 'é›¢å©šæ¸ˆã¿,è»Šã‚ã‚Š,å­ä¾›ç„¡ã—', 'çµå©šæ¸ˆã¿ã€è‡ªå‹•è»Šæœªæ‰€æœ‰,å­ä¾›ãªã—', ...,
       'çµå©šæ¸ˆã¿,è»Šä¿æœ‰ãªã—,å­ä¾›æœ‰ã‚Š 1äºº', 'çµå©šæ¸ˆã¿/è‡ªå®¶ç”¨è»Šãªã—/1å…', 'ç‹¬èº«ï¼è»Šæ‰€æŒï¼ã“ã©ã‚‚1äºº'],
      dtype=object)

In [75]:
df['info'] = df['customer_info'].apply(normalize_customer_info)

In [76]:
df['info'].unique()

array(['Single, No Car, No Children', 'Divorced, Has Car',
       'Married, No Children', 'Single, Has Car', 'Single, No Car',
       'Single, Has Car, No Children', 'Married, No Car, No Children',
       'Married, Has Car', 'Single, No Children',
       'Divorced, Has Car, No Children', 'Married',
       'Divorced, No Children', 'Married, Has Car, No Children',
       'Married, No Car', 'Single', 'Divorced, No Car, No Children',
       'Divorced, No Car', 'Divorced', 'Divorced, Children: 1',
       'Divorced, Has Car, Children: 1', 'Single, No Car, Children: 1',
       'Married, Has Car, Children: 1', 'Married, Children: 1',
       'Married, No Car, Children: 1', 'Single, Children: 1',
       'Married, No Car, Children: 2', 'Single, No Car, Children: 2',
       'Divorced, Children: 2', 'Single, Has Car, Children: 2',
       'Single, Children: 2', 'Married, Has Car, Children: 3',
       'Divorced, No Car, Children: 2', 'Married, Has Car, Children: 2',
       'Divorced, Has Car, Children: 2', 'Married, Children: 2',
       'Single, Has Car, Children: 1', 'Divorced, No Car, Children: 1',
       'Married, Children: 3', 'Divorced, No Car, Children: 3',
       'Married, No Car, Children: 3', 'Single, Has Car, Children: 3',
       'Divorced, Has Car, Children: 3', 'Divorced, Children: 3',
       'Single, Children: 3'], dtype=object)

In [77]:
tmp = ["TypeofContact", "CityTier", "Occupation", "gender", "product_pitched", "trip_per_year", "designation", "info"]
for column in tmp:
    print(column)
    print(df[column].unique(), "\n")

TypeofContact
['Self Enquiry' 'Company Invited']

CityTier
[2 1 3]

Occupation
['Large Business' 'Salaried' 'Small Business']

gender
['male' 'female']

product_pitched
['Basic' 'Standard' 'Deluxe' 'Super Deluxe' 'King']

trip_per_year
[ 5  2  4  1  8 24  3 20  7  6 16 12 32 28]

designation
['Executive' 'Senior Manager' 'AVP' 'Manager' 'VP']

info
['Single, No Car, No Children' 'Divorced, Has Car' 'Married, No Children'
 'Single, Has Car' 'Single, No Car' 'Single, Has Car, No Children'
 'Married, No Car, No Children' 'Married, Has Car' 'Single, No Children'
 'Divorced, Has Car, No Children' 'Married' 'Divorced, No Children'
 'Married, Has Car, No Children' 'Married, No Car' 'Single'
 'Divorced, No Car, No Children' 'Divorced, No Car' 'Divorced'
 'Divorced, Children: 1' 'Divorced, Has Car, Children: 1'
 'Single, No Car, Children: 1' 'Married, Has Car, Children: 1'
 'Married, Children: 1' 'Married, No Car, Children: 1'
 'Single, Children: 1' 'Married, No Car, Children: 2'
 'Single, No Car, Children: 2' 'Divorced, Children: 2'
 'Single, Has Car, Children: 2' 'Single, Children: 2'
 'Married, Has Car, Children: 3' 'Divorced, No Car, Children: 2'
 'Married, Has Car, Children: 2' 'Divorced, Has Car, Children: 2'
 'Married, Children: 2' 'Single, Has Car, Children: 1'
 'Divorced, No Car, Children: 1' 'Married, Children: 3'
 'Divorced, No Car, Children: 3' 'Married, No Car, Children: 3'
 'Single, Has Car, Children: 3' 'Divorced, Has Car, Children: 3'
 'Divorced, Children: 3' 'Single, Children: 3']

In [78]:
df = df.drop(columns=['Gender', 'ProductPitched', 'NumberOfTrips', 'Designation', 'customer_info','MonthlyIncome'])

In [82]:
df.head()

,TypeofContact,CityTier,Occupation,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,Passport,PitchSatisfactionScore,ProdTaken,age,duration,gender,product_pitched,trip_per_year,designation,income,info
0,Self Enquiry,2,Large Business,1.0,4.0,3.0,1,4,1,50,900.0,male,Basic,5,Executive,253905.0,"Single, No Car, No Children"
1,Company Invited,1,Salaried,1.0,4.0,3.0,1,4,0,56,840.0,male,Standard,2,Senior Manager,404475.0,"Divorced, Has Car"
2,Self Enquiry,1,Large Business,1.0,3.0,3.0,0,4,1,38,600.0,female,Basic,4,Executive,278145.0,"Married, No Children"
3,Self Enquiry,2,Small Business,1.0,3.0,4.0,0,5,0,37,1080.0,female,Standard,1,Senior Manager,326805.0,"Divorced, Has Car"
4,Company Invited,3,Small Business,1.0,3.0,4.0,0,4,1,48,1020.0,female,Basic,4,Executive,258435.0,"Single, Has Car"

In [83]:
df.to_csv('data/train_normalized.csv', index=False)

## Data Type

In [84]:
df = pd.read_csv('data/train_normalized.csv')

In [85]:
df.head()

,TypeofContact,CityTier,Occupation,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,Passport,PitchSatisfactionScore,ProdTaken,age,duration,gender,product_pitched,trip_per_year,designation,income,info
0,Self Enquiry,2,Large Business,1.0,4.0,3.0,1,4,1,50,900.0,male,Basic,5,Executive,253905.0,"Single, No Car, No Children"
1,Company Invited,1,Salaried,1.0,4.0,3.0,1,4,0,56,840.0,male,Standard,2,Senior Manager,404475.0,"Divorced, Has Car"
2,Self Enquiry,1,Large Business,1.0,3.0,3.0,0,4,1,38,600.0,female,Basic,4,Executive,278145.0,"Married, No Children"
3,Self Enquiry,2,Small Business,1.0,3.0,4.0,0,5,0,37,1080.0,female,Standard,1,Senior Manager,326805.0,"Divorced, Has Car"
4,Company Invited,3,Small Business,1.0,3.0,4.0,0,4,1,48,1020.0,female,Basic,4,Executive,258435.0,"Single, Has Car"

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3373 entries, 0 to 3372
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   TypeofContact           3373 non-null   object
 1   CityTier                3373 non-null   int64
 2   Occupation              3373 non-null   object
 3   NumberOfPersonVisiting  3373 non-null   float64
 4   NumberOfFollowups       3373 non-null   float64
 5   PreferredPropertyStar   3373 non-null   float64
 6   Passport                3373 non-null   int64
 7   PitchSatisfactionScore  3373 non-null   int64
 8   ProdTaken               3373 non-null   int64
 9   age                     3373 non-null   int64
 10  duration                3373 non-null   float64
 11  gender                  3373 non-null   object
 12  product_pitched         3373 non-null   object
 13  trip_per_year           3373 non-null   int64
 14  designation             3373 non-null   object
 15  income                  3373 non-null   float64
 16  info                    3373 non-null   object
dtypes: float64(5), int64(6), object(6)
memory usage: 448.1+ KB

In [87]:
# not necessary to convert dtypes
# [CityTier, Passport, age, duration, trip_per_year]
int_columns = ['NumberOfPersonVisiting', 'NumberOfFollowups', 'PreferredPropertyStar']
category_columns = ['TypeofContact', 'Occupation', 'gender', 'product_pitched', 'designation']

for col in int_columns:
    df[col] = df[col].astype('int')

for col in category_columns:
    df[col] = df[col].astype('category')

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3373 entries, 0 to 3372
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   TypeofContact           3373 non-null   category
 1   CityTier                3373 non-null   int64
 2   Occupation              3373 non-null   category
 3   NumberOfPersonVisiting  3373 non-null   int32
 4   NumberOfFollowups       3373 non-null   int32
 5   PreferredPropertyStar   3373 non-null   int32
 6   Passport                3373 non-null   int64
 7   PitchSatisfactionScore  3373 non-null   int64
 8   ProdTaken               3373 non-null   int64
 9   age                     3373 non-null   int64
 10  duration                3373 non-null   float64
 11  gender                  3373 non-null   category
 12  product_pitched         3373 non-null   category
 13  trip_per_year           3373 non-null   int64
 14  designation             3373 non-null   category
 15  income                  3373 non-null   float64
 16  info                    3373 non-null   object
dtypes: category(5), float64(2), int32(3), int64(6), object(1)
memory usage: 294.1+ KB