In [1]:
import os
os.chdir("../")

In [2]:
import pandas as pd

In [5]:
from scr.util import *

# Base Infomation

In [6]:
df = pd.read_csv("data/train.csv")

In [4]:
df.head()

,id,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,Designation,MonthlyIncome,customer_info,ProdTaken
0,0,50Ê≠≥,Self Enquiry,2,900Áßí,Large Business,male,1.0,4.0,Basic,3.0,5,1,4,Executive,253905.0,Êú™Â©ö ËªäÊú™ÊâÄÊåÅ Â≠ê‰æõ„Å™„Åó,1
1,1,56Ê≠≥,Company Invited,1,14ÂàÜ,Salaried,Male,1.0,4.0,Standard,3.0,2,1,4,Senior Manager,404475.0,"Èõ¢Â©öÊ∏à„Åø,Ëªä„ÅÇ„Çä,Â≠ê‰æõÁÑ°„Åó",0
2,2,NaN,Self Enquiry,1,10ÂàÜ,Large Business,Female,1.0,3.0,Basic,3.0,4,0,4,Executive,278145.0,"ÁµêÂ©öÊ∏à„Åø„ÄÅËá™ÂãïËªäÊú™ÊâÄÊúâ,Â≠ê‰æõ„Å™„Åó",1
3,3,‰∏âÂçÅ‰∏ÉÊ≠≥,Self Enquiry,2,1080Áßí,Small Business,female,1.0,3.0,Standard,4.0,1,0,5,Senior Manager,326805.0,Èõ¢Â©öÊ∏à„Åø„ÄÅËªäÊâÄÊåÅ„ÄÅÂ≠ê‰æõÁÑ°„Åó,0
4,4,48Ê≠≥,Company Invited,3,1020Áßí,Small Business,female,1.0,3.0,Basic,4.0,4,0,4,Executive,258435.0,Áã¨Ë∫´ÔºèËªäÊâÄÊåÅÔºèÁÑ°Â≠ê,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3489 entries, 0 to 3488
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      3489 non-null   int64
 1   Age                     3389 non-null   object
 2   TypeofContact           3483 non-null   object
 3   CityTier                3489 non-null   int64
 4   DurationOfPitch         3368 non-null   object
 5   Occupation              3489 non-null   object
 6   Gender                  3489 non-null   object
 7   NumberOfPersonVisiting  3489 non-null   float64
 8   NumberOfFollowups       3456 non-null   float64
 9   ProductPitched          3489 non-null   object
 10  PreferredPropertyStar   3489 non-null   float64
 11  NumberOfTrips           3467 non-null   object
 12  Passport                3489 non-null   int64
 13  PitchSatisfactionScore  3489 non-null   int64
 14  Designation             3489 non-null   object
 15  MonthlyIncome           3433 non-null   object
 16  customer_info           3489 non-null   object
 17  ProdTaken               3489 non-null   int64
dtypes: float64(3), int64(5), object(10)
memory usage: 490.8+ KB

In [6]:
df.describe()

,id,CityTier,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,Passport,PitchSatisfactionScore,ProdTaken
count,3489.000000,3489.000000,3489.000000,3456.000000,3489.000000,3489.000000,3489.000000,3489.000000
mean,1744.000000,1.697048,2.394669,7.765336,3.441101,0.102608,2.513901,0.142448
std,1007.331872,0.671500,0.726612,39.498670,0.599633,0.303490,1.115412,0.349559
min,0.000000,1.000000,1.000000,1.000000,3.000000,0.000000,1.000000,0.000000
25%,872.000000,1.000000,2.000000,3.000000,3.000000,0.000000,2.000000,0.000000
50%,1744.000000,2.000000,2.000000,4.000000,3.000000,0.000000,2.000000,0.000000
75%,2616.000000,2.000000,3.000000,4.000000,4.000000,0.000000,3.000000,0.000000
max,3488.000000,3.000000,4.000000,600.000000,5.000000,1.000000,5.000000,1.000000

In [7]:
df.isna().sum()

id                          0
Age                       100
TypeofContact               6
CityTier                    0
DurationOfPitch           121
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups          33
ProductPitched              0
PreferredPropertyStar       0
NumberOfTrips              22
Passport                    0
PitchSatisfactionScore      0
Designation                 0
MonthlyIncome              56
customer_info               0
ProdTaken                   0
dtype: int64

In [16]:
tmp = ["TypeofContact", "Occupation", "Gender", "ProductPitched", "NumberOfTrips", "Designation", "customer_info"]
for column in tmp:
    print(column)
    print(df[column].unique(), "\n")

TypeofContact
['Self Enquiry' 'Company Invited' nan]

Occupation
['Large Business' 'Salaried' 'Small Business']

Gender
['male' 'Male' 'Female' 'female' 'ÔΩÜÔΩÖÔΩçÔΩÅÔΩåÔΩÖ' 'FEMALE' 'Ôº≠ÔΩÅÔΩåÔΩÖ' 'Fe Male' 'MALE'
 'ÔΩÜÔΩÖ\u3000ÔΩçÔΩÅÔΩåÔΩÖ' 'fe male' 'Ôº¶ÔΩÖÔΩçÔΩÅÔΩåÔΩÖ' 'ÔΩçÔΩÅÔΩåÔΩÖ' 'FE MALE' 'Ôº¶ÔΩÖ\u3000Ôº≠ÔΩÅÔΩåÔΩÖ'
 'Ôº¶Ôº•Ôº≠Ôº°Ôº¨Ôº•' 'Ôº¶Ôº•\u3000Ôº≠Ôº°Ôº¨Ôº•' 'Ôº≠Ôº°Ôº¨Ôº•']

ProductPitched
['Basic' 'Standard' 'Super Deluxe' 'basic' 'SUPER DELUXE' 'super deluxe'
 'BASIC' 'Deluxe' 'deluxe' 'STAN·óûARD' 'STANDARD' '–íasic' 'DELUXE'
 'Íì¢uper De|uxe' '–Öuper Deluxe' 'BA’èIC' 'Basƒ±c' 'King' 'Super De|uxe'
 'king' 'standard' 'KING' 'BŒëSIC' 'Bùñ∫sic' 'De|uxe' '·é†ELUXE' 'Basiœ≤'
 'de|u√óe' 'Delu√óe' 'Standarùî°' 'Basiùò§' 'Œíasic' '’èuper Deluxe' 'Sta’∏dard'
 'BAÍì¢IC' '·óûeluxe' '’ètandard' 'Œíasƒ±ùò§' 'Kƒ±ng' 'BaÔΩìic' 'basƒ±c' 'super de|uxe'
 'Standùñ∫rd' 'Sùòµandard' 'êä°asic' 'Stùñ∫ndard' 'Super ·óûeluxe' 'de|uxe'
 'ÔΩìuper deluxe' 'STANDAR·é†' 'Basi—Å' 'DŒïLUXŒï' 'Íì¢uper Deluxe' 'BASŒôC'
 'Íì¢tandard' '–íùñ∫sic' 'Standaùò≥d' 'basiœ≤' 'sta’∏dard' 'Super ·é†eluxe' 'DELUXŒï'
 '–Ötandard' 'êä°asiùò§' '·é†eluxe' 'Kƒ±’∏g' 'ùô≥eluxe' 'Ki’∏g' 'Œíasƒ±c' 'BASI–°'
 'SUPER DŒïLUXE' 'Bùñ∫siùò§' 'ŒíASI–°' 'Super ùô≥eluxe' '’ètandaùò≥d' 'Basƒ±œ≤'
 '–ÖTANDARD']

NumberOfTrips
['5' '2' '4' '1' 'Âπ¥„Å´1Âõû' 'Âπ¥„Å´2Âõû' 'Âπ¥„Å´6Âõû' '3' 'Âπ¥„Å´5Âõû' '7' '6' 'ÂçäÂπ¥„Å´1Âõû' 'Âπ¥„Å´4Âõû'
 'Âπ¥„Å´3Âõû' '8' 'Âπ¥„Å´8Âõû' nan 'Âπ¥„Å´7Âõû' 'ÂõõÂçäÊúü„Å´1Âõû']

Designation
['Executive' 'Senior Manager' 'AVP' 'Manager' 'Senior Manageùôß' 'ExecuÔΩîive'
 'Œúanager' 'VP' 'S–µnior Manager' 'ŒëVP' '–êVP' 'E√óecutive' 'MŒ±nageùôß'
 'Executi—µ–µ' '–Öenior Manager' 'Manag–µr' '–ïxecutiv–µ' 'Senior ŒúanŒ±ger'
 '–ïxecuÔΩîive' 'Ex–µcutiv–µ' 'Ex–µcutive' 'Senior Manag–µùôß' 'Manageùôß'
 'Senioùôß Manager' 'ManŒ±ger' 'Œúanageùôß' 'ManŒ±g–µr' 'Senior Manag–µr'
 'Executiv–µ' 'Executi—µe' '–ï√ó–µcutive' '–ïxecutive' 'VÔº∞' '’èenior Œúanager'
 'Ex–µcuti—µ–µ' 'Senior ManŒ±ger' 'MŒ±nager' 'Senior MŒ±nŒ±ger' 'E√ó–µcuti—µe'
 '–Öenior ManŒ±ger' 'Ex–µcÔΩïtive' 'ExecÔΩïtive' 'MŒ±nŒ±ger' 'Œúanag–µr' 'E√óecÔΩïtive'
 'S–µnior Manag–µr' '’èenior Manager' 'AVÔº∞' 'Ex–µcÔΩïtiv–µ' 'MŒ±nag–µr' '–ïx–µcutiv–µ'
 'Senior MŒ±nager' '–ï√óecutive']

customer_info
['Êú™Â©ö ËªäÊú™ÊâÄÊåÅ Â≠ê‰æõ„Å™„Åó' 'Èõ¢Â©öÊ∏à„Åø,Ëªä„ÅÇ„Çä,Â≠ê‰æõÁÑ°„Åó' 'ÁµêÂ©öÊ∏à„Åø„ÄÅËá™ÂãïËªäÊú™ÊâÄÊúâ,Â≠ê‰æõ„Å™„Åó' ...
 'ÁµêÂ©öÊ∏à„Åø,Ëªä‰øùÊúâ„Å™„Åó,Â≠ê‰æõÊúâ„Çä 1‰∫∫' 'ÁµêÂ©öÊ∏à„Åø/Ëá™ÂÆ∂Áî®Ëªä„Å™„Åó/1ÂÖê' 'Áã¨Ë∫´ÔºèËªäÊâÄÊåÅÔºè„Åì„Å©„ÇÇ1‰∫∫']

# Processing

## NuLL
„Éªfill mediam : '', '', '', 'NumberOfTrips', 'MonthlyIncome'
    
„Éªdelete null : 'TypeofContact'

### Age -> age

In [33]:
df["Age"].unique()

array(['50Ê≠≥', '56Ê≠≥', nan, '‰∏âÂçÅ‰∏ÉÊ≠≥', '48Ê≠≥', '19Ê≠≥', '47Ê≠≥', '49Ê≠≥', '33Ê≠≥',
       'ÔºìÔºëÊ≠≥', '51Ê≠≥', '46Ê≠≥', 'ÔºîÔºôÊ≠≥', '53Êâç', '20Ê≠≥', '25Ê≠≥', '‰∫îÂçÅ‰∏âÊ≠≥', '20‰ª£',
       '44Ê≠≥', '30Ê≠≥', '34Ê≠≥', '29Ê≠≥', '30‰ª£', '41Ê≠≥', '50‰ª£', '52Ê≠≥', '22Ê≠≥',
       'ÔºìÔºñÊ≠≥', '28Ê≠≥', '25Êâç', '‰∫îÂçÅ‰∏ÄÊ≠≥', '48Êâç', '38Êâç', '‰∏âÂçÅ‰∏âÊ≠≥', '42Èöõ', 'ÔºïÔºê‰ª£',
       '35Êâç', '59Ê≠≥', 'ÂõõÂçÅ‰∏âÊ≠≥', '32Ê≠≥', 'ÔºîÔºíÊâç', '53Ê≠≥', '58Ê≠≥', '40‰ª£', '‰∫åÂçÅÂÖ≠Ê≠≥',
       '52Èöõ', '54Ê≠≥', '59Êâç', '29Êâç', '21Êâç', '57Ê≠≥', '37Ê≠≥', '35Ê≠≥', '36Êâç',
       '38Ê≠≥', 'ÔºìÔºóÊ≠≥', '50Êâç', '51Êâç', '43Ê≠≥', 'ÂõõÂçÅÊ≠≥', '26Ê≠≥', '31Ê≠≥', '27Ê≠≥',
       '40Ê≠≥', 'ÔºìÔºîÊ≠≥', '40Èöõ', '21Ê≠≥', '24Êâç', '45Ê≠≥', '36Ê≠≥', '41Êâç', '38Èöõ',
       '18Ê≠≥', '39Ê≠≥', 'ÔºîÔºñÊ≠≥', 'ÔºîÔºê‰ª£', 'ÔºïÔºïÊ≠≥', '58Èöõ', '24Ê≠≥', '41Èöõ', '‰∏âÂçÅ‰∏ÄÊ≠≥',
       '52Êâç', 'ÔºìÔºê‰ª£', '28Êâç', '55Èöõ', '60‰ª£', '27Èöõ', 'ÔºìÔºíÊ≠≥', '60Ê≠≥', '‰∫îÂçÅÂõõÊ≠≥',
       '29Èöõ', '‰∏âÂçÅÂõõÊ≠≥', 'ÔºîÔºóÊ≠≥', '37Èöõ', '‰∫åÂçÅÂõõÊ≠≥', 'ÂõõÂçÅ‰∏ÉÊ≠≥', '58Êâç', '39Êâç', '23Êâç',
       'ÔºìÔºìÊ≠≥', 'ÔºîÔºíÊ≠≥', 'ÔºîÔºïÊ≠≥', 'ÔºìÔºôÊ≠≥', 'ÔºïÔºîÊ≠≥', '55Ê≠≥', '42Ê≠≥', 'ÔºìÔºòÊ≠≥', '47Êâç',
       'ÔºïÔºëÊ≠≥', 'ÔºìÔºôÊâç', '51Èöõ', '‰∫åÂçÅ‰∏ÉÊ≠≥', '30Êâç', 'ÔºíÔºñÊ≠≥', 'ÔºîÔºêÊ≠≥', '36Èöõ', '‰∏âÂçÅÊ≠≥',
       '23Ê≠≥', '‰∫åÂçÅ‰∫åÊ≠≥', '37Êâç', 'ÔºìÔºêÊ≠≥', 'ÔºíÔºòÊ≠≥', '34Êâç', '‰∫îÂçÅÊ≠≥', 'ÂõõÂçÅ‰∏ÄÊ≠≥', 'ÔºïÔºôÊ≠≥',
       'ÔºìÔºïÊ≠≥', 'ÔºíÔºíÊ≠≥', 'ÔºìÔºóÊâç', 'ÂõõÂçÅ‰πùÊ≠≥', '42Êâç', 'ÔºîÔºîÊ≠≥', 'ÔºíÔºïÊ≠≥', '44Èöõ', '33Êâç',
       '28Èöõ', 'ÔºíÔºîÊâç', '55Êâç', 'ÔºîÔºòÊ≠≥', 'ÂõõÂçÅÂõõÊ≠≥', '31Êâç', 'ÔºíÔºê‰ª£', '‰∫åÂçÅÊ≠≥', '22Èöõ',
       '31Èöõ', '‰∫åÂçÅ‰∏âÊ≠≥', '39Èöõ', '59Èöõ', 'ÔºìÔºìÊâç', '‰∏âÂçÅÂÖ≠Ê≠≥', '10‰ª£', 'ÔºíÔºóÊ≠≥', '49Êâç',
       'ÔºîÔºìÊ≠≥', '32Èöõ', 'ÔºîÔºëÊ≠≥', '33Èöõ', '‰∫åÂçÅ‰∫îÊ≠≥', '27Êâç', '46Èöõ', '‰∫åÂçÅ‰πùÊ≠≥', '32Êâç',
       '22Êâç', 'ÔºíÔºôÊâç', '43Êâç', 'ÂõõÂçÅÂÖ´Ê≠≥', '30Èöõ', 'ÔºíÔºôÊ≠≥', 'ÔºîÔºìÊâç', '‰∏âÂçÅÂÖ´Ê≠≥', 'ÔºîÔºïÊâç',
       '45Êâç', '‰∫åÂçÅ‰∏ÄÊ≠≥', '57Êâç', '40Êâç', 'ÔºïÔºíÊ≠≥', 'ÔºëÔºôÊ≠≥', 'ÔºïÔºìÊ≠≥', '35Èöõ', '61Ê≠≥',
       '34Èöõ', 'ÔºíÔºîÊ≠≥', 'ÂõõÂçÅ‰∫åÊ≠≥', 'ÔºïÔºñÊâç', '26Èöõ', 'ÔºïÔºêÊ≠≥', '‰∫îÂçÅÂÖ´Ê≠≥', '20Êâç', '50Èöõ',
       '57Èöõ', '23Èöõ', 'ÔºëÔºôÊâç', 'ÔºïÔºóÊ≠≥', '26Êâç', '‰∫îÂçÅÂÖ≠Ê≠≥', '54Êâç', 'ÔºïÔºòÊ≠≥', 'ÔºñÔºêÊ≠≥',
       '‰∏âÂçÅ‰∫îÊ≠≥', '44Êâç', 'ÔºîÔºêÊâç', 'ÔºíÔºíÊâç', 'ÔºîÔºîÊâç', 'ÔºíÔºòÊâç', 'ÔºìÔºòÊâç', '‰∏âÂçÅ‰πùÊ≠≥', '54Èöõ',
       '‰∫åÂçÅÂÖ´Ê≠≥', '56Èöõ', '‰∫îÂçÅ‰∫åÊ≠≥', 'ÔºìÔºñÊâç', '46Êâç', '43Èöõ', 'ÔºíÔºêÊ≠≥', 'ÔºîÔºëÊâç', '24Èöõ',
       '53Èöõ', '45Èöõ', '21Èöõ', '60Èöõ', 'ÔºíÔºëÊ≠≥', 'ÔºìÔºïÊâç', '‰∫îÂçÅ‰∫îÊ≠≥', '47Èöõ', '‰∏âÂçÅ‰∫åÊ≠≥',
       '18Èöõ', 'ÂõõÂçÅÂÖ≠Ê≠≥', 'ÔºìÔºîÊâç', '56Êâç', 'ÔºìÔºíÊâç', 'ÔºïÔºñÊ≠≥', 'ÔºîÔºóÊâç', '49Èöõ', '48Èöõ',
       'ÔºïÔºëÊâç', '‰∫îÂçÅ‰πùÊ≠≥', 'ÂÖ≠ÂçÅ‰∏ÄÊ≠≥', 'ÔºíÔºëÊâç'], dtype=object)

In [7]:
# Êó•Êú¨Ë™û„Çí„Åô„Åπ„Å¶IntÂûã„Å´Â§âÊèõ
df["age"] = df["Age"].astype(str).apply(japanese_to_int)

# Ê¨†ÊêçÂÄ§„Çí‰∏≠Â§ÆÂÄ§„ÅßË£úÂÆå
# japanese_to_intÈñ¢Êï∞„Å´„Çà„Çä„ÄÅÊ¨†ÊêçÂÄ§„ÅØ0„Å®Âá∫Âäõ„Åï„Çå„Å¶„ÅÑ„Çã„ÄÇ
tmp = df[~(df["age"] == 0)]
df.loc[df["age"] == 0, "age"] = tmp["age"].median()

In [11]:
df["age"].unique()

array([50, 56, 38, 37, 48, 19, 47, 49, 33, 31, 51, 46, 53, 20, 25, 44, 30,
       34, 29, 41, 52, 22, 36, 28, 42, 35, 59, 43, 32, 58, 40, 26, 54, 21,
       57, 27, 24, 45, 18, 39, 55, 60, 23, 10, 61], dtype=int64)

### DurationOfPitch -> duration

In [8]:
df["DurationOfPitch"].unique()

array(['900Áßí', '14ÂàÜ', '10ÂàÜ', '1080Áßí', '1020Áßí', '16ÂàÜ', '840Áßí', '22ÂàÜ',
       '20ÂàÜ', '11ÂàÜ', '32ÂàÜ', '17ÂàÜ', '24ÂàÜ', '1380Áßí', '35ÂàÜ', '420Áßí', '5ÂàÜ',
       '480Áßí', '8ÂàÜ', '15ÂàÜ', '960Áßí', nan, '540Áßí', '26ÂàÜ', '13ÂàÜ', '12ÂàÜ',
       '21ÂàÜ', '25ÂàÜ', '720Áßí', '9ÂàÜ', '7ÂàÜ', '780Áßí', '6ÂàÜ', '18ÂàÜ', '31ÂàÜ',
       '600Áßí', '23ÂàÜ', '28ÂàÜ', '2160Áßí', '660Áßí', '1500Áßí', '1920Áßí', '27ÂàÜ',
       '33ÂàÜ', '360Áßí', '1320Áßí', '1740Áßí', '1680Áßí', '29ÂàÜ', '1620Áßí', '1440Áßí',
       '1800Áßí', '30ÂàÜ', '34ÂàÜ', '4ÂàÜ', '19ÂàÜ', '1860Áßí', '1260Áßí', '2100Áßí',
       '300Áßí', '2040Áßí', '1200Áßí', '1560Áßí', '1980Áßí', '36ÂàÜ', '1140Áßí'],
      dtype=object)

In [16]:
# Âçò‰Ωç„Çí„Åô„Åπ„Å¶Áßí„Å´Áµ±‰∏Ä
df["duration"] = df["DurationOfPitch"].dropna().apply(convert_to_second)

# Ê¨†ÊêçÂÄ§„Çí‰∏≠Â§ÆÂÄ§„ÅßË£úÂÆå
df["duration"] = df["duration"].fillna(df["duration"].median())

In [17]:
df["duration"].unique()

array([ 900.,  840.,  600., 1080., 1020.,  960., 1320., 1200.,  660.,
       1920., 1440., 1380., 2100.,  420.,  300.,  480.,  780.,  540.,
       1560.,  720., 1260., 1500.,  360., 1860., 1680., 2160., 1620.,
       1980., 1740., 1800., 2040.,  240., 1140.])

### NumberOfFollowups