In [3]:
import os
os.chdir("../")

In [4]:
import pandas as pd

In [9]:
from scr.util import *

# Base Infomation

In [10]:
df = pd.read_csv("data/train.csv")

In [11]:
df.head()

,id,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,Designation,MonthlyIncome,customer_info,ProdTaken
0,0,50歳,Self Enquiry,2,900秒,Large Business,male,1.0,4.0,Basic,3.0,5,1,4,Executive,253905.0,未婚 車未所持 子供なし,1
1,1,56歳,Company Invited,1,14分,Salaried,Male,1.0,4.0,Standard,3.0,2,1,4,Senior Manager,404475.0,"離婚済み,車あり,子供無し",0
2,2,NaN,Self Enquiry,1,10分,Large Business,Female,1.0,3.0,Basic,3.0,4,0,4,Executive,278145.0,"結婚済み、自動車未所有,子供なし",1
3,3,三十七歳,Self Enquiry,2,1080秒,Small Business,female,1.0,3.0,Standard,4.0,1,0,5,Senior Manager,326805.0,離婚済み、車所持、子供無し,0
4,4,48歳,Company Invited,3,1020秒,Small Business,female,1.0,3.0,Basic,4.0,4,0,4,Executive,258435.0,独身／車所持／無子,1

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3489 entries, 0 to 3488
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      3489 non-null   int64
 1   Age                     3389 non-null   object
 2   TypeofContact           3483 non-null   object
 3   CityTier                3489 non-null   int64
 4   DurationOfPitch         3368 non-null   object
 5   Occupation              3489 non-null   object
 6   Gender                  3489 non-null   object
 7   NumberOfPersonVisiting  3489 non-null   float64
 8   NumberOfFollowups       3456 non-null   float64
 9   ProductPitched          3489 non-null   object
 10  PreferredPropertyStar   3489 non-null   float64
 11  NumberOfTrips           3467 non-null   object
 12  Passport                3489 non-null   int64
 13  PitchSatisfactionScore  3489 non-null   int64
 14  Designation             3489 non-null   object
 15  MonthlyIncome           3433 non-null   object
 16  customer_info           3489 non-null   object
 17  ProdTaken               3489 non-null   int64
dtypes: float64(3), int64(5), object(10)
memory usage: 490.8+ KB

In [13]:
df.describe()

,id,CityTier,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,Passport,PitchSatisfactionScore,ProdTaken
count,3489.000000,3489.000000,3489.000000,3456.000000,3489.000000,3489.000000,3489.000000,3489.000000
mean,1744.000000,1.697048,2.394669,7.765336,3.441101,0.102608,2.513901,0.142448
std,1007.331872,0.671500,0.726612,39.498670,0.599633,0.303490,1.115412,0.349559
min,0.000000,1.000000,1.000000,1.000000,3.000000,0.000000,1.000000,0.000000
25%,872.000000,1.000000,2.000000,3.000000,3.000000,0.000000,2.000000,0.000000
50%,1744.000000,2.000000,2.000000,4.000000,3.000000,0.000000,2.000000,0.000000
75%,2616.000000,2.000000,3.000000,4.000000,4.000000,0.000000,3.000000,0.000000
max,3488.000000,3.000000,4.000000,600.000000,5.000000,1.000000,5.000000,1.000000

In [14]:
df.isna().sum()

id                          0
Age                       100
TypeofContact               6
CityTier                    0
DurationOfPitch           121
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups          33
ProductPitched              0
PreferredPropertyStar       0
NumberOfTrips              22
Passport                    0
PitchSatisfactionScore      0
Designation                 0
MonthlyIncome              56
customer_info               0
ProdTaken                   0
dtype: int64

In [15]:
tmp = ["TypeofContact", "Occupation", "Gender", "ProductPitched", "NumberOfTrips", "Designation", "customer_info"]
for column in tmp:
    print(column)
    print(df[column].unique(), "\n")

TypeofContact
['Self Enquiry' 'Company Invited' nan]

Occupation
['Large Business' 'Salaried' 'Small Business']

Gender
['male' 'Male' 'Female' 'female' 'ｆｅｍａｌｅ' 'FEMALE' 'Ｍａｌｅ' 'Fe Male' 'MALE'
 'ｆｅ\u3000ｍａｌｅ' 'fe male' 'Ｆｅｍａｌｅ' 'ｍａｌｅ' 'FE MALE' 'Ｆｅ\u3000Ｍａｌｅ'
 'ＦＥＭＡＬＥ' 'ＦＥ\u3000ＭＡＬＥ' 'ＭＡＬＥ']

ProductPitched
['Basic' 'Standard' 'Super Deluxe' 'basic' 'SUPER DELUXE' 'super deluxe'
 'BASIC' 'Deluxe' 'deluxe' 'STANᗞARD' 'STANDARD' 'Вasic' 'DELUXE'
 'ꓢuper De|uxe' 'Ѕuper Deluxe' 'BAՏIC' 'Basıc' 'King' 'Super De|uxe'
 'king' 'standard' 'KING' 'BΑSIC' 'B𝖺sic' 'De|uxe' 'ᎠELUXE' 'Basiϲ'
 'de|u×e' 'Delu×e' 'Standar𝔡' 'Basi𝘤' 'Βasic' 'Տuper Deluxe' 'Staոdard'
 'BAꓢIC' 'ᗞeluxe' 'Տtandard' 'Βası𝘤' 'Kıng' 'Baｓic' 'basıc' 'super de|uxe'
 'Stand𝖺rd' 'S𝘵andard' '𐊡asic' 'St𝖺ndard' 'Super ᗞeluxe' 'de|uxe'
 'ｓuper deluxe' 'STANDARᎠ' 'Basiс' 'DΕLUXΕ' 'ꓢuper Deluxe' 'BASΙC'
 'ꓢtandard' 'В𝖺sic' 'Standa𝘳d' 'basiϲ' 'staոdard' 'Super Ꭰeluxe' 'DELUXΕ'
 'Ѕtandard' '𐊡asi𝘤' 'Ꭰeluxe' 'Kıոg' '𝙳eluxe' 'Kiոg' 'Βasıc' 'BASIС'
 'SUPER DΕLUXE' 'B𝖺si𝘤' 'ΒASIС' 'Super 𝙳eluxe' 'Տtanda𝘳d' 'Basıϲ'
 'ЅTANDARD']

NumberOfTrips
['5' '2' '4' '1' '年に1回' '年に2回' '年に6回' '3' '年に5回' '7' '6' '半年に1回' '年に4回'
 '年に3回' '8' '年に8回' nan '年に7回' '四半期に1回']

Designation
['Executive' 'Senior Manager' 'AVP' 'Manager' 'Senior Manage𝙧' 'Execuｔive'
 'Μanager' 'VP' 'Sеnior Manager' 'ΑVP' 'АVP' 'E×ecutive' 'Mαnage𝙧'
 'Executiѵе' 'Ѕenior Manager' 'Managеr' 'Еxecutivе' 'Senior Μanαger'
 'Еxecuｔive' 'Exеcutivе' 'Exеcutive' 'Senior Managе𝙧' 'Manage𝙧'
 'Senio𝙧 Manager' 'Manαger' 'Μanage𝙧' 'Manαgеr' 'Senior Managеr'
 'Executivе' 'Executiѵe' 'Е×еcutive' 'Еxecutive' 'VＰ' 'Տenior Μanager'
 'Exеcutiѵе' 'Senior Manαger' 'Mαnager' 'Senior Mαnαger' 'E×еcutiѵe'
 'Ѕenior Manαger' 'Exеcｕtive' 'Execｕtive' 'Mαnαger' 'Μanagеr' 'E×ecｕtive'
 'Sеnior Managеr' 'Տenior Manager' 'AVＰ' 'Exеcｕtivе' 'Mαnagеr' 'Еxеcutivе'
 'Senior Mαnager' 'Е×ecutive']

customer_info
['未婚 車未所持 子供なし' '離婚済み,車あり,子供無し' '結婚済み、自動車未所有,子供なし' ...
 '結婚済み,車保有なし,子供有り 1人' '結婚済み/自家用車なし/1児' '独身／車所持／こども1人']

# Preprocessing

## NuLL

### Age -> age

In [16]:
df["Age"].unique()

array(['50歳', '56歳', nan, '三十七歳', '48歳', '19歳', '47歳', '49歳', '33歳',
       '３１歳', '51歳', '46歳', '４９歳', '53才', '20歳', '25歳', '五十三歳', '20代',
       '44歳', '30歳', '34歳', '29歳', '30代', '41歳', '50代', '52歳', '22歳',
       '３６歳', '28歳', '25才', '五十一歳', '48才', '38才', '三十三歳', '42際', '５０代',
       '35才', '59歳', '四十三歳', '32歳', '４２才', '53歳', '58歳', '40代', '二十六歳',
       '52際', '54歳', '59才', '29才', '21才', '57歳', '37歳', '35歳', '36才',
       '38歳', '３７歳', '50才', '51才', '43歳', '四十歳', '26歳', '31歳', '27歳',
       '40歳', '３４歳', '40際', '21歳', '24才', '45歳', '36歳', '41才', '38際',
       '18歳', '39歳', '４６歳', '４０代', '５５歳', '58際', '24歳', '41際', '三十一歳',
       '52才', '３０代', '28才', '55際', '60代', '27際', '３２歳', '60歳', '五十四歳',
       '29際', '三十四歳', '４７歳', '37際', '二十四歳', '四十七歳', '58才', '39才', '23才',
       '３３歳', '４２歳', '４５歳', '３９歳', '５４歳', '55歳', '42歳', '３８歳', '47才',
       '５１歳', '３９才', '51際', '二十七歳', '30才', '２６歳', '４０歳', '36際', '三十歳',
       '23歳', '二十二歳', '37才', '３０歳', '２８歳', '34才', '五十歳', '四十一歳', '５９歳',
       '３５歳', '２２歳', '３７才', '四十九歳', '42才', '４４歳', '２５歳', '44際', '33才',
       '28際', '２４才', '55才', '４８歳', '四十四歳', '31才', '２０代', '二十歳', '22際',
       '31際', '二十三歳', '39際', '59際', '３３才', '三十六歳', '10代', '２７歳', '49才',
       '４３歳', '32際', '４１歳', '33際', '二十五歳', '27才', '46際', '二十九歳', '32才',
       '22才', '２９才', '43才', '四十八歳', '30際', '２９歳', '４３才', '三十八歳', '４５才',
       '45才', '二十一歳', '57才', '40才', '５２歳', '１９歳', '５３歳', '35際', '61歳',
       '34際', '２４歳', '四十二歳', '５６才', '26際', '５０歳', '五十八歳', '20才', '50際',
       '57際', '23際', '１９才', '５７歳', '26才', '五十六歳', '54才', '５８歳', '６０歳',
       '三十五歳', '44才', '４０才', '２２才', '４４才', '２８才', '３８才', '三十九歳', '54際',
       '二十八歳', '56際', '五十二歳', '３６才', '46才', '43際', '２０歳', '４１才', '24際',
       '53際', '45際', '21際', '60際', '２１歳', '３５才', '五十五歳', '47際', '三十二歳',
       '18際', '四十六歳', '３４才', '56才', '３２才', '５６歳', '４７才', '49際', '48際',
       '５１才', '五十九歳', '六十一歳', '２１才'], dtype=object)

In [17]:
# 日本語をすべてInt型に変換
df["age"] = df["Age"].astype(str).apply(japanese_to_int)

# 欠損値を中央値で補完
# japanese_to_int関数により、欠損値は0と出力されている。
tmp = df[~(df["age"] == 0)]
df.loc[df["age"] == 0, "age"] = tmp["age"].median()

In [18]:
df["age"].unique()

array([50, 56, 38, 37, 48, 19, 47, 49, 33, 31, 51, 46, 53, 20, 25, 44, 30,
       34, 29, 41, 52, 22, 36, 28, 42, 35, 59, 43, 32, 58, 40, 26, 54, 21,
       57, 27, 24, 45, 18, 39, 55, 60, 23, 10, 61], dtype=int64)

### DurationOfPitch -> duration

In [19]:
df["DurationOfPitch"].unique()

array(['900秒', '14分', '10分', '1080秒', '1020秒', '16分', '840秒', '22分',
       '20分', '11分', '32分', '17分', '24分', '1380秒', '35分', '420秒', '5分',
       '480秒', '8分', '15分', '960秒', nan, '540秒', '26分', '13分', '12分',
       '21分', '25分', '720秒', '9分', '7分', '780秒', '6分', '18分', '31分',
       '600秒', '23分', '28分', '2160秒', '660秒', '1500秒', '1920秒', '27分',
       '33分', '360秒', '1320秒', '1740秒', '1680秒', '29分', '1620秒', '1440秒',
       '1800秒', '30分', '34分', '4分', '19分', '1860秒', '1260秒', '2100秒',
       '300秒', '2040秒', '1200秒', '1560秒', '1980秒', '36分', '1140秒'],
      dtype=object)

In [20]:
# 単位をすべて秒に統一
df["duration"] = df["DurationOfPitch"].dropna().apply(convert_to_second)

# 欠損値を中央値で補完
df["duration"] = df["duration"].fillna(df["duration"].median())

In [21]:
df["duration"].unique()

array([ 900.,  840.,  600., 1080., 1020.,  960., 1320., 1200.,  660.,
       1920., 1440., 1380., 2100.,  420.,  300.,  480.,  780.,  540.,
       1560.,  720., 1260., 1500.,  360., 1860., 1680., 2160., 1620.,
       1980., 1740., 1800., 2040.,  240., 1140.])

### NumberOfFollowups, MonthlyIncome, TypeofContact

In [22]:
print("NumberOfFollowups : ", df["NumberOfFollowups"].isna().sum())
print("NumberOfTrips : ", df["NumberOfTrips"].isna().sum())
print("MonthlyIncome : ", df["MonthlyIncome"].isna().sum())
print("TypeofContact : ", df["TypeofContact"].isna().sum())

NumberOfFollowups :  33
NumberOfTrips :  22
MonthlyIncome :  56
TypeofContact :  6

In [23]:
df.dropna(subset=["NumberOfFollowups", "NumberOfTrips", "MonthlyIncome", "TypeofContact"], inplace=True)

In [24]:
print("NumberOfFollowups : ", df["NumberOfFollowups"].isna().sum())
print("NumberOfTrips : ", df["NumberOfTrips"].isna().sum())
print("MonthlyIncome : ", df["MonthlyIncome"].isna().sum())
print("TypeofContact : ", df["TypeofContact"].isna().sum())

NumberOfFollowups :  0
NumberOfTrips :  0
MonthlyIncome :  0
TypeofContact :  0

In [25]:
df.isna().sum()

id                          0
Age                        62
TypeofContact               0
CityTier                    0
DurationOfPitch           107
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
Designation                 0
MonthlyIncome               0
customer_info               0
ProdTaken                   0
age                         0
duration                    0
dtype: int64

In [26]:
df.head()

,id,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,Designation,MonthlyIncome,customer_info,ProdTaken,age,duration
0,0,50歳,Self Enquiry,2,900秒,Large Business,male,1.0,4.0,Basic,3.0,5,1,4,Executive,253905.0,未婚 車未所持 子供なし,1,50,900.0
1,1,56歳,Company Invited,1,14分,Salaried,Male,1.0,4.0,Standard,3.0,2,1,4,Senior Manager,404475.0,"離婚済み,車あり,子供無し",0,56,840.0
2,2,NaN,Self Enquiry,1,10分,Large Business,Female,1.0,3.0,Basic,3.0,4,0,4,Executive,278145.0,"結婚済み、自動車未所有,子供なし",1,38,600.0
3,3,三十七歳,Self Enquiry,2,1080秒,Small Business,female,1.0,3.0,Standard,4.0,1,0,5,Senior Manager,326805.0,離婚済み、車所持、子供無し,0,37,1080.0
4,4,48歳,Company Invited,3,1020秒,Small Business,female,1.0,3.0,Basic,4.0,4,0,4,Executive,258435.0,独身／車所持／無子,1,48,1020.0

## Extract Features

In [27]:
df = df.drop(columns=["id", "Age", "DurationOfPitch"], axis=1)

In [28]:
df.head()

,TypeofContact,CityTier,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,Designation,MonthlyIncome,customer_info,ProdTaken,age,duration
0,Self Enquiry,2,Large Business,male,1.0,4.0,Basic,3.0,5,1,4,Executive,253905.0,未婚 車未所持 子供なし,1,50,900.0
1,Company Invited,1,Salaried,Male,1.0,4.0,Standard,3.0,2,1,4,Senior Manager,404475.0,"離婚済み,車あり,子供無し",0,56,840.0
2,Self Enquiry,1,Large Business,Female,1.0,3.0,Basic,3.0,4,0,4,Executive,278145.0,"結婚済み、自動車未所有,子供なし",1,38,600.0
3,Self Enquiry,2,Small Business,female,1.0,3.0,Standard,4.0,1,0,5,Senior Manager,326805.0,離婚済み、車所持、子供無し,0,37,1080.0
4,Company Invited,3,Small Business,female,1.0,3.0,Basic,4.0,4,0,4,Executive,258435.0,独身／車所持／無子,1,48,1020.0

In [29]:
df.to_csv("data/train_non_null.csv", index=False)

## Normalization

In [30]:
df = pd.read_csv("data/train_non_null.csv")

In [31]:
df.head()

,TypeofContact,CityTier,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,Designation,MonthlyIncome,customer_info,ProdTaken,age,duration
0,Self Enquiry,2,Large Business,male,1.0,4.0,Basic,3.0,5,1,4,Executive,253905.0,未婚 車未所持 子供なし,1,50,900.0
1,Company Invited,1,Salaried,Male,1.0,4.0,Standard,3.0,2,1,4,Senior Manager,404475.0,"離婚済み,車あり,子供無し",0,56,840.0
2,Self Enquiry,1,Large Business,Female,1.0,3.0,Basic,3.0,4,0,4,Executive,278145.0,"結婚済み、自動車未所有,子供なし",1,38,600.0
3,Self Enquiry,2,Small Business,female,1.0,3.0,Standard,4.0,1,0,5,Senior Manager,326805.0,離婚済み、車所持、子供無し,0,37,1080.0
4,Company Invited,3,Small Business,female,1.0,3.0,Basic,4.0,4,0,4,Executive,258435.0,独身／車所持／無子,1,48,1020.0

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3373 entries, 0 to 3372
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   TypeofContact           3373 non-null   object
 1   CityTier                3373 non-null   int64
 2   Occupation              3373 non-null   object
 3   Gender                  3373 non-null   object
 4   NumberOfPersonVisiting  3373 non-null   float64
 5   NumberOfFollowups       3373 non-null   float64
 6   ProductPitched          3373 non-null   object
 7   PreferredPropertyStar   3373 non-null   float64
 8   NumberOfTrips           3373 non-null   object
 9   Passport                3373 non-null   int64
 10  PitchSatisfactionScore  3373 non-null   int64
 11  Designation             3373 non-null   object
 12  MonthlyIncome           3373 non-null   object
 13  customer_info           3373 non-null   object
 14  ProdTaken               3373 non-null   int64
 15  age                     3373 non-null   int64
 16  duration                3373 non-null   float64
dtypes: float64(4), int64(5), object(8)
memory usage: 448.1+ KB

In [33]:
tmp = ["TypeofContact", "CityTier", "Occupation", "Gender", "NumberOfTrips", "customer_info", "ProductPitched", "Designation"]
for column in tmp:
    print(column)
    print(df[column].unique(), "\n")

TypeofContact
['Self Enquiry' 'Company Invited']

CityTier
[2 1 3]

Occupation
['Large Business' 'Salaried' 'Small Business']

Gender
['male' 'Male' 'Female' 'female' 'ｆｅｍａｌｅ' 'FEMALE' 'Ｍａｌｅ' 'Fe Male' 'MALE'
 'ｆｅ\u3000ｍａｌｅ' 'fe male' 'Ｆｅｍａｌｅ' 'ｍａｌｅ' 'FE MALE' 'Ｆｅ\u3000Ｍａｌｅ'
 'ＦＥＭＡＬＥ' 'ＦＥ\u3000ＭＡＬＥ' 'ＭＡＬＥ']

NumberOfTrips
['5' '2' '4' '1' '年に1回' '年に2回' '年に6回' '3' '年に5回' '7' '6' '半年に1回' '年に4回'
 '年に3回' '8' '年に8回' '年に7回' '四半期に1回']

customer_info
['未婚 車未所持 子供なし' '離婚済み,車あり,子供無し' '結婚済み、自動車未所有,子供なし' ...
 '結婚済み,車保有なし,子供有り 1人' '結婚済み/自家用車なし/1児' '独身／車所持／こども1人']

ProductPitched
['Basic' 'Standard' 'Super Deluxe' 'basic' 'SUPER DELUXE' 'super deluxe'
 'BASIC' 'Deluxe' 'deluxe' 'STANᗞARD' 'STANDARD' 'Вasic' 'DELUXE'
 'ꓢuper De|uxe' 'Ѕuper Deluxe' 'BAՏIC' 'Basıc' 'King' 'Super De|uxe'
 'king' 'standard' 'KING' 'BΑSIC' 'B𝖺sic' 'De|uxe' 'ᎠELUXE' 'Basiϲ'
 'de|u×e' 'Delu×e' 'Standar𝔡' 'Basi𝘤' 'Βasic' 'Տuper Deluxe' 'Staոdard'
 'BAꓢIC' 'ᗞeluxe' 'Տtandard' 'Βası𝘤' 'Baｓic' 'basıc' 'super de|uxe'
 'Stand𝖺rd' 'S𝘵andard' '𐊡asic' 'St𝖺ndard' 'Super ᗞeluxe' 'de|uxe'
 'ｓuper deluxe' 'STANDARᎠ' 'Basiс' 'DΕLUXΕ' 'ꓢuper Deluxe' 'BASΙC'
 'ꓢtandard' 'В𝖺sic' 'Standa𝘳d' 'basiϲ' 'staոdard' 'Super Ꭰeluxe' 'DELUXΕ'
 'Ѕtandard' '𐊡asi𝘤' 'Ꭰeluxe' 'Kıոg' '𝙳eluxe' 'Kiոg' 'Βasıc' 'BASIС'
 'SUPER DΕLUXE' 'B𝖺si𝘤' 'ΒASIС' 'Super 𝙳eluxe' 'Տtanda𝘳d' 'ЅTANDARD']

Designation
['Executive' 'Senior Manager' 'AVP' 'Manager' 'Senior Manage𝙧' 'Execuｔive'
 'Μanager' 'VP' 'Sеnior Manager' 'ΑVP' 'АVP' 'E×ecutive' 'Mαnage𝙧'
 'Executiѵе' 'Ѕenior Manager' 'Managеr' 'Еxecutivе' 'Senior Μanαger'
 'Еxecuｔive' 'Exеcutivе' 'Exеcutive' 'Senior Managе𝙧' 'Manage𝙧'
 'Senio𝙧 Manager' 'Manαger' 'Μanage𝙧' 'Manαgеr' 'Senior Managеr'
 'Executivе' 'Е×еcutive' 'Еxecutive' 'VＰ' 'Տenior Μanager' 'Executiѵe'
 'Exеcutiѵе' 'Senior Manαger' 'Mαnager' 'Senior Mαnαger' 'E×еcutiѵe'
 'Ѕenior Manαger' 'Exеcｕtive' 'Execｕtive' 'Mαnαger' 'Μanagеr' 'E×ecｕtive'
 'Sеnior Managеr' 'Տenior Manager' 'AVＰ' 'Exеcｕtivе' 'Mαnagеr' 'Еxеcutivе'
 'Senior Mαnager' 'Е×ecutive']

### Gender -> gender

In [34]:
df['Gender'].unique()

array(['male', 'Male', 'Female', 'female', 'ｆｅｍａｌｅ', 'FEMALE', 'Ｍａｌｅ',
       'Fe Male', 'MALE', 'ｆｅ\u3000ｍａｌｅ', 'fe male', 'Ｆｅｍａｌｅ', 'ｍａｌｅ',
       'FE MALE', 'Ｆｅ\u3000Ｍａｌｅ', 'ＦＥＭＡＬＥ', 'ＦＥ\u3000ＭＡＬＥ', 'ＭＡＬＥ'],
      dtype=object)

In [35]:
df['gender'] = df['Gender'].apply(normalize_gender)

In [36]:
df['gender'].unique()

array(['male', 'female'], dtype=object)

### ProductPitched -> product_pitched

In [37]:
df['ProductPitched'].unique()

array(['Basic', 'Standard', 'Super Deluxe', 'basic', 'SUPER DELUXE',
       'super deluxe', 'BASIC', 'Deluxe', 'deluxe', 'STANᗞARD',
       'STANDARD', 'Вasic', 'DELUXE', 'ꓢuper De|uxe', 'Ѕuper Deluxe',
       'BAՏIC', 'Basıc', 'King', 'Super De|uxe', 'king', 'standard',
       'KING', 'BΑSIC', 'B𝖺sic', 'De|uxe', 'ᎠELUXE', 'Basiϲ', 'de|u×e',
       'Delu×e', 'Standar𝔡', 'Basi𝘤', 'Βasic', 'Տuper Deluxe', 'Staոdard',
       'BAꓢIC', 'ᗞeluxe', 'Տtandard', 'Βası𝘤', 'Baｓic', 'basıc',
       'super de|uxe', 'Stand𝖺rd', 'S𝘵andard', '𐊡asic', 'St𝖺ndard',
       'Super ᗞeluxe', 'de|uxe', 'ｓuper deluxe', 'STANDARᎠ', 'Basiс',
       'DΕLUXΕ', 'ꓢuper Deluxe', 'BASΙC', 'ꓢtandard', 'В𝖺sic', 'Standa𝘳d',
       'basiϲ', 'staոdard', 'Super Ꭰeluxe', 'DELUXΕ', 'Ѕtandard', '𐊡asi𝘤',
       'Ꭰeluxe', 'Kıոg', '𝙳eluxe', 'Kiոg', 'Βasıc', 'BASIС',
       'SUPER DΕLUXE', 'B𝖺si𝘤', 'ΒASIС', 'Super 𝙳eluxe', 'Տtanda𝘳d',
       'ЅTANDARD'], dtype=object)

In [38]:
df['product_pitched'] = df['ProductPitched'].apply(normalize_product_pitched_1)

In [39]:
df['product_pitched'].unique()

array(['Basic', 'Standard', 'Deluxe', 'super deiuxe', 'banic', 'King',
       'deiuxe', 'seluxe', 'basis', 'ntandard', 'iasic', 'standars',
       'basιc', 'super seluxe', 'ѕtandard'], dtype=object)

In [40]:
df['product_pitched'] = df['product_pitched'].apply(normalize_product_pitched_2)

In [41]:
df['product_pitched'].unique()

array(['Basic', 'Standard', 'Deluxe', 'Super Deluxe', 'King'],
      dtype=object)

### NumberOfTrips -> trip_per_year

In [42]:
df['NumberOfTrips'].unique()

array(['5', '2', '4', '1', '年に1回', '年に2回', '年に6回', '3', '年に5回', '7', '6',
       '半年に1回', '年に4回', '年に3回', '8', '年に8回', '年に7回', '四半期に1回'],
      dtype=object)

In [43]:
df['trip_per_year'] = df['NumberOfTrips'].apply(normalize_trips)

In [44]:
df['trip_per_year'].unique()

array([ 5,  2,  4,  1,  8, 24,  3, 20,  7,  6, 16, 12, 32, 28],
      dtype=int64)

### Designation -> designation

In [45]:
df['Designation'].unique()

array(['Executive', 'Senior Manager', 'AVP', 'Manager', 'Senior Manage𝙧',
       'Execuｔive', 'Μanager', 'VP', 'Sеnior Manager', 'ΑVP', 'АVP',
       'E×ecutive', 'Mαnage𝙧', 'Executiѵе', 'Ѕenior Manager', 'Managеr',
       'Еxecutivе', 'Senior Μanαger', 'Еxecuｔive', 'Exеcutivе',
       'Exеcutive', 'Senior Managе𝙧', 'Manage𝙧', 'Senio𝙧 Manager',
       'Manαger', 'Μanage𝙧', 'Manαgеr', 'Senior Managеr', 'Executivе',
       'Е×еcutive', 'Еxecutive', 'VＰ', 'Տenior Μanager', 'Executiѵe',
       'Exеcutiѵе', 'Senior Manαger', 'Mαnager', 'Senior Mαnαger',
       'E×еcutiѵe', 'Ѕenior Manαger', 'Exеcｕtive', 'Execｕtive', 'Mαnαger',
       'Μanagеr', 'E×ecｕtive', 'Sеnior Managеr', 'Տenior Manager', 'AVＰ',
       'Exеcｕtivе', 'Mαnagеr', 'Еxеcutivе', 'Senior Mαnager', 'Е×ecutive'],
      dtype=object)

In [46]:
df['designation'] = df['Designation'].apply(normalize_designation_1)

In [47]:
df['designation'].unique()

array(['Executive', 'Senior Manager', 'AVP', 'Manager', 'μanager', 'VP',
       'e×ecutive', 'senior μanager'], dtype=object)

In [48]:
df['designation'] = df['designation'].apply(normalize_designation_2)

In [49]:
df['designation'].unique()

array(['Executive', 'Senior Manager', 'AVP', 'Manager', 'VP'],
      dtype=object)

### MonthlyIncome -> income

In [50]:
df['MonthlyIncome'].unique()

array(['253905.0', '404475.0', '278145.0', ..., '317340.0', '527910.0',
       '278190.0'], dtype=object)

In [51]:
df['income'] = df['MonthlyIncome'].apply(normalize_monthly_income)

In [52]:
df['income'].unique()

array([253905., 404475., 278145., ..., 317340., 527910., 278190.])

### customer_info -> info_1, info_2, info_3

In [53]:
df[['info_1', 'info_2', 'info_3']] = df['customer_info'].apply(divide_customer_info)

In [54]:
df[['info_1', 'info_2', 'info_3']].head()

  info_1  info_2 info_3
0     未婚    車未所持   子供なし
1   離婚済み     車あり   子供無し
2   結婚済み  自動車未所有   子供なし
3   離婚済み     車所持   子供無し
4     独身     車所持     無子

In [55]:
print('NuLL (info_1) : ', df['info_1'].isna().sum())
print('NuLL (info_2) : ', df['info_2'].isna().sum())
print('NuLL (info_3) : ', df['info_3'].isna().sum())

NuLL (info_1) :  0
NuLL (info_2) :  0
NuLL (info_3) :  0

In [56]:
print('info_1 unique : ', df['info_1'].unique(), '\n')
print('info_2 unique : ', df['info_2'].unique(), '\n')
print('info_3 unique : ', df['info_3'].unique())

info_1 unique :  ['未婚' '離婚済み' '結婚済み' '独身']

info_2 unique :  ['車未所持' '車あり' '自動車未所有' '車所持' '自家用車あり' '車保有' '車保有なし' '乗用車所持' '乗用車なし'
 '自動車所有' '自家用車なし' '車なし']

info_3 unique :  ['子供なし' '子供無し' '無子' '子供ゼロ' '非育児家庭' '子育て状況不明' '子の数不詳' '子供の数不明' 'こども1人' '1児'
 '子供1人' '子供有り(1人)' 'わからない' '子供有り' 'こども2人' '子供2人' '子供有り(2人)' 'こども3人' '子供3人'
 '不明' '2児' '3児' '子供有り(3人)']

In [57]:
def normalize_info_3(info):
    no_children = {'子供なし', '子供無し', '無子', '子供ゼロ', '非育児家庭', '子育て状況不明', '子の数不詳', '子供の数不明', 'わからない', '不明'}
    one_child = {'こども1人', '1児', '子供1人', '子供有り(1人)', '子供有り'}
    two_children = {'こども2人', '子供2人', '子供有り(2人)', '2児'}
    three_children = {'こども3人', '子供3人', '子供有り(3人)', '3児'}
    
    if info in no_children:
        return '0'
    elif info in one_child:
        return '1'
    elif info in two_children:
        return '2'
    elif info in three_children:
        return '3'
    else:
        return info

In [58]:
df['info_1'] = df['info_1'].apply(normalize_info_1)
df['info_2'] = df['info_2'].apply(normalize_info_2)
df['info_3'] = df['info_3'].apply(normalize_info_3)

In [59]:
print('info_1 unique : ', df['info_1'].unique(), '\n')
print('info_2 unique : ', df['info_2'].unique(), '\n')
print('info_3 unique : ', df['info_3'].unique())

info_1 unique :  ['Single' 'Divorced' 'Married']

info_2 unique :  ['No Car' 'Has Car']

info_3 unique :  ['0' '1' '2' '3']

### Confirm

In [60]:
tmp = ["gender", "product_pitched", "trip_per_year", "designation", "info_1", "info_2", "info_3"]
for column in tmp:
    print(column)
    print(df[column].unique(), "\n")

gender
['male' 'female']

product_pitched
['Basic' 'Standard' 'Deluxe' 'Super Deluxe' 'King']

trip_per_year
[ 5  2  4  1  8 24  3 20  7  6 16 12 32 28]

designation
['Executive' 'Senior Manager' 'AVP' 'Manager' 'VP']

info_1
['Single' 'Divorced' 'Married']

info_2
['No Car' 'Has Car']

info_3
['0' '1' '2' '3']

### Output CSV

In [61]:
df = df.drop(columns=['Gender', 'ProductPitched', 'NumberOfTrips', 'Designation', 'customer_info','MonthlyIncome'])

In [62]:
df.head()

,TypeofContact,CityTier,Occupation,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,Passport,PitchSatisfactionScore,ProdTaken,age,duration,gender,product_pitched,trip_per_year,designation,income,info_1,info_2,info_3
0,Self Enquiry,2,Large Business,1.0,4.0,3.0,1,4,1,50,900.0,male,Basic,5,Executive,253905.0,Single,No Car,0
1,Company Invited,1,Salaried,1.0,4.0,3.0,1,4,0,56,840.0,male,Standard,2,Senior Manager,404475.0,Divorced,Has Car,0
2,Self Enquiry,1,Large Business,1.0,3.0,3.0,0,4,1,38,600.0,female,Basic,4,Executive,278145.0,Married,No Car,0
3,Self Enquiry,2,Small Business,1.0,3.0,4.0,0,5,0,37,1080.0,female,Standard,1,Senior Manager,326805.0,Divorced,Has Car,0
4,Company Invited,3,Small Business,1.0,3.0,4.0,0,4,1,48,1020.0,female,Basic,4,Executive,258435.0,Single,Has Car,0

In [63]:
df.to_csv('data/train_normalized.csv', index=False)

## Data Type

In [64]:
df = pd.read_csv('data/train_normalized.csv')

In [65]:
df.head()

,TypeofContact,CityTier,Occupation,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,Passport,PitchSatisfactionScore,ProdTaken,age,duration,gender,product_pitched,trip_per_year,designation,income,info_1,info_2,info_3
0,Self Enquiry,2,Large Business,1.0,4.0,3.0,1,4,1,50,900.0,male,Basic,5,Executive,253905.0,Single,No Car,0
1,Company Invited,1,Salaried,1.0,4.0,3.0,1,4,0,56,840.0,male,Standard,2,Senior Manager,404475.0,Divorced,Has Car,0
2,Self Enquiry,1,Large Business,1.0,3.0,3.0,0,4,1,38,600.0,female,Basic,4,Executive,278145.0,Married,No Car,0
3,Self Enquiry,2,Small Business,1.0,3.0,4.0,0,5,0,37,1080.0,female,Standard,1,Senior Manager,326805.0,Divorced,Has Car,0
4,Company Invited,3,Small Business,1.0,3.0,4.0,0,4,1,48,1020.0,female,Basic,4,Executive,258435.0,Single,Has Car,0

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3373 entries, 0 to 3372
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   TypeofContact           3373 non-null   object
 1   CityTier                3373 non-null   int64
 2   Occupation              3373 non-null   object
 3   NumberOfPersonVisiting  3373 non-null   float64
 4   NumberOfFollowups       3373 non-null   float64
 5   PreferredPropertyStar   3373 non-null   float64
 6   Passport                3373 non-null   int64
 7   PitchSatisfactionScore  3373 non-null   int64
 8   ProdTaken               3373 non-null   int64
 9   age                     3373 non-null   int64
 10  duration                3373 non-null   float64
 11  gender                  3373 non-null   object
 12  product_pitched         3373 non-null   object
 13  trip_per_year           3373 non-null   int64
 14  designation             3373 non-null   object
 15  income                  3373 non-null   float64
 16  info_1                  3373 non-null   object
 17  info_2                  3373 non-null   object
 18  info_3                  3373 non-null   int64
dtypes: float64(5), int64(7), object(7)
memory usage: 500.8+ KB

In [67]:
# not necessary to convert dtypes
# [CityTier, Passport, age, duration, trip_per_year]
int_columns = ['NumberOfPersonVisiting', 'NumberOfFollowups', 'PreferredPropertyStar']
category_columns = ['TypeofContact', 'Occupation', 'gender', 'product_pitched', 'designation', 'info_1', 'info_2', 'info_3']

for col in int_columns:
    df[col] = df[col].astype('int')

for col in category_columns:
    df[col] = df[col].astype('category')

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3373 entries, 0 to 3372
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   TypeofContact           3373 non-null   category
 1   CityTier                3373 non-null   int64
 2   Occupation              3373 non-null   category
 3   NumberOfPersonVisiting  3373 non-null   int32
 4   NumberOfFollowups       3373 non-null   int32
 5   PreferredPropertyStar   3373 non-null   int32
 6   Passport                3373 non-null   int64
 7   PitchSatisfactionScore  3373 non-null   int64
 8   ProdTaken               3373 non-null   int64
 9   age                     3373 non-null   int64
 10  duration                3373 non-null   float64
 11  gender                  3373 non-null   category
 12  product_pitched         3373 non-null   category
 13  trip_per_year           3373 non-null   int64
 14  designation             3373 non-null   category
 15  income                  3373 non-null   float64
 16  info_1                  3373 non-null   category
 17  info_2                  3373 non-null   category
 18  info_3                  3373 non-null   category
dtypes: category(8), float64(2), int32(3), int64(6)
memory usage: 278.1 KB

In [69]:
df.to_csv('data/train_categorized.csv', index=False)

## One-Hot-Encoding

In [5]:
df = pd.read_csv('data/train_categorized.csv')

category_columns = ['TypeofContact', 'Occupation', 'gender', 'product_pitched', 'designation', 'info_1', 'info_2', 'info_3']
for col in category_columns:
    df[col] = df[col].astype('category')

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3373 entries, 0 to 3372
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   TypeofContact           3373 non-null   category
 1   CityTier                3373 non-null   int64
 2   Occupation              3373 non-null   category
 3   NumberOfPersonVisiting  3373 non-null   int64
 4   NumberOfFollowups       3373 non-null   int64
 5   PreferredPropertyStar   3373 non-null   int64
 6   Passport                3373 non-null   int64
 7   PitchSatisfactionScore  3373 non-null   int64
 8   ProdTaken               3373 non-null   int64
 9   age                     3373 non-null   int64
 10  duration                3373 non-null   float64
 11  gender                  3373 non-null   category
 12  product_pitched         3373 non-null   category
 13  trip_per_year           3373 non-null   int64
 14  designation             3373 non-null   category
 15  income                  3373 non-null   float64
 16  info_1                  3373 non-null   category
 17  info_2                  3373 non-null   category
 18  info_3                  3373 non-null   category
dtypes: category(8), float64(2), int64(9)
memory usage: 317.6 KB

In [77]:
df.describe()

,CityTier,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,Passport,PitchSatisfactionScore,ProdTaken,age,duration,trip_per_year,income
count,3373.000000,3373.000000,3373.000000,3373.000000,3373.000000,3373.00000,3373.000000,3373.000000,3373.000000,3373.000000,3373.000000
mean,1.702639,2.391936,7.781500,3.446190,0.104655,2.50756,0.143492,38.839016,857.681589,4.572487,355090.388378
std,0.671118,0.728561,39.658185,0.600386,0.306153,1.11299,0.350626,9.905478,411.075850,4.645995,74451.007142
min,1.000000,1.000000,1.000000,3.000000,0.000000,1.00000,0.000000,10.000000,240.000000,1.000000,200000.000000
25%,1.000000,2.000000,3.000000,3.000000,0.000000,2.00000,0.000000,31.000000,540.000000,2.000000,300000.000000
50%,2.000000,2.000000,4.000000,3.000000,0.000000,2.00000,0.000000,38.000000,780.000000,3.000000,343185.000000
75%,2.000000,3.000000,4.000000,4.000000,0.000000,3.00000,0.000000,47.000000,960.000000,5.000000,400000.000000
max,3.000000,4.000000,600.000000,5.000000,1.000000,5.00000,1.000000,61.000000,2160.000000,32.000000,600000.000000

In [82]:
print(len(df.columns))
print(df.columns)

19
Index(['TypeofContact', 'CityTier', 'Occupation', 'NumberOfPersonVisiting',
       'NumberOfFollowups', 'PreferredPropertyStar', 'Passport',
       'PitchSatisfactionScore', 'ProdTaken', 'age', 'duration', 'gender',
       'product_pitched', 'trip_per_year', 'designation', 'income', 'info_1',
       'info_2', 'info_3'],
      dtype='object')

In [10]:
df_one_hot_encoded = pd.get_dummies(df, dtype=int)

print(len(df_one_hot_encoded.columns))
print(df_one_hot_encoded.columns)

37
Index(['CityTier', 'NumberOfPersonVisiting', 'NumberOfFollowups',
       'PreferredPropertyStar', 'Passport', 'PitchSatisfactionScore',
       'ProdTaken', 'age', 'duration', 'trip_per_year', 'income',
       'TypeofContact_Company Invited', 'TypeofContact_Self Enquiry',
       'Occupation_Large Business', 'Occupation_Salaried',
       'Occupation_Small Business', 'gender_female', 'gender_male',
       'product_pitched_Basic', 'product_pitched_Deluxe',
       'product_pitched_King', 'product_pitched_Standard',
       'product_pitched_Super Deluxe', 'designation_AVP',
       'designation_Executive', 'designation_Manager',
       'designation_Senior Manager', 'designation_VP', 'info_1_Divorced',
       'info_1_Married', 'info_1_Single', 'info_2_Has Car', 'info_2_No Car',
       'info_3_0', 'info_3_1', 'info_3_2', 'info_3_3'],
      dtype='object')

In [11]:
# カテゴリ変数の一部を削除
drop_list = [
    'TypeofContact_Company Invited',  # 「Self Enquiry」を基準とする
    'Occupation_Salaried',  # 他の職業タイプと比較する基準
    'gender_male',  # 「female」を基準とする
    'product_pitched_Basic',  # 他のプロダクトと比較する基準
    'designation_Executive',  # 他の指定と比較する基準
    'info_1_Single',  # 他の婚姻状態と比較する基準
    'info_2_No Car',  # 「Has Car」を基準とする
    'info_3_0'  # 子供の数を比較する基準
]

df_one_hot_encoded = df_one_hot_encoded.drop(columns=drop_list)

In [12]:
print(len(df_one_hot_encoded.columns))
print(df_one_hot_encoded.columns)

29
Index(['CityTier', 'NumberOfPersonVisiting', 'NumberOfFollowups',
       'PreferredPropertyStar', 'Passport', 'PitchSatisfactionScore',
       'ProdTaken', 'age', 'duration', 'trip_per_year', 'income',
       'TypeofContact_Self Enquiry', 'Occupation_Large Business',
       'Occupation_Small Business', 'gender_female', 'product_pitched_Deluxe',
       'product_pitched_King', 'product_pitched_Standard',
       'product_pitched_Super Deluxe', 'designation_AVP',
       'designation_Manager', 'designation_Senior Manager', 'designation_VP',
       'info_1_Divorced', 'info_1_Married', 'info_2_Has Car', 'info_3_1',
       'info_3_2', 'info_3_3'],
      dtype='object')

In [14]:
df_one_hot_encoded.to_csv('data/train_encoded.csv', index=False)

## Scaling