In [1]:
import os
os.chdir("../")

In [2]:
import pandas as pd

In [21]:
from scr.util import *

# Base Infomation

In [43]:
df = pd.read_csv("data/train.csv")

In [4]:
df.head()

,id,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,Designation,MonthlyIncome,customer_info,ProdTaken
0,0,50æ­³,Self Enquiry,2,900ç§’,Large Business,male,1.0,4.0,Basic,3.0,5,1,4,Executive,253905.0,æœªå©š è»Šæœªæ‰€æŒ å­ä¾›ãªã—,1
1,1,56æ­³,Company Invited,1,14åˆ†,Salaried,Male,1.0,4.0,Standard,3.0,2,1,4,Senior Manager,404475.0,"é›¢å©šæ¸ˆã¿,è»Šã‚ã‚Š,å­ä¾›ç„¡ã—",0
2,2,NaN,Self Enquiry,1,10åˆ†,Large Business,Female,1.0,3.0,Basic,3.0,4,0,4,Executive,278145.0,"çµå©šæ¸ˆã¿ã€è‡ªå‹•è»Šæœªæ‰€æœ‰,å­ä¾›ãªã—",1
3,3,ä¸‰åä¸ƒæ­³,Self Enquiry,2,1080ç§’,Small Business,female,1.0,3.0,Standard,4.0,1,0,5,Senior Manager,326805.0,é›¢å©šæ¸ˆã¿ã€è»Šæ‰€æŒã€å­ä¾›ç„¡ã—,0
4,4,48æ­³,Company Invited,3,1020ç§’,Small Business,female,1.0,3.0,Basic,4.0,4,0,4,Executive,258435.0,ç‹¬èº«ï¼è»Šæ‰€æŒï¼ç„¡å­,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3489 entries, 0 to 3488
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      3489 non-null   int64
 1   Age                     3389 non-null   object
 2   TypeofContact           3483 non-null   object
 3   CityTier                3489 non-null   int64
 4   DurationOfPitch         3368 non-null   object
 5   Occupation              3489 non-null   object
 6   Gender                  3489 non-null   object
 7   NumberOfPersonVisiting  3489 non-null   float64
 8   NumberOfFollowups       3456 non-null   float64
 9   ProductPitched          3489 non-null   object
 10  PreferredPropertyStar   3489 non-null   float64
 11  NumberOfTrips           3467 non-null   object
 12  Passport                3489 non-null   int64
 13  PitchSatisfactionScore  3489 non-null   int64
 14  Designation             3489 non-null   object
 15  MonthlyIncome           3433 non-null   object
 16  customer_info           3489 non-null   object
 17  ProdTaken               3489 non-null   int64
dtypes: float64(3), int64(5), object(10)
memory usage: 490.8+ KB

In [6]:
df.describe()

,id,CityTier,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,Passport,PitchSatisfactionScore,ProdTaken
count,3489.000000,3489.000000,3489.000000,3456.000000,3489.000000,3489.000000,3489.000000,3489.000000
mean,1744.000000,1.697048,2.394669,7.765336,3.441101,0.102608,2.513901,0.142448
std,1007.331872,0.671500,0.726612,39.498670,0.599633,0.303490,1.115412,0.349559
min,0.000000,1.000000,1.000000,1.000000,3.000000,0.000000,1.000000,0.000000
25%,872.000000,1.000000,2.000000,3.000000,3.000000,0.000000,2.000000,0.000000
50%,1744.000000,2.000000,2.000000,4.000000,3.000000,0.000000,2.000000,0.000000
75%,2616.000000,2.000000,3.000000,4.000000,4.000000,0.000000,3.000000,0.000000
max,3488.000000,3.000000,4.000000,600.000000,5.000000,1.000000,5.000000,1.000000

In [7]:
df.isna().sum()

id                          0
Age                       100
TypeofContact               6
CityTier                    0
DurationOfPitch           121
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups          33
ProductPitched              0
PreferredPropertyStar       0
NumberOfTrips              22
Passport                    0
PitchSatisfactionScore      0
Designation                 0
MonthlyIncome              56
customer_info               0
ProdTaken                   0
dtype: int64

In [16]:
tmp = ["TypeofContact", "Occupation", "Gender", "ProductPitched", "NumberOfTrips", "Designation", "customer_info"]
for column in tmp:
    print(column)
    print(df[column].unique(), "\n")

TypeofContact
['Self Enquiry' 'Company Invited' nan]

Occupation
['Large Business' 'Salaried' 'Small Business']

Gender
['male' 'Male' 'Female' 'female' 'ï½†ï½…ï½ï½ï½Œï½…' 'FEMALE' 'ï¼­ï½ï½Œï½…' 'Fe Male' 'MALE'
 'ï½†ï½…\u3000ï½ï½ï½Œï½…' 'fe male' 'ï¼¦ï½…ï½ï½ï½Œï½…' 'ï½ï½ï½Œï½…' 'FE MALE' 'ï¼¦ï½…\u3000ï¼­ï½ï½Œï½…'
 'ï¼¦ï¼¥ï¼­ï¼¡ï¼¬ï¼¥' 'ï¼¦ï¼¥\u3000ï¼­ï¼¡ï¼¬ï¼¥' 'ï¼­ï¼¡ï¼¬ï¼¥']

ProductPitched
['Basic' 'Standard' 'Super Deluxe' 'basic' 'SUPER DELUXE' 'super deluxe'
 'BASIC' 'Deluxe' 'deluxe' 'STANá—ARD' 'STANDARD' 'Ğ’asic' 'DELUXE'
 'ê“¢uper De|uxe' 'Ğ…uper Deluxe' 'BAÕIC' 'BasÄ±c' 'King' 'Super De|uxe'
 'king' 'standard' 'KING' 'BÎ‘SIC' 'Bğ–ºsic' 'De|uxe' 'á ELUXE' 'BasiÏ²'
 'de|uÃ—e' 'DeluÃ—e' 'Standarğ”¡' 'Basiğ˜¤' 'Î’asic' 'Õuper Deluxe' 'StaÕ¸dard'
 'BAê“¢IC' 'á—eluxe' 'Õtandard' 'Î’asÄ±ğ˜¤' 'KÄ±ng' 'Baï½“ic' 'basÄ±c' 'super de|uxe'
 'Standğ–ºrd' 'Sğ˜µandard' 'ğŠ¡asic' 'Stğ–ºndard' 'Super á—eluxe' 'de|uxe'
 'ï½“uper deluxe' 'STANDARá ' 'BasiÑ' 'DÎ•LUXÎ•' 'ê“¢uper Deluxe' 'BASÎ™C'
 'ê“¢tandard' 'Ğ’ğ–ºsic' 'Standağ˜³d' 'basiÏ²' 'staÕ¸dard' 'Super á eluxe' 'DELUXÎ•'
 'Ğ…tandard' 'ğŠ¡asiğ˜¤' 'á eluxe' 'KÄ±Õ¸g' 'ğ™³eluxe' 'KiÕ¸g' 'Î’asÄ±c' 'BASIĞ¡'
 'SUPER DÎ•LUXE' 'Bğ–ºsiğ˜¤' 'Î’ASIĞ¡' 'Super ğ™³eluxe' 'Õtandağ˜³d' 'BasÄ±Ï²'
 'Ğ…TANDARD']

NumberOfTrips
['5' '2' '4' '1' 'å¹´ã«1å›' 'å¹´ã«2å›' 'å¹´ã«6å›' '3' 'å¹´ã«5å›' '7' '6' 'åŠå¹´ã«1å›' 'å¹´ã«4å›'
 'å¹´ã«3å›' '8' 'å¹´ã«8å›' nan 'å¹´ã«7å›' 'å››åŠæœŸã«1å›']

Designation
['Executive' 'Senior Manager' 'AVP' 'Manager' 'Senior Manageğ™§' 'Execuï½”ive'
 'Îœanager' 'VP' 'SĞµnior Manager' 'Î‘VP' 'ĞVP' 'EÃ—ecutive' 'MÎ±nageğ™§'
 'ExecutiÑµĞµ' 'Ğ…enior Manager' 'ManagĞµr' 'Ğ•xecutivĞµ' 'Senior ÎœanÎ±ger'
 'Ğ•xecuï½”ive' 'ExĞµcutivĞµ' 'ExĞµcutive' 'Senior ManagĞµğ™§' 'Manageğ™§'
 'Senioğ™§ Manager' 'ManÎ±ger' 'Îœanageğ™§' 'ManÎ±gĞµr' 'Senior ManagĞµr'
 'ExecutivĞµ' 'ExecutiÑµe' 'Ğ•Ã—Ğµcutive' 'Ğ•xecutive' 'Vï¼°' 'Õenior Îœanager'
 'ExĞµcutiÑµĞµ' 'Senior ManÎ±ger' 'MÎ±nager' 'Senior MÎ±nÎ±ger' 'EÃ—ĞµcutiÑµe'
 'Ğ…enior ManÎ±ger' 'ExĞµcï½•tive' 'Execï½•tive' 'MÎ±nÎ±ger' 'ÎœanagĞµr' 'EÃ—ecï½•tive'
 'SĞµnior ManagĞµr' 'Õenior Manager' 'AVï¼°' 'ExĞµcï½•tivĞµ' 'MÎ±nagĞµr' 'Ğ•xĞµcutivĞµ'
 'Senior MÎ±nager' 'Ğ•Ã—ecutive']

customer_info
['æœªå©š è»Šæœªæ‰€æŒ å­ä¾›ãªã—' 'é›¢å©šæ¸ˆã¿,è»Šã‚ã‚Š,å­ä¾›ç„¡ã—' 'çµå©šæ¸ˆã¿ã€è‡ªå‹•è»Šæœªæ‰€æœ‰,å­ä¾›ãªã—' ...
 'çµå©šæ¸ˆã¿,è»Šä¿æœ‰ãªã—,å­ä¾›æœ‰ã‚Š 1äºº' 'çµå©šæ¸ˆã¿/è‡ªå®¶ç”¨è»Šãªã—/1å…' 'ç‹¬èº«ï¼è»Šæ‰€æŒï¼ã“ã©ã‚‚1äºº']

# Processing

## NuLL
ãƒ»fill mediam : '', '', 'NumberOfFollowups', 'NumberOfTrips', 'MonthlyIncome'
    
ãƒ»delete null : 'TypeofContact'

### Age

In [33]:
df["Age"].unique()

array(['50æ­³', '56æ­³', nan, 'ä¸‰åä¸ƒæ­³', '48æ­³', '19æ­³', '47æ­³', '49æ­³', '33æ­³',
       'ï¼“ï¼‘æ­³', '51æ­³', '46æ­³', 'ï¼”ï¼™æ­³', '53æ‰', '20æ­³', '25æ­³', 'äº”åä¸‰æ­³', '20ä»£',
       '44æ­³', '30æ­³', '34æ­³', '29æ­³', '30ä»£', '41æ­³', '50ä»£', '52æ­³', '22æ­³',
       'ï¼“ï¼–æ­³', '28æ­³', '25æ‰', 'äº”åä¸€æ­³', '48æ‰', '38æ‰', 'ä¸‰åä¸‰æ­³', '42éš›', 'ï¼•ï¼ä»£',
       '35æ‰', '59æ­³', 'å››åä¸‰æ­³', '32æ­³', 'ï¼”ï¼’æ‰', '53æ­³', '58æ­³', '40ä»£', 'äºŒåå…­æ­³',
       '52éš›', '54æ­³', '59æ‰', '29æ‰', '21æ‰', '57æ­³', '37æ­³', '35æ­³', '36æ‰',
       '38æ­³', 'ï¼“ï¼—æ­³', '50æ‰', '51æ‰', '43æ­³', 'å››åæ­³', '26æ­³', '31æ­³', '27æ­³',
       '40æ­³', 'ï¼“ï¼”æ­³', '40éš›', '21æ­³', '24æ‰', '45æ­³', '36æ­³', '41æ‰', '38éš›',
       '18æ­³', '39æ­³', 'ï¼”ï¼–æ­³', 'ï¼”ï¼ä»£', 'ï¼•ï¼•æ­³', '58éš›', '24æ­³', '41éš›', 'ä¸‰åä¸€æ­³',
       '52æ‰', 'ï¼“ï¼ä»£', '28æ‰', '55éš›', '60ä»£', '27éš›', 'ï¼“ï¼’æ­³', '60æ­³', 'äº”åå››æ­³',
       '29éš›', 'ä¸‰åå››æ­³', 'ï¼”ï¼—æ­³', '37éš›', 'äºŒåå››æ­³', 'å››åä¸ƒæ­³', '58æ‰', '39æ‰', '23æ‰',
       'ï¼“ï¼“æ­³', 'ï¼”ï¼’æ­³', 'ï¼”ï¼•æ­³', 'ï¼“ï¼™æ­³', 'ï¼•ï¼”æ­³', '55æ­³', '42æ­³', 'ï¼“ï¼˜æ­³', '47æ‰',
       'ï¼•ï¼‘æ­³', 'ï¼“ï¼™æ‰', '51éš›', 'äºŒåä¸ƒæ­³', '30æ‰', 'ï¼’ï¼–æ­³', 'ï¼”ï¼æ­³', '36éš›', 'ä¸‰åæ­³',
       '23æ­³', 'äºŒåäºŒæ­³', '37æ‰', 'ï¼“ï¼æ­³', 'ï¼’ï¼˜æ­³', '34æ‰', 'äº”åæ­³', 'å››åä¸€æ­³', 'ï¼•ï¼™æ­³',
       'ï¼“ï¼•æ­³', 'ï¼’ï¼’æ­³', 'ï¼“ï¼—æ‰', 'å››åä¹æ­³', '42æ‰', 'ï¼”ï¼”æ­³', 'ï¼’ï¼•æ­³', '44éš›', '33æ‰',
       '28éš›', 'ï¼’ï¼”æ‰', '55æ‰', 'ï¼”ï¼˜æ­³', 'å››åå››æ­³', '31æ‰', 'ï¼’ï¼ä»£', 'äºŒåæ­³', '22éš›',
       '31éš›', 'äºŒåä¸‰æ­³', '39éš›', '59éš›', 'ï¼“ï¼“æ‰', 'ä¸‰åå…­æ­³', '10ä»£', 'ï¼’ï¼—æ­³', '49æ‰',
       'ï¼”ï¼“æ­³', '32éš›', 'ï¼”ï¼‘æ­³', '33éš›', 'äºŒåäº”æ­³', '27æ‰', '46éš›', 'äºŒåä¹æ­³', '32æ‰',
       '22æ‰', 'ï¼’ï¼™æ‰', '43æ‰', 'å››åå…«æ­³', '30éš›', 'ï¼’ï¼™æ­³', 'ï¼”ï¼“æ‰', 'ä¸‰åå…«æ­³', 'ï¼”ï¼•æ‰',
       '45æ‰', 'äºŒåä¸€æ­³', '57æ‰', '40æ‰', 'ï¼•ï¼’æ­³', 'ï¼‘ï¼™æ­³', 'ï¼•ï¼“æ­³', '35éš›', '61æ­³',
       '34éš›', 'ï¼’ï¼”æ­³', 'å››åäºŒæ­³', 'ï¼•ï¼–æ‰', '26éš›', 'ï¼•ï¼æ­³', 'äº”åå…«æ­³', '20æ‰', '50éš›',
       '57éš›', '23éš›', 'ï¼‘ï¼™æ‰', 'ï¼•ï¼—æ­³', '26æ‰', 'äº”åå…­æ­³', '54æ‰', 'ï¼•ï¼˜æ­³', 'ï¼–ï¼æ­³',
       'ä¸‰åäº”æ­³', '44æ‰', 'ï¼”ï¼æ‰', 'ï¼’ï¼’æ‰', 'ï¼”ï¼”æ‰', 'ï¼’ï¼˜æ‰', 'ï¼“ï¼˜æ‰', 'ä¸‰åä¹æ­³', '54éš›',
       'äºŒåå…«æ­³', '56éš›', 'äº”åäºŒæ­³', 'ï¼“ï¼–æ‰', '46æ‰', '43éš›', 'ï¼’ï¼æ­³', 'ï¼”ï¼‘æ‰', '24éš›',
       '53éš›', '45éš›', '21éš›', '60éš›', 'ï¼’ï¼‘æ­³', 'ï¼“ï¼•æ‰', 'äº”åäº”æ­³', '47éš›', 'ä¸‰åäºŒæ­³',
       '18éš›', 'å››åå…­æ­³', 'ï¼“ï¼”æ‰', '56æ‰', 'ï¼“ï¼’æ‰', 'ï¼•ï¼–æ­³', 'ï¼”ï¼—æ‰', '49éš›', '48éš›',
       'ï¼•ï¼‘æ‰', 'äº”åä¹æ­³', 'å…­åä¸€æ­³', 'ï¼’ï¼‘æ‰'], dtype=object)

In [45]:
# Age
# æ—¥æœ¬èªã‚’ã™ã¹ã¦Intå‹ã«å¤‰æ›
df["Age"] = df["Age"].astype(str).apply(japanese_to_int)

# æ¬ æå€¤ã‚’ä¸­å¤®å€¤ã§è£œå®Œ
# japanese_to_inté–¢æ•°ã«ã‚ˆã‚Šã€æ¬ æå€¤ã¯0ã¨å‡ºåŠ›ã•ã‚Œã¦ã„ã‚‹ã€‚
tmp = df[~(df["Age"] == 0)]
df.loc[df["Age"] == 0, "Age"] = tmp["Age"].median()

In [46]:
df["Age"].unique()

array([50, 56, 38, 37, 48, 19, 47, 49, 33, 31, 51, 46, 53, 20, 25, 44, 30,
       34, 29, 41, 52, 22, 36, 28, 42, 35, 59, 43, 32, 58, 40, 26, 54, 21,
       57, 27, 24, 45, 18, 39, 55, 60, 23, 10, 61], dtype=int64)

### DurationOfPitch

In [47]:
df.head()

,id,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,Designation,MonthlyIncome,customer_info,ProdTaken
0,0,50,Self Enquiry,2,900ç§’,Large Business,male,1.0,4.0,Basic,3.0,5,1,4,Executive,253905.0,æœªå©š è»Šæœªæ‰€æŒ å­ä¾›ãªã—,1
1,1,56,Company Invited,1,14åˆ†,Salaried,Male,1.0,4.0,Standard,3.0,2,1,4,Senior Manager,404475.0,"é›¢å©šæ¸ˆã¿,è»Šã‚ã‚Š,å­ä¾›ç„¡ã—",0
2,2,38,Self Enquiry,1,10åˆ†,Large Business,Female,1.0,3.0,Basic,3.0,4,0,4,Executive,278145.0,"çµå©šæ¸ˆã¿ã€è‡ªå‹•è»Šæœªæ‰€æœ‰,å­ä¾›ãªã—",1
3,3,37,Self Enquiry,2,1080ç§’,Small Business,female,1.0,3.0,Standard,4.0,1,0,5,Senior Manager,326805.0,é›¢å©šæ¸ˆã¿ã€è»Šæ‰€æŒã€å­ä¾›ç„¡ã—,0
4,4,48,Company Invited,3,1020ç§’,Small Business,female,1.0,3.0,Basic,4.0,4,0,4,Executive,258435.0,ç‹¬èº«ï¼è»Šæ‰€æŒï¼ç„¡å­,1