# äºˆæ¸¬å¯¾è±¡ã®ãƒ‡ãƒ¼ã‚¿ã®å‰å‡¦ç†

In [259]:
# ãƒ©ã‚¤ãƒ–ãƒ©ãƒªã®èª­ã¿è¾¼ã¿
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

# utilã®èª­ã¿è¾¼ã¿
from my_utils import *

In [260]:
#train = pd.read_csv("../data/train.csv")
test = pd.read_csv("../data/test.csv")
test.head()

,id,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,Designation,MonthlyIncome,customer_info
0,3489,ï¼”ï¼˜æ­³,Self Enquiry,2,13åˆ†,Small Business,Male,1.0,4.0,Super De|uxe,3.0,7,0,3,AVP,496950.0,çµå©šæ¸ˆã¿ è»Šæ‰€æŒ å­ä¾›ãªã—
1,3490,30ä»£,Self Enquiry,2,12åˆ†,Small Business,ï¼¦ï½…ï½ï½ï½Œï½…,1.0,4.0,Standard,3.0,4,1,3,Senior Manager,æœˆå30.0ä¸‡å††,çµå©šæ¸ˆã¿ã€è»Šæœªæ‰€æŒã€å­ä¾›ãªã—
2,3491,25æ­³,Self Enquiry,1,540ç§’,Salaried,Female,1.0,4.0,Basic,3.0,1,0,3,Executive,æœˆå26.0ä¸‡å††,é›¢å©šæ¸ˆã¿ã€è‡ªå‹•è»Šæœªæ‰€æœ‰ã€å­ä¾›ãªã—
3,3492,21æ­³,Company Invited,2,420ç§’,Salaried,Male,1.0,4.0,Basic,4.0,1,0,3,Senior Manager,259875.0,é›¢å©šæ¸ˆã¿ã€è‡ªå‹•è»Šæ‰€æœ‰ã€å­ä¾›ãªã—
4,3493,41æ­³,Company Invited,1,7åˆ†,Salaried,MALE,1.0,4.0,Basic,3.0,1,0,4,Executive,268830.0,ç‹¬èº«/è»Šæ‰€æŒï¼å­ä¾›ãªã—

In [261]:
# æ¬ æå€¤ã®ç¢ºèª
test.isnull().sum()

id                          0
Age                        93
TypeofContact              12
CityTier                    0
DurationOfPitch           131
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups          24
ProductPitched              0
PreferredPropertyStar       0
NumberOfTrips              42
Passport                    0
PitchSatisfactionScore      0
Designation                 0
MonthlyIncome              49
customer_info               0
dtype: int64

In [262]:
# å‰å‡¦ç†å¾Œã®ãƒ‡ãƒ¼ã‚¿ã‚’æ ¼ç´ã™ã‚‹dataframe
test_copied = test.copy()
test_preprocessed = pd.DataFrame()

In [263]:
test_copied["Age"].value_counts()

Age
30ä»£     108
33æ­³      98
32æ­³      93
36æ­³      93
37æ­³      91
       ...
ï¼•ï¼’æ‰       1
19æ‰       1
å››åå››æ­³      1
59æ‰       1
ï¼•ï¼”æ‰       1
Name: count, Length: 236, dtype: int64

In [264]:
# Ageã®å‰å‡¦ç†
age_int = test_copied['Age'].apply(convert_age_to_int)
test_copied.loc[:, 'AgeInt'] = age_int
#test_copied.to_csv("age_int.csv")

In [265]:
test_copied["TypeofContact"].value_counts()

TypeofContact
Self Enquiry       2250
Company Invited    1227
Name: count, dtype: int64

In [266]:
type_of_contact_mapping = {
    "Self Enquiry": 0,
    "Company Invited": 1,
}
type_of_contact_int = test_copied["TypeofContact"].map(type_of_contact_mapping)
test_copied.loc[:, "TypeofContactInt"] = type_of_contact_int

In [267]:
test_copied["CityTier"].value_counts()

CityTier
2    1564
1    1516
3     409
Name: count, dtype: int64

In [268]:
test_copied["DurationOfPitch"].value_counts()

DurationOfPitch
9åˆ†       251
8åˆ†       236
15åˆ†      216
16åˆ†      206
14åˆ†      191
        ...
1800ç§’      7
1620ç§’      5
1680ç§’      3
240ç§’       1
2160ç§’      1
Name: count, Length: 65, dtype: int64

In [269]:
# DurationOfPitchã®å‰å‡¦ç†
duration_int = test_copied['DurationOfPitch'].apply(convert_duration_to_int)
test_copied.loc[:, 'DurationInt'] = duration_int

In [270]:
test_copied["Occupation"].value_counts()

Occupation
Small Business    1729
Salaried          1400
Large Business     360
Name: count, dtype: int64

In [271]:
occupation_mapping = {
    "Salaried": 0,
    "Small Business": 1,
    "Large Business": 2,
}
occupation_int = test_copied["Occupation"].map(occupation_mapping)
test_copied.loc[:, "OccupationInt"] = occupation_int

In [272]:
test_copied["Gender"].value_counts()

Gender
Male       1299
Female      702
male        472
female      238
MALE        180
ï¼­ï½ï½Œï½…        134
Fe Male     104
FEMALE       98
ï¼¦ï½…ï½ï½ï½Œï½…       92
ï½ï½ï½Œï½…         49
ï½†ï½…ï½ï½ï½Œï½…       29
fe male      28
ï¼­ï¼¡ï¼¬ï¼¥         20
FE MALE      20
ï¼¦ï½…ã€€ï¼­ï½ï½Œï½…      11
ï¼¦ï¼¥ï¼­ï¼¡ï¼¬ï¼¥        8
ï½†ï½…ã€€ï½ï½ï½Œï½…       5
Name: count, dtype: int64

In [273]:
gender_int = test_copied["Gender"].map(convert_gender_to_int)
test_copied.loc[:, "GenderInt"] = gender_int

In [274]:
test_copied["NumberOfPersonVisiting"].value_counts()

NumberOfPersonVisiting
2.0    1555
3.0    1396
1.0     350
4.0     188
Name: count, dtype: int64

In [275]:
test_copied["NumberOfFollowups"].value_counts()

NumberOfFollowups
4.0      1350
3.0      1257
5.0       594
2.0       104
1.0        99
6.0        31
400.0      16
300.0       8
500.0       4
100.0       1
200.0       1
Name: count, dtype: int64

In [276]:
number_of_followups_normalized = test_copied["NumberOfFollowups"].map(normalize_number_of_followups)
test_copied.loc[:, "FollowupsNormalized"] = number_of_followups_normalized
test_copied["FollowupsNormalized"].value_counts()

FollowupsNormalized
4.0    1366
3.0    1265
5.0     598
2.0     105
1.0     100
6.0      31
Name: count, dtype: int64

In [277]:
test_copied["ProductPitched"].value_counts()

ProductPitched
Basic           923
Deluxe          824
Standard        591
Super Deluxe    233
King            126
               ...
BASIĞ¡             1
ğŠ¡asic             1
Ğ’asic             1
basiÑ             1
BAĞ…IC             1
Name: count, Length: 71, dtype: int64

In [278]:
product_pitched_int = test_copied["ProductPitched"].map(convert_product_pitched_to_int)
test_copied.loc[:, "ProductPitchedInt"] = product_pitched_int

In [279]:
test_copied["PreferredPropertyStar"].value_counts()

PreferredPropertyStar
3.0    2181
4.0    1109
5.0     199
Name: count, dtype: int64

In [280]:
test_copied["NumberOfTrips"].value_counts()

NumberOfTrips
2         950
3         762
5         400
1         320
7         226
å¹´ã«2å›      153
4         136
6         125
å¹´ã«3å›      124
å¹´ã«1å›       72
å¹´ã«5å›       62
å¹´ã«4å›       31
å¹´ã«7å›       31
å¹´ã«6å›       26
8          12
åŠå¹´ã«1å›      10
å¹´ã«8å›        4
å››åŠæœŸã«1å›      3
Name: count, dtype: int64

In [281]:
number_of_trips_int = test_copied["NumberOfTrips"].map(convert_trips_to_int)
test_copied.loc[:, "NumberOfTripsInt"] = number_of_trips_int

In [282]:
test_copied["Passport"].value_counts()

Passport
0    3157
1     332
Name: count, dtype: int64

In [283]:
test_copied["PitchSatisfactionScore"].value_counts()

PitchSatisfactionScore
2    1231
1     753
4     713
3     652
5     140
Name: count, dtype: int64

In [284]:
test_copied["Designation"].value_counts()

Designation
Executive         1129
Manager           1016
Senior Manager     740
AVP                305
VP                 142
ExĞµcutivĞµ           10
ManagĞµr             10
ExecutivĞµ            9
ExĞµcutive            9
MÎ±nager              9
ManÎ±ger              8
Î‘VP                  8
ĞVP                  7
ExecutiÑµe            7
Senior ManagĞµr       6
Senioğ™§ Manager       5
Ğ•xecutive            5
Manageğ™§              5
Îœanager              5
SĞµnior Manager       4
Vï¼°                   3
Execï½•tive            3
Senior Manageğ™§       3
Senior Îœanager       2
Ğ…enior Manager       2
Senior ManÎ±ger       2
AVï¼°                  2
Õenior Manager       2
EÃ—ecutive            2
ÎœÎ±nager              2
MÎ±nÎ±ger              2
Execï½•tivĞµ            1
SĞµnioğ™§ Manager       1
ExĞµcï½•tivĞµ            1
MÎ±nÎ±gĞµr              1
SĞµnior ManagĞµr       1
ĞVï¼°                  1
Senior MÎ±nÎ±ger       1
Senior ManagĞµğ™§       1
MÎ±nagĞµr              1
Ğ•xecï½•tive            1
Senioğ™§ Manageğ™§       1
Senioğ™§ MÎ±nageğ™§       1
Execuï½”ive            1
SĞµnior ManagĞµğ™§       1
Senioğ™§ ManagĞµr       1
Õenior Îœanager       1
ManagĞµğ™§              1
Execï½•ï½”ive            1
ManÎ±gĞµr              1
ÎœÎ±nagĞµr              1
ExĞµcuï½”ive            1
Ğ…enior Îœanageğ™§       1
Î‘Vï¼°                  1
Senioğ™§ ManÎ±ger       1
Senior MÎ±nager       1
Name: count, dtype: int64

In [285]:
designation_pitched_int = test_copied["Designation"].map(convert_designation_to_int)
test_copied.loc[:, "DesignationInt"] = designation_pitched_int
test_copied["DesignationInt"].value_counts()

DesignationInt
0    1180
1    1059
2     781
3     307
4     162
Name: count, dtype: int64

In [286]:
test_copied["MonthlyIncome"].value_counts()

MonthlyIncome
æœˆå30.0ä¸‡å††    203
æœˆå40.0ä¸‡å††    127
æœˆå50.0ä¸‡å††     45
æœˆå26.0ä¸‡å††     38
æœˆå32.0ä¸‡å††     35
           ...
247425.0      1
312990.0      1
240735.0      1
255000.0      1
411795.0      1
Name: count, Length: 2528, dtype: int64

In [287]:
monthly_income_int = test_copied["MonthlyIncome"].map(convert_income_to_int)
test_copied.loc[:, "MonthlyIncomeInt"] = monthly_income_int

In [288]:
customer_info_kekkon_int = test_copied["customer_info"].map(extract_marital_from_customer_info)
test_copied.loc[:, "MaritalInt"] = customer_info_kekkon_int
test_copied["MaritalInt"].value_counts()

MaritalInt
1    1462
0    1217
2     810
Name: count, dtype: int64

In [289]:
customer_info_car_int = test_copied["customer_info"].map(extract_car_from_customer_info)
test_copied.loc[:, "CarInt"] = customer_info_car_int
test_copied["CarInt"].value_counts()

CarInt
0    1834
1    1655
Name: count, dtype: int64

In [290]:
customer_info_child_int = test_copied["customer_info"].map(extract_child_from_customer_info)
test_copied.loc[:, "ChildInt"] = customer_info_child_int
test_copied["ChildInt"].value_counts()

ChildInt
 1    1564
 0     924
 2     897
 3      67
-1      37
Name: count, dtype: int64

In [291]:
test_preprocessed = test_copied[[
    "id", 'AgeInt', 'TypeofContactInt', 'CityTier', 'DurationInt', 'OccupationInt', "GenderInt", "NumberOfPersonVisiting", 
    "FollowupsNormalized", "ProductPitchedInt", "PreferredPropertyStar", "NumberOfTripsInt", "Passport", "PitchSatisfactionScore", 
    "DesignationInt", "MonthlyIncomeInt", "MaritalInt", "CarInt", "ChildInt"
]]
test_preprocessed.head()

,id,AgeInt,TypeofContactInt,CityTier,DurationInt,OccupationInt,GenderInt,NumberOfPersonVisiting,FollowupsNormalized,ProductPitchedInt,PreferredPropertyStar,NumberOfTripsInt,Passport,PitchSatisfactionScore,DesignationInt,MonthlyIncomeInt,MaritalInt,CarInt,ChildInt
0,3489,48.0,0.0,2,780.0,1,0,1.0,4.0,3,3.0,7.0,0,3,3,496950.0,1,1,0
1,3490,35.0,0.0,2,720.0,1,1,1.0,4.0,1,3.0,4.0,1,3,2,300000.0,1,0,0
2,3491,25.0,0.0,1,540.0,0,1,1.0,4.0,0,3.0,1.0,0,3,0,260000.0,2,0,0
3,3492,21.0,1.0,2,420.0,0,0,1.0,4.0,0,4.0,1.0,0,3,2,259875.0,2,1,0
4,3493,41.0,1.0,1,420.0,0,0,1.0,4.0,0,3.0,1.0,0,4,0,268830.0,0,1,0

In [292]:
test_preprocessed.isnull().sum()

id                          0
AgeInt                     93
TypeofContactInt           12
CityTier                    0
DurationInt               131
OccupationInt               0
GenderInt                   0
NumberOfPersonVisiting      0
FollowupsNormalized        24
ProductPitchedInt           0
PreferredPropertyStar       0
NumberOfTripsInt           42
Passport                    0
PitchSatisfactionScore      0
DesignationInt              0
MonthlyIncomeInt           49
MaritalInt                  0
CarInt                      0
ChildInt                    0
dtype: int64

In [293]:
# æ¬ æå€¤ã‚’å¹³å‡å€¤ã§è£œå®Œ
test_preprocessed = test_preprocessed.fillna(test_preprocessed.mean())

In [294]:
test_preprocessed.isnull().sum()

id                        0
AgeInt                    0
TypeofContactInt          0
CityTier                  0
DurationInt               0
OccupationInt             0
GenderInt                 0
NumberOfPersonVisiting    0
FollowupsNormalized       0
ProductPitchedInt         0
PreferredPropertyStar     0
NumberOfTripsInt          0
Passport                  0
PitchSatisfactionScore    0
DesignationInt            0
MonthlyIncomeInt          0
MaritalInt                0
CarInt                    0
ChildInt                  0
dtype: int64

In [295]:
test_preprocessed.to_csv("../mid_output/test_preprocessed.csv", index=False)