# test„Éá„Éº„Çø„ÅÆÂâçÂá¶ÁêÜÁî®„Éé„Éº„Éà„Éñ„ÉÉ„ÇØ

In [559]:
# „É©„Ç§„Éñ„É©„É™„ÅÆË™≠„ÅøËæº„Åø
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [560]:
#train = pd.read_csv("../data/train.csv")
test = pd.read_csv("../data/test.csv")

In [561]:
test.head()

,id,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,Designation,MonthlyIncome,customer_info
0,3489,ÔºîÔºòÊ≠≥,Self Enquiry,2,13ÂàÜ,Small Business,Male,1.0,4.0,Super De|uxe,3.0,7,0,3,AVP,496950.0,ÁµêÂ©öÊ∏à„Åø ËªäÊâÄÊåÅ Â≠ê‰æõ„Å™„Åó
1,3490,30‰ª£,Self Enquiry,2,12ÂàÜ,Small Business,Ôº¶ÔΩÖÔΩçÔΩÅÔΩåÔΩÖ,1.0,4.0,Standard,3.0,4,1,3,Senior Manager,ÊúàÂèé30.0‰∏áÂÜÜ,ÁµêÂ©öÊ∏à„Åø„ÄÅËªäÊú™ÊâÄÊåÅ„ÄÅÂ≠ê‰æõ„Å™„Åó
2,3491,25Ê≠≥,Self Enquiry,1,540Áßí,Salaried,Female,1.0,4.0,Basic,3.0,1,0,3,Executive,ÊúàÂèé26.0‰∏áÂÜÜ,Èõ¢Â©öÊ∏à„Åø„ÄÅËá™ÂãïËªäÊú™ÊâÄÊúâ„ÄÅÂ≠ê‰æõ„Å™„Åó
3,3492,21Ê≠≥,Company Invited,2,420Áßí,Salaried,Male,1.0,4.0,Basic,4.0,1,0,3,Senior Manager,259875.0,Èõ¢Â©öÊ∏à„Åø„ÄÅËá™ÂãïËªäÊâÄÊúâ„ÄÅÂ≠ê‰æõ„Å™„Åó
4,3493,41Ê≠≥,Company Invited,1,7ÂàÜ,Salaried,MALE,1.0,4.0,Basic,3.0,1,0,4,Executive,268830.0,Áã¨Ë∫´/ËªäÊâÄÊåÅÔºèÂ≠ê‰æõ„Å™„Åó

In [562]:
test.isnull().sum()

id                          0
Age                        93
TypeofContact              12
CityTier                    0
DurationOfPitch           131
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups          24
ProductPitched              0
PreferredPropertyStar       0
NumberOfTrips              42
Passport                    0
PitchSatisfactionScore      0
Designation                 0
MonthlyIncome              49
customer_info               0
dtype: int64

In [563]:
# ÂâçÂá¶ÁêÜÂæå„ÅÆ„Éá„Éº„Çø„ÇíÊ†ºÁ¥ç„Åô„Çãdataframe
test_copied = test.copy()
test_preprocessed = pd.DataFrame()

In [564]:
# Age„ÅÆÂâçÂá¶ÁêÜ
match_type = r'[0-9]+|[‰∏Ä‰∫å‰∏âÂõõ‰∫îÂÖ≠‰∏ÉÂÖ´‰πù]+|[ÔºëÔºíÔºìÔºîÔºïÔºñÔºóÔºòÔºô]+'
kanji_to_arabic = str.maketrans("‰∏Ä‰∫å‰∏âÂõõ‰∫îÂÖ≠‰∏ÉÂÖ´‰πùÔºëÔºíÔºìÔºîÔºïÔºñÔºóÔºòÔºô", "123456789123456789")

def extract_age(age: str) -> int:
    def kanji_to_int(kanji: str) -> int:
        matches: list[str] = re.findall(match_type, age)
        if len(matches) == 0:
            return -1
        else:
            ret = 0
            keta = 0
            for match in matches:
                str_age = match.translate(kanji_to_arabic)
                numeric_age = int(str_age)
                if keta == 0:
                    ret = numeric_age
                    keta += len(match)
                elif keta == 1:
                    ret = ret*10 + numeric_age
                    keta += len(match)
                elif keta == 2:
                    ret = ret*100 + numeric_age
                    keta += len(match)
                else:
                    return -1
            return ret
    if pd.isnull(age):
        return -1
    if age.find("‰ª£") != -1:
        dai_int = kanji_to_int(age)
        return dai_int + 5
    else:
        return kanji_to_int(age)

age_int = test_copied['Age'].apply(extract_age)
test_copied.loc[:, 'Age_int'] = age_int

test_preprocessed = test_copied[['Age_int']]
test_preprocessed.head()

   Age_int
0       48
1       35
2       25
3       21
4       41

In [565]:
test_copied["TypeofContact"].value_counts()

TypeofContact
Self Enquiry       2250
Company Invited    1227
Name: count, dtype: int64

In [566]:
type_of_contact_mapping = {
    "Self Enquiry": 0,
    "Company Invited": 1,
}
type_of_contact_int = test_copied["TypeofContact"].map(type_of_contact_mapping)
test_copied.loc[:, "TypeofContact_int"] = type_of_contact_int

test_preprocessed = test_copied[['Age_int', 'TypeofContact_int']]
test_preprocessed.head()

   Age_int  TypeofContact_int
0       48                0.0
1       35                0.0
2       25                0.0
3       21                1.0
4       41                1.0

In [567]:
test_copied["CityTier"].value_counts()

CityTier
2    1564
1    1516
3     409
Name: count, dtype: int64

In [568]:
test_preprocesse = test_copied[['Age_int', 'TypeofContact_int', 'CityTier']]
test_preprocesse.head()

   Age_int  TypeofContact_int  CityTier
0       48                0.0         2
1       35                0.0         2
2       25                0.0         1
3       21                1.0         2
4       41                1.0         1

In [569]:
test_copied["DurationOfPitch"].value_counts()

DurationOfPitch
9ÂàÜ       251
8ÂàÜ       236
15ÂàÜ      216
16ÂàÜ      206
14ÂàÜ      191
        ...
1800Áßí      7
1620Áßí      5
1680Áßí      3
240Áßí       1
2160Áßí      1
Name: count, Length: 65, dtype: int64

In [570]:
# DurationOfPitch„ÅÆÂâçÂá¶ÁêÜ
def extract_duration(duration_str: str) -> int:
    if pd.isnull(duration_str):
        return -1
    if duration_str.find("ÂàÜ") != -1:
        return int(duration_str.replace("ÂàÜ", ""))*60
    elif duration_str.find("Áßí") != -1:
        return int(duration_str.replace("Áßí", ""))
    else:
        return -1
    
duration_int = test_copied['DurationOfPitch'].apply(extract_duration)
test_copied.loc[:, 'Duration_int'] = duration_int

test_preprocesse = test_copied[['Age_int', 'TypeofContact_int', 'CityTier', 'Duration_int']]
test_preprocesse.head()

   Age_int  TypeofContact_int  CityTier  Duration_int
0       48                0.0         2           780
1       35                0.0         2           720
2       25                0.0         1           540
3       21                1.0         2           420
4       41                1.0         1           420

In [571]:
test_copied["Occupation"].value_counts()

Occupation
Small Business    1729
Salaried          1400
Large Business     360
Name: count, dtype: int64

In [572]:
occupation_mapping = {
    "Salaried": 0,
    "Small Business": 1,
    "Large Business": 2,
}
occupation_int = test_copied["Occupation"].map(occupation_mapping)
test_copied.loc[:, "Occupation_int"] = occupation_int

test_preprocesse = test_copied[['Age_int', 'TypeofContact_int', 'CityTier', 'Duration_int', 'Occupation_int']]
test_preprocesse.head()

   Age_int  TypeofContact_int  CityTier  Duration_int  Occupation_int
0       48                0.0         2           780               1
1       35                0.0         2           720               1
2       25                0.0         1           540               0
3       21                1.0         2           420               0
4       41                1.0         1           420               0

In [573]:
test_copied["Gender"].value_counts()

Gender
Male       1299
Female      702
male        472
female      238
MALE        180
Ôº≠ÔΩÅÔΩåÔΩÖ        134
Fe Male     104
FEMALE       98
Ôº¶ÔΩÖÔΩçÔΩÅÔΩåÔΩÖ       92
ÔΩçÔΩÅÔΩåÔΩÖ         49
ÔΩÜÔΩÖÔΩçÔΩÅÔΩåÔΩÖ       29
fe male      28
Ôº≠Ôº°Ôº¨Ôº•         20
FE MALE      20
Ôº¶ÔΩÖ„ÄÄÔº≠ÔΩÅÔΩåÔΩÖ      11
Ôº¶Ôº•Ôº≠Ôº°Ôº¨Ôº•        8
ÔΩÜÔΩÖ„ÄÄÔΩçÔΩÅÔΩåÔΩÖ       5
Name: count, dtype: int64

In [574]:
z_ascii = '\u3000' + ''.join(chr(i) for i in range(0xFF01, 0xFF5E + 1))
# „ÄÄÔºÅÔºÇÔºÉÔºÑÔºÖÔºÜÔºáÔºàÔºâÔºäÔºãÔºåÔºçÔºéÔºèÔºêÔºëÔºíÔºìÔºîÔºïÔºñÔºóÔºòÔºôÔºöÔºõÔºúÔºùÔºûÔºüÔº†Ôº°Ôº¢Ôº£Ôº§Ôº•Ôº¶ÔºßÔº®Ôº©Ôº™Ôº´Ôº¨Ôº≠ÔºÆÔºØÔº∞Ôº±Ôº≤Ôº≥Ôº¥ÔºµÔº∂Ôº∑Ôº∏ÔºπÔº∫ÔºªÔººÔºΩÔºæÔºøÔΩÄÔΩÅÔΩÇÔΩÉÔΩÑÔΩÖÔΩÜÔΩáÔΩàÔΩâÔΩäÔΩãÔΩåÔΩçÔΩéÔΩèÔΩêÔΩëÔΩíÔΩìÔΩîÔΩïÔΩñÔΩóÔΩòÔΩôÔΩöÔΩõÔΩúÔΩùÔΩû

h_ascii = ''.join(chr(i) for i in range(0x0020, 0x007E + 1))
#  !"#$%&'()*+,-./0123456789:;<=>?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[\]^_`abcdefghijklmnopqrstuvwxyz{|}~

z2h_ascii = str.maketrans(z_ascii, h_ascii)

def extract_gender(gender_str: str) -> int:
    # Á©∫ÁôΩ„ÇíÂâäÈô§
    gender_str_stripped = gender_str.replace(" ", "").replace("„ÄÄ", "")
    gender_str_normalized = gender_str_stripped.translate(z2h_ascii).lower()
    if gender_str_normalized == "male":
        return 0
    elif gender_str_normalized == "female":
        return 1
    else:
        return -1
    
gender_int = test_copied["Gender"].map(extract_gender)
test_copied.loc[:, "Gender_int"] = gender_int

test_preprocesse = test_copied[['Age_int', 'TypeofContact_int', 'CityTier', 'Duration_int', 'Occupation_int', "Gender_int"]]
test_preprocesse.head()

,Age_int,TypeofContact_int,CityTier,Duration_int,Occupation_int,Gender_int
0,48,0.0,2,780,1,0
1,35,0.0,2,720,1,1
2,25,0.0,1,540,0,1
3,21,1.0,2,420,0,0
4,41,1.0,1,420,0,0

In [575]:
test_copied["NumberOfPersonVisiting"].value_counts()

NumberOfPersonVisiting
2.0    1555
3.0    1396
1.0     350
4.0     188
Name: count, dtype: int64

In [576]:
test_preprocesse = test_copied[['Age_int', 'TypeofContact_int', 'CityTier', 'Duration_int', 'Occupation_int', "Gender_int", "NumberOfPersonVisiting"]]
test_preprocesse.head()

,Age_int,TypeofContact_int,CityTier,Duration_int,Occupation_int,Gender_int,NumberOfPersonVisiting
0,48,0.0,2,780,1,0,1.0
1,35,0.0,2,720,1,1,1.0
2,25,0.0,1,540,0,1,1.0
3,21,1.0,2,420,0,0,1.0
4,41,1.0,1,420,0,0,1.0

In [577]:
test_copied["NumberOfFollowups"].value_counts()

NumberOfFollowups
4.0      1350
3.0      1257
5.0       594
2.0       104
1.0        99
6.0        31
400.0      16
300.0       8
500.0       4
100.0       1
200.0       1
Name: count, dtype: int64

In [578]:
def normalize_number_of_followups(followups: float) -> float:
    if followups < 100:
        return followups
    elif followups < 1000:
        return followups/100
    else:
        return -1
    
number_of_followups_normalized = test_copied["NumberOfFollowups"].map(normalize_number_of_followups)
test_copied.loc[:, "NumberOfFollowups_normalized"] = number_of_followups_normalized
test_copied["NumberOfFollowups_normalized"].value_counts()

test_preprocesse = test_copied[['Age_int', 'TypeofContact_int', 'CityTier', 'Duration_int', 'Occupation_int', "Gender_int", "NumberOfPersonVisiting", "NumberOfFollowups_normalized"]]
test_preprocesse.head()

,Age_int,TypeofContact_int,CityTier,Duration_int,Occupation_int,Gender_int,NumberOfPersonVisiting,NumberOfFollowups_normalized
0,48,0.0,2,780,1,0,1.0,4.0
1,35,0.0,2,720,1,1,1.0,4.0
2,25,0.0,1,540,0,1,1.0,4.0
3,21,1.0,2,420,0,0,1.0,4.0
4,41,1.0,1,420,0,0,1.0,4.0

In [579]:
test_copied["ProductPitched"].value_counts()

ProductPitched
Basic           923
Deluxe          824
Standard        591
Super Deluxe    233
King            126
               ...
BASI–°             1
êä°asic             1
–íasic             1
basi—Å             1
BA–ÖIC             1
Name: count, Length: 71, dtype: int64

In [580]:
from rapidfuzz import process

product_pitched_mapping = {
    "basic": 0,
    "standard": 1,
    "deluxe": 2,
    "superdeluxe": 3,
}

def extract_product_pitched(product_str: str) -> int:
    # Á©∫ÁôΩ„ÇíÂâäÈô§
    product_str_stripped = product_str.replace(" ", "").replace("„ÄÄ", "")
    product_str_normalized = product_str_stripped.translate(z2h_ascii).lower()
    product_str_filtered = "".join(filter(str.isalpha, product_str_normalized))
    
    closest_match = process.extractOne(product_str_filtered, product_pitched_mapping.keys())
    closest_match_str = closest_match[0]

    if closest_match_str in product_pitched_mapping:
        return product_pitched_mapping[closest_match_str]
    else:
        return -1
    
product_pitched_int = test_copied["ProductPitched"].map(extract_product_pitched)
test_copied.loc[:, "ProductPitched_int"] = product_pitched_int

test_preprocesse = test_copied[['Age_int', 'TypeofContact_int', 'CityTier', 'Duration_int', 'Occupation_int', "Gender_int", "NumberOfPersonVisiting", "NumberOfFollowups_normalized", "ProductPitched_int"]]
test_preprocesse.head()

,Age_int,TypeofContact_int,CityTier,Duration_int,Occupation_int,Gender_int,NumberOfPersonVisiting,NumberOfFollowups_normalized,ProductPitched_int
0,48,0.0,2,780,1,0,1.0,4.0,3
1,35,0.0,2,720,1,1,1.0,4.0,1
2,25,0.0,1,540,0,1,1.0,4.0,0
3,21,1.0,2,420,0,0,1.0,4.0,0
4,41,1.0,1,420,0,0,1.0,4.0,0

In [581]:
test_copied["PreferredPropertyStar"].value_counts()

PreferredPropertyStar
3.0    2181
4.0    1109
5.0     199
Name: count, dtype: int64

In [582]:
test_preprocesse = test_copied[[
    'Age_int', 'TypeofContact_int', 'CityTier', 'Duration_int', 'Occupation_int', "Gender_int", "NumberOfPersonVisiting", 
    "NumberOfFollowups_normalized", "ProductPitched_int", "PreferredPropertyStar"
]]
test_preprocesse.head()

,Age_int,TypeofContact_int,CityTier,Duration_int,Occupation_int,Gender_int,NumberOfPersonVisiting,NumberOfFollowups_normalized,ProductPitched_int,PreferredPropertyStar
0,48,0.0,2,780,1,0,1.0,4.0,3,3.0
1,35,0.0,2,720,1,1,1.0,4.0,1,3.0
2,25,0.0,1,540,0,1,1.0,4.0,0,3.0
3,21,1.0,2,420,0,0,1.0,4.0,0,4.0
4,41,1.0,1,420,0,0,1.0,4.0,0,3.0

In [583]:
test_copied["NumberOfTrips"].value_counts()

NumberOfTrips
2         950
3         762
5         400
1         320
7         226
Âπ¥„Å´2Âõû      153
4         136
6         125
Âπ¥„Å´3Âõû      124
Âπ¥„Å´1Âõû       72
Âπ¥„Å´5Âõû       62
Âπ¥„Å´4Âõû       31
Âπ¥„Å´7Âõû       31
Âπ¥„Å´6Âõû       26
8          12
ÂçäÂπ¥„Å´1Âõû      10
Âπ¥„Å´8Âõû        4
ÂõõÂçäÊúü„Å´1Âõû      3
Name: count, dtype: int64

In [584]:
def extract_number_of_trips(trips_str: str) -> int:
    if pd.isnull(trips_str):
        return -1
    trips_int = int("".join(filter(str.isdigit, trips_str)))
    if trips_str.find("ÂçäÂπ¥") != -1:
        return trips_int*2
    elif trips_str.find("ÂõõÂçäÊúü") != -1:
        return trips_int*4
    else:
        return trips_int
    
number_of_trips_int = test_copied["NumberOfTrips"].map(extract_number_of_trips)
test_copied.loc[:, "NumberOfTrips_int"] = number_of_trips_int

test_preprocesse = test_copied[[
    'Age_int', 'TypeofContact_int', 'CityTier', 'Duration_int', 'Occupation_int', "Gender_int", "NumberOfPersonVisiting", 
    "NumberOfFollowups_normalized", "ProductPitched_int", "PreferredPropertyStar", "NumberOfTrips_int"
]]
test_preprocesse.head()

,Age_int,TypeofContact_int,CityTier,Duration_int,Occupation_int,Gender_int,NumberOfPersonVisiting,NumberOfFollowups_normalized,ProductPitched_int,PreferredPropertyStar,NumberOfTrips_int
0,48,0.0,2,780,1,0,1.0,4.0,3,3.0,7
1,35,0.0,2,720,1,1,1.0,4.0,1,3.0,4
2,25,0.0,1,540,0,1,1.0,4.0,0,3.0,1
3,21,1.0,2,420,0,0,1.0,4.0,0,4.0,1
4,41,1.0,1,420,0,0,1.0,4.0,0,3.0,1

In [585]:
test_copied["Passport"].value_counts()

Passport
0    3157
1     332
Name: count, dtype: int64

In [586]:
test_preprocesse = test_copied[[
    'Age_int', 'TypeofContact_int', 'CityTier', 'Duration_int', 'Occupation_int', "Gender_int", "NumberOfPersonVisiting", 
    "NumberOfFollowups_normalized", "ProductPitched_int", "PreferredPropertyStar", "NumberOfTrips_int", "Passport"
]]
test_preprocesse.head()

,Age_int,TypeofContact_int,CityTier,Duration_int,Occupation_int,Gender_int,NumberOfPersonVisiting,NumberOfFollowups_normalized,ProductPitched_int,PreferredPropertyStar,NumberOfTrips_int,Passport
0,48,0.0,2,780,1,0,1.0,4.0,3,3.0,7,0
1,35,0.0,2,720,1,1,1.0,4.0,1,3.0,4,1
2,25,0.0,1,540,0,1,1.0,4.0,0,3.0,1,0
3,21,1.0,2,420,0,0,1.0,4.0,0,4.0,1,0
4,41,1.0,1,420,0,0,1.0,4.0,0,3.0,1,0

In [587]:
test_copied["PitchSatisfactionScore"].value_counts()

PitchSatisfactionScore
2    1231
1     753
4     713
3     652
5     140
Name: count, dtype: int64

In [588]:
test_preprocesse = test_copied[[
    'Age_int', 'TypeofContact_int', 'CityTier', 'Duration_int', 'Occupation_int', "Gender_int", "NumberOfPersonVisiting", 
    "NumberOfFollowups_normalized", "ProductPitched_int", "PreferredPropertyStar", "NumberOfTrips_int", "Passport", "PitchSatisfactionScore"
]]
test_preprocesse.head()

,Age_int,TypeofContact_int,CityTier,Duration_int,Occupation_int,Gender_int,NumberOfPersonVisiting,NumberOfFollowups_normalized,ProductPitched_int,PreferredPropertyStar,NumberOfTrips_int,Passport,PitchSatisfactionScore
0,48,0.0,2,780,1,0,1.0,4.0,3,3.0,7,0,3
1,35,0.0,2,720,1,1,1.0,4.0,1,3.0,4,1,3
2,25,0.0,1,540,0,1,1.0,4.0,0,3.0,1,0,3
3,21,1.0,2,420,0,0,1.0,4.0,0,4.0,1,0,3
4,41,1.0,1,420,0,0,1.0,4.0,0,3.0,1,0,4

In [589]:
test_copied["Designation"].value_counts()

Designation
Executive         1129
Manager           1016
Senior Manager     740
AVP                305
VP                 142
Ex–µcutiv–µ           10
Manag–µr             10
Executiv–µ            9
Ex–µcutive            9
MŒ±nager              9
ManŒ±ger              8
ŒëVP                  8
–êVP                  7
Executi—µe            7
Senior Manag–µr       6
Senioùôß Manager       5
–ïxecutive            5
Manageùôß              5
Œúanager              5
S–µnior Manager       4
VÔº∞                   3
ExecÔΩïtive            3
Senior Manageùôß       3
Senior Œúanager       2
–Öenior Manager       2
Senior ManŒ±ger       2
AVÔº∞                  2
’èenior Manager       2
E√óecutive            2
ŒúŒ±nager              2
MŒ±nŒ±ger              2
ExecÔΩïtiv–µ            1
S–µnioùôß Manager       1
Ex–µcÔΩïtiv–µ            1
MŒ±nŒ±g–µr              1
S–µnior Manag–µr       1
–êVÔº∞                  1
Senior MŒ±nŒ±ger       1
Senior Manag–µùôß       1
MŒ±nag–µr              1
–ïxecÔΩïtive            1
Senioùôß Manageùôß       1
Senioùôß MŒ±nageùôß       1
ExecuÔΩîive            1
S–µnior Manag–µùôß       1
Senioùôß Manag–µr       1
’èenior Œúanager       1
Manag–µùôß              1
ExecÔΩïÔΩîive            1
ManŒ±g–µr              1
ŒúŒ±nag–µr              1
Ex–µcuÔΩîive            1
–Öenior Œúanageùôß       1
ŒëVÔº∞                  1
Senioùôß ManŒ±ger       1
Senior MŒ±nager       1
Name: count, dtype: int64

In [590]:
designation_mapping = {
    "executive": 0,
    "manager": 1,
    "seniormanager": 2,
    "avp": 3,
    "vp": 4,
}

def extract_designation(designation_str: str):
    # Á©∫ÁôΩ„ÇíÂâäÈô§
    designation_str_stripped = designation_str.replace(" ", "").replace("„ÄÄ", "")
    designation_str_normalized = designation_str_stripped.translate(z2h_ascii).lower()
    designation_str_filtered = "".join(filter(str.isalpha, designation_str_normalized))
    
    closest_match = process.extractOne(designation_str_filtered, designation_mapping.keys())
    closest_match_str = closest_match[0]

    if closest_match_str in designation_mapping:
        return designation_mapping[closest_match_str]
    else:
        return -1
    
designation_pitched_int = test_copied["Designation"].map(extract_designation)
test_copied.loc[:, "Designation_int"] = designation_pitched_int
test_copied["Designation_int"].value_counts()

test_preprocesse = test_copied[[
    'Age_int', 'TypeofContact_int', 'CityTier', 'Duration_int', 'Occupation_int', "Gender_int", "NumberOfPersonVisiting", 
    "NumberOfFollowups_normalized", "ProductPitched_int", "PreferredPropertyStar", "NumberOfTrips_int", "Passport", "PitchSatisfactionScore", "Designation_int"
]]
test_preprocesse.head()

,Age_int,TypeofContact_int,CityTier,Duration_int,Occupation_int,Gender_int,NumberOfPersonVisiting,NumberOfFollowups_normalized,ProductPitched_int,PreferredPropertyStar,NumberOfTrips_int,Passport,PitchSatisfactionScore,Designation_int
0,48,0.0,2,780,1,0,1.0,4.0,3,3.0,7,0,3,3
1,35,0.0,2,720,1,1,1.0,4.0,1,3.0,4,1,3,2
2,25,0.0,1,540,0,1,1.0,4.0,0,3.0,1,0,3,0
3,21,1.0,2,420,0,0,1.0,4.0,0,4.0,1,0,3,2
4,41,1.0,1,420,0,0,1.0,4.0,0,3.0,1,0,4,0

In [591]:
test_copied["MonthlyIncome"].value_counts()

MonthlyIncome
ÊúàÂèé30.0‰∏áÂÜÜ    203
ÊúàÂèé40.0‰∏áÂÜÜ    127
ÊúàÂèé50.0‰∏áÂÜÜ     45
ÊúàÂèé26.0‰∏áÂÜÜ     38
ÊúàÂèé32.0‰∏áÂÜÜ     35
           ...
247425.0      1
312990.0      1
240735.0      1
255000.0      1
411795.0      1
Name: count, Length: 2528, dtype: int64

In [592]:
shousu_pattern = r'\d+\.\d+'

def extract_monthly_income(monthly_income_str: str) -> float:
    if pd.isnull(monthly_income_str):
        return -1
    if monthly_income_str.find("‰∏á") != -1:
        my_match = re.search(shousu_pattern, monthly_income_str)
        return float(my_match.group(0))*10000
    else:
        try:
            return float(monthly_income_str)
        except ValueError:
            return -1
    
monthly_income_int = test_copied["MonthlyIncome"].map(extract_monthly_income)
test_copied.loc[:, "MonthlyIncome_int"] = monthly_income_int

test_preprocesse = test_copied[[
    'Age_int', 'TypeofContact_int', 'CityTier', 'Duration_int', 'Occupation_int', "Gender_int", "NumberOfPersonVisiting", 
    "NumberOfFollowups_normalized", "ProductPitched_int", "PreferredPropertyStar", "NumberOfTrips_int", "Passport", "PitchSatisfactionScore", "Designation_int", "MonthlyIncome_int"
]]
test_preprocesse.head()

,Age_int,TypeofContact_int,CityTier,Duration_int,Occupation_int,Gender_int,NumberOfPersonVisiting,NumberOfFollowups_normalized,ProductPitched_int,PreferredPropertyStar,NumberOfTrips_int,Passport,PitchSatisfactionScore,Designation_int,MonthlyIncome_int
0,48,0.0,2,780,1,0,1.0,4.0,3,3.0,7,0,3,3,496950.0
1,35,0.0,2,720,1,1,1.0,4.0,1,3.0,4,1,3,2,300000.0
2,25,0.0,1,540,0,1,1.0,4.0,0,3.0,1,0,3,0,260000.0
3,21,1.0,2,420,0,0,1.0,4.0,0,4.0,1,0,3,2,259875.0
4,41,1.0,1,420,0,0,1.0,4.0,0,3.0,1,0,4,0,268830.0

In [593]:
test_copied["customer_info"].value_counts().to_csv("../output/customer_info.csv")

In [594]:
def extract_customer_info_kekkon(customer_info_str: str) -> int:
    if customer_info_str.find("Êú™Â©ö") != -1 or customer_info_str.find("Áã¨Ë∫´") != -1:
        return 0
    if customer_info_str.find("ÁµêÂ©ö") != -1:
        return 1
    if customer_info_str.find("Èõ¢Â©ö") != -1:
        return 2
    else:
        return -1
    
customer_info_kekkon_int = test_copied["customer_info"].map(extract_customer_info_kekkon)
test_copied.loc[:, "customer_info_kekkon_int"] = customer_info_kekkon_int
test_copied["customer_info_kekkon_int"].value_counts()

customer_info_kekkon_int
1    1462
0    1217
2     810
Name: count, dtype: int64

In [595]:
def extract_customer_info_car(customer_info_str: str) -> int:
    if customer_info_str.find("ËªäÊâÄ") != -1 or customer_info_str.find("Ëªä„ÅÇ„Çä") != -1:
        return 1
    elif customer_info_str.find("ËªäÊú™ÊâÄ") != -1 or customer_info_str.find("Ëªä„Å™„Åó") != -1 or customer_info_str.find("Ëªä‰øùÊúâ„Å™„Åó") != -1:
        return 0
    else:
        return 1
    
customer_info_car_int = test_copied["customer_info"].map(extract_customer_info_car)
test_copied.loc[:, "customer_info_car_int"] = customer_info_car_int
test_copied["customer_info_car_int"].value_counts()

customer_info_car_int
0    1834
1    1655
Name: count, dtype: int64

In [596]:
test_copied[test_copied["customer_info_car_int"] == -1]["customer_info"].value_counts().to_csv("../output/customer_info2.csv")

In [597]:
child_pattern = r"[0-9]+‰∫∫"
child_pattern2 = r"[0-9]+ÂÖê"

def extract_customer_info_child(customer_info_str: str) -> int:
    if (customer_info_str.find("Â≠ê‰æõ„Å™„Åó") != -1 
        or customer_info_str.find("Â≠ê‰æõÁÑ°„Åó") != -1 
        or customer_info_str.find("Â≠ê‰æõ„Çº„É≠") != -1 
        or customer_info_str.find("ÁÑ°Â≠ê") != -1
        or customer_info_str.find("ÈùûËÇ≤ÂÖêÂÆ∂Â∫≠") != -1
        ):
        return 0
    my_match = re.search(child_pattern, customer_info_str)
    if my_match:
        return int("".join(filter(str.isdigit, my_match[0])))
    my_match2 = re.search(child_pattern2, customer_info_str)
    if my_match2:
        return int("".join(filter(str.isdigit, my_match2[0])))
    else:
        return -1
    
customer_info_child_int = test_copied["customer_info"].map(extract_customer_info_child)
test_copied.loc[:, "customer_info_child_int"] = customer_info_child_int
test_copied["customer_info_child_int"].value_counts()

customer_info_child_int
 1    1564
 0     924
 2     897
 3      67
-1      37
Name: count, dtype: int64

In [598]:
test_copied[test_copied["customer_info_child_int"] == -1]["customer_info"].value_counts()

customer_info
ÁµêÂ©öÊ∏à„Åø/‰πóÁî®Ëªä„Å™„Åó/Â≠ê‰æõ„ÅÆÊï∞‰∏çÊòé     2
ÁµêÂ©öÊ∏à„Åø„ÄÅËá™ÂãïËªäÊâÄÊúâ„ÄÅÂ≠ê‰æõ„ÅÆÊï∞‰∏çÊòé     2
ÁµêÂ©öÊ∏à„Åø„ÄÅËªäÊâÄÊåÅ„ÄÅÂ≠ê‰æõ„ÅÆÊï∞‰∏çÊòé       2
Áã¨Ë∫´„ÄÅËá™ÂãïËªäÊâÄÊúâ„ÄÅÂ≠ê‰æõ„ÅÆÊï∞‰∏çÊòé       2
Áã¨Ë∫´„ÄÅËá™ÂÆ∂Áî®Ëªä„Å™„Åó„ÄÅÂ≠ê‰æõ„ÅÆÊï∞‰∏çÊòé      1
ÁµêÂ©öÊ∏à„Åø„ÄÄËªäÊú™ÊâÄÊåÅ„ÄÄÂ≠êËÇ≤„Å¶Áä∂Ê≥Å‰∏çÊòé     1
ÁµêÂ©öÊ∏à„Åø/Ëá™ÂãïËªäÊâÄÊúâ/Â≠ê‰æõ„ÅÆÊï∞‰∏çÊòé     1
ÁµêÂ©öÊ∏à„Åø„ÄÄËá™ÂÆ∂Áî®Ëªä„ÅÇ„Çä„ÄÄÂ≠ê‰æõ„ÅÆÊï∞‰∏çÊòé    1
ÁµêÂ©öÊ∏à„Åø ËªäÊú™ÊâÄÊåÅ Â≠ê„ÅÆÊï∞‰∏çË©≥       1
ÁµêÂ©öÊ∏à„Åø/ËªäÊâÄÊåÅ/‰∏çÊòé           1
Èõ¢Â©öÊ∏à„Åø„ÄÅËá™ÂãïËªäÊú™ÊâÄÊúâ„ÄÅÂ≠ê‰æõ„ÅÆÊï∞‰∏çÊòé    1
ÁµêÂ©öÊ∏à„Åø„ÄÅËá™ÂãïËªäÊâÄÊúâ„ÄÅ‰∏çÊòé         1
ÁµêÂ©öÊ∏à„Åø/Ëá™ÂÆ∂Áî®Ëªä„Å™„Åó/Â≠ê‰æõ„ÅÆÊï∞‰∏çÊòé    1
ÁµêÂ©öÊ∏à„Åø,Ëá™ÂÆ∂Áî®Ëªä„ÅÇ„Çä,Â≠ê‰æõ„ÅÆÊï∞‰∏çÊòé    1
Èõ¢Â©öÊ∏à„ÅøÔºèËªä„Å™„ÅóÔºèÂ≠êËÇ≤„Å¶Áä∂Ê≥Å‰∏çÊòé      1
ÁµêÂ©öÊ∏à„Åø Ëá™ÂãïËªäÊâÄÊúâ Â≠ê‰æõ„ÅÆÊï∞‰∏çÊòé     1
Èõ¢Â©öÊ∏à„Åø„ÄÅËªä‰øùÊúâ„ÄÅ‰∏çÊòé           1
Áã¨Ë∫´ ËªäÊâÄÊåÅ Â≠ê‰æõ„ÅÆÊï∞‰∏çÊòé         1
ÁµêÂ©öÊ∏à„Åø\tËªäÊâÄÊåÅ\tÂ≠ê‰æõ„ÅÆÊï∞‰∏çÊòé     1
Èõ¢Â©öÊ∏à„Åø„ÄÅËªäÊú™ÊâÄÊåÅ„ÄÅ‰∏çÊòé          1
ÁµêÂ©öÊ∏à„Åø/‰πóÁî®ËªäÊâÄÊåÅ/Â≠ê‰æõ„ÅÆÊï∞‰∏çÊòé     1
ÁµêÂ©öÊ∏à„Åø ËªäÊâÄÊåÅ Â≠ê‰æõ„ÅÆÊï∞‰∏çÊòé       1
ÁµêÂ©öÊ∏à„Åø/ËªäÊú™ÊâÄÊåÅÔºè‰∏çÊòé          1
ÁµêÂ©öÊ∏à„ÅøÔºèËá™ÂÆ∂Áî®Ëªä„ÅÇ„ÇäÔºè‰∏çÊòé        1
Áã¨Ë∫´„ÄÅËªäÊâÄÊåÅ„ÄÅÂ≠ê‰æõ„ÅÆÊï∞‰∏çÊòé         1
ÁµêÂ©öÊ∏à„Åø,ËªäÊâÄÊåÅ,Â≠ê‰æõ„ÅÆÊï∞‰∏çÊòé       1
Èõ¢Â©öÊ∏à„Åø Ëá™ÂãïËªäÊâÄÊúâ Â≠ê‰æõ„ÅÆÊï∞‰∏çÊòé     1
ÁµêÂ©öÊ∏à„Åø„ÄÄËá™ÂãïËªäÊú™ÊâÄÊúâ„ÄÄÂ≠ê‰æõ„ÅÆÊï∞‰∏çÊòé    1
ÁµêÂ©öÊ∏à„Åø Ëá™ÂãïËªäÊâÄÊúâ ‰∏çÊòé         1
ÁµêÂ©öÊ∏à„Åø„ÄÅËªä„ÅÇ„Çä„ÄÅÂ≠ê‰æõ„ÅÆÊï∞‰∏çÊòé       1
ÁµêÂ©öÊ∏à„Åø ËªäÊú™ÊâÄÊåÅ„ÄÄÂ≠ê‰æõ„ÅÆÊï∞‰∏çÊòé      1
ÁµêÂ©öÊ∏à„Åø„ÄÅËá™ÂãïËªäÊâÄÊúâ„ÄÅÂ≠êËÇ≤„Å¶Áä∂Ê≥Å‰∏çÊòé    1
Áã¨Ë∫´„ÄÅËá™ÂãïËªäÊú™ÊâÄÊúâ,Â≠ê‰æõ„ÅÆÊï∞‰∏çÊòé      1
Name: count, dtype: int64

In [599]:
test_preprocesse = test_copied[[
    'Age_int', 'TypeofContact_int', 'CityTier', 'Duration_int', 'Occupation_int', "Gender_int", "NumberOfPersonVisiting", 
    "NumberOfFollowups_normalized", "ProductPitched_int", "PreferredPropertyStar", "NumberOfTrips_int", "Passport", 
    "PitchSatisfactionScore", "Designation_int", "MonthlyIncome_int", "customer_info_kekkon_int", "customer_info_car_int", "customer_info_child_int"
]]
test_preprocesse.head()

,Age_int,TypeofContact_int,CityTier,Duration_int,Occupation_int,Gender_int,NumberOfPersonVisiting,NumberOfFollowups_normalized,ProductPitched_int,PreferredPropertyStar,NumberOfTrips_int,Passport,PitchSatisfactionScore,Designation_int,MonthlyIncome_int,customer_info_kekkon_int,customer_info_car_int,customer_info_child_int
0,48,0.0,2,780,1,0,1.0,4.0,3,3.0,7,0,3,3,496950.0,1,1,0
1,35,0.0,2,720,1,1,1.0,4.0,1,3.0,4,1,3,2,300000.0,1,0,0
2,25,0.0,1,540,0,1,1.0,4.0,0,3.0,1,0,3,0,260000.0,2,0,0
3,21,1.0,2,420,0,0,1.0,4.0,0,4.0,1,0,3,2,259875.0,2,1,0
4,41,1.0,1,420,0,0,1.0,4.0,0,3.0,1,0,4,0,268830.0,0,1,0

In [600]:
test_preprocesse = test_copied[[
    "id",
    'Age_int', 'TypeofContact_int', 'CityTier', 'Duration_int', 'Occupation_int', "Gender_int", "NumberOfPersonVisiting", 
    "NumberOfFollowups_normalized", "ProductPitched_int", "PreferredPropertyStar", "NumberOfTrips_int", "Passport", 
    "PitchSatisfactionScore", "Designation_int", "MonthlyIncome_int", "customer_info_kekkon_int", "customer_info_car_int", "customer_info_child_int",
]]
test_preprocesse.head()

,id,Age_int,TypeofContact_int,CityTier,Duration_int,Occupation_int,Gender_int,NumberOfPersonVisiting,NumberOfFollowups_normalized,ProductPitched_int,PreferredPropertyStar,NumberOfTrips_int,Passport,PitchSatisfactionScore,Designation_int,MonthlyIncome_int,customer_info_kekkon_int,customer_info_car_int,customer_info_child_int
0,3489,48,0.0,2,780,1,0,1.0,4.0,3,3.0,7,0,3,3,496950.0,1,1,0
1,3490,35,0.0,2,720,1,1,1.0,4.0,1,3.0,4,1,3,2,300000.0,1,0,0
2,3491,25,0.0,1,540,0,1,1.0,4.0,0,3.0,1,0,3,0,260000.0,2,0,0
3,3492,21,1.0,2,420,0,0,1.0,4.0,0,4.0,1,0,3,2,259875.0,2,1,0
4,3493,41,1.0,1,420,0,0,1.0,4.0,0,3.0,1,0,4,0,268830.0,0,1,0

In [601]:
test_preprocesse.to_csv("../output/test_preprocessed.csv", index=False)